@model IEnumerable<MMS.Web.Models.SupplierTransaction.SupplierTransaction>
@using MMS.Repository.Managers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }
        .form-floating {
            position: relative;
            width: 15%;
        }
    </style>
</head>
<body>

    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <nav class="reports_customers_head" aria-label="breadcrumb">
                <ol class="breadcrumb font-20">
                    <li class="breadcrumb-item " aria-current="page">Account Payable</li>
                </ol>
            </nav>

            <div class="table-responsive reports_table_responsive">
                <div class="d-flex justify-content-evenly">

                    <div class="form-floating">
                        <select id="supplierid" class="form-select">
                            @foreach (var item in MMS.Web.ExtensionMethod.HtmlHelper.SupplierName())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <label for="floatingSelectGrid">Supplier Name</label>
                    </div>
                    <div class="form-floating">
                        <select id="GRNno" class="form-select">
                            <option value="">Please Select GRN No</option>
                        </select>
                        <label for="floatingSelectGrid">GRN Number</label>
                    </div>
                    <div class="form-floating">
                        <select id="CreditNoteRef" class="form-select">
                            <option value="0">Please Select</option>
                            <option value="1">Open</option>
                            <option value="2">Partial</option>
                            <option value="3">Full-Fill</option>
                        </select>

                        <label for="floatingSelectGrid">Status</label>
                    </div>

                    <div class="form-floating">
                        <input type="date" class="form-control" id="Grndate" />
                        <label for="Grndate">From Date</label>
                    </div>

                    <div class="form-floating">
                        <input type="date" class="form-control" id="GrnDueDate" />
                        <label for="GrnDueDate">To Date</label>
                    </div>

                    <div id="transaction_reports_search4_container" class="reports_search_container_btn">
                        <button type="button" class="manage_customers_btn font-15">
                            <a href="##" id="SearchID" onclick="Search()">FILTER</a>
                        </button>
                    </div>
                </div>
                <div class="manage_customers_table_in_responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="font-16">
                                <th scope="col">
                                    <span>Si.No</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Supplier Name</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Grn NO</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Grn Date</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Grn Value</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Amount Paid</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Balance Amount</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>

                                <th scope="col">
                                    <span>Grn Qty</span>
                                    <span>
                                        <img src="assets/images/sort-arrows-couple-pointing-up-and-down.png" alt="">
                                    </span>
                                </th>
                                <th scope="col"><span>Payments</span></th>
                            </tr>
                        </thead>
                        @if (Model != null && Model.Count() > 0)
                        {
                            <tbody>
                                @{
                                    int currentPage = ViewBag.CurrentPage ?? 1;
                                    int pageSize = ViewBag.PageSize ?? 8;
                                    int totalItems = ViewBag.TotalList.Count;
                                    int startSerialNumber = (currentPage - 1) * pageSize + 1;
                                }
                                @foreach (var i in Model)
                                {
                                    <tr class="font-14">
                                        <td>@startSerialNumber</td>
                                        <td style="text-align:left;">@(i.SupplierMaster != null ? i.SupplierMaster.Suppliername : "")</td>
                                        <td style="text-align:right;">@i.GrnRefNumber</td>
                                        <td>@i.GrnDate.ToString("dd/MM/yyyy")</td>
                                        <td style="text-align:right;">@string.Format("{0:0.00}", i.GrnAmount)</td>
                                        @if (i.GrnPaidAmount == null)
                                        {
                                            <td style="text-align:right;">0</td>
                                            <td style="text-align:right;">@string.Format("{0:0.00}", i.GrnAmount)</td>
                                        }
                                        else if (i.GrnPaidAmount != null)
                                        {
                                            <td style="text-align:right;">@string.Format("{0:0.00}", (i.GrnPaidAmount ?? 0))</td>
                                            <td style="text-align:right;">@string.Format("{0:0.00}", i.GrnBalanceAmount ?? 0)</td>
                                        }
                                        <td style="text-align:right;">@string.Format("{0:0.00}", i.Grnqty) </td>
                                        <td><button class="btn btn-success" id="paynow" onclick="paynow('@i.GrnRefNumber')" title="PayNow">Pay Now</button></td>

                                    </tr>
                                    startSerialNumber++;
                                }

                            </tbody>

                        }
                        else
                        {
                            <tbody>
                                <tr><td colspan="9">No records found</td></tr>
                            </tbody>

                        }
                    </table>
                </div>

                <div class="row manage_customer_show">
                    <div class="font-14 manage_customer_show_I col-xl-6">
                        <span>Showing </span>
                        <select class="form-select font-16" name="manage_customer_show_content" id="manage_customer_show_no" aria-label="select example">
                            <option value="15" @(ViewBag.PageSize == 15 ? "selected" : "")>15</option>
                            <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30</option>
                            <option value="45" @(ViewBag.PageSize == 45 ? "selected" : "")>45</option>
                            <option value="60" @(ViewBag.PageSize == 60 ? "selected" : "")>60</option>
                        </select>
                    </div>

                    <div class="col-xl-6 manage_customer_show_II">
                        <nav class="float-xl-end">
                            <ul class="pagination font-14">
                                <li class="page-item">
                                    <a href="##" id="previousPage" class="page-link">Previous</a>
                                </li>
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a href="@Url.Action("SupplierTransactionGrid", "SupplierTransaction", new { page = i })" class="page-link">@i</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a class="page-link" id="nextPage" href="##">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='details' class="myModalContent"></div>
            </div>
        </div>
    </div>




    <script src="~/Content/js/custom.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>

    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#Payable").attr('checked', true);
        });
  $(document).ready(function() {
    // Function to handle changing the number of items per page
    $('#manage_customer_show_no').change(function() {
        var pageSize = parseInt($(this).val());
        window.location.href = "@Url.Action("SupplierTransactionGrid", "SupplierTransaction")?pageSize=" + pageSize;
    });

    $('#previousPage').click(function(e) {
        e.preventDefault();
        var currentPage = parseInt('@ViewBag.CurrentPage');
        if (currentPage > 1) {
            var previousPage = currentPage - 1;
            window.location.href = "@Url.Action("SupplierTransactionGrid", "SupplierTransaction")?page=" + previousPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
        }
    });

    $('#nextPage').click(function(e) {
        e.preventDefault();
        var currentPage = parseInt('@ViewBag.CurrentPage');
        var totalPages = parseInt('@ViewBag.TotalPages');
        if (currentPage < totalPages) {
            var nextPage = currentPage + 1;
            window.location.href = "@Url.Action("SupplierTransactionGrid", "SupplierTransaction")?page=" + nextPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
        }
    });
});


    </script>

    <script>
        function paynow(arg) {
            $.ajax({
                type: 'GET',
                url: '/SupplierTransaction/SupplierTransaction',
                data: { Id: arg },
                success: function (values) {
                    $('#details').html(values);

                    var options = {
                        backdrop: 'static',
                        keyboard: false
                    };

                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                }
            });
        }

    </script>

    <script>
        function Search() {
            var supplierid = $("#supplierid").val();
            $.ajax({
                type: "GET",
                url: '/SupplierTransaction/SupplierTransactionSearch',
                data: { Supplierid: supplierid },
                dataType: 'json',
                success: function (data) {
                    $("tbody").empty();
                    var startSerialNumber = 1;
                    $.each(data, function (index, i) {
                        $("tbody").append(`
                                <tr class="font-14">
                                    <td>${startSerialNumber}</td>
                                    <td>${i.SupplierMaster != null ? i.SupplierMaster.SupplierName : ""}
                                    <td>${i.GrnRefNumber}</td>
                                    <td>${i.GrnDate}</td>
                                    <td>${i.GrnAmount}</td>
                                    <td>${i.suppliertransaction == null ? '0' : i.suppliertransaction.GrnPaidAmount ?? '0'}</td>
                                    <td>${i.suppliertransaction == null ? i.GrnAmount : i.suppliertransaction.GrnBalanceAmount ?? '0'}</td>
                                    <td>${i.Grnqty}</td>
                                    <td><button class="btn btn-success" onclick="paynow('${i.Id}')" title="Pay Now">Pay Now</button></td>
                                </tr>
                            `);
                        startSerialNumber++;
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred:", status, error);
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#supplierid").change(function () {
                var buyerid = $('#supplierid').val();
                $.ajax({
                    url: '/SupplierTransaction/Getsupplierno',
                    type: "GET",
                    dataType: "JSON",
                    data: { id: buyerid },
                    success: function (values) {
                        $("#GRNno").html("");
                        $("#GRNno").append(
                            $('<option></option>').val(0).html("Please Select GRN No")
                        );
                        $.each(values, function (i, order) {
                            $("#GRNno").append(
                                $('<option></option>').val(order.GRNNumber).html(order.GRNNumber)
                            );
                        });
                    }
                });
            });
        });
    </script>

</body>
</html>
