@model MMS.Web.Models.SupplierTransaction.SupplierTransaction
@using MMS.Repository.Managers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="~/Content/css1/Toast.css" rel="stylesheet" />
    <style>

        strong#close {
            margin-left: 16%;
            cursor: pointer;
        }
    </style>

</head>

<body>

    <div class="edit-section">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Information</h1>
        <div class="customers-details-header">
            <div class="customers-details">
                <div class="customers-details-inner">
                    <p class="font-16">Supplier Name</p>
                    <p class="font-16">@Model.Supplier</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">Supplier Code</p>
                    <p class="font-16">@Model.SupplierCode</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">po Number</p>
                    <p class="font-16">@Model.PoNo</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">po Date</p>
                    <p class="font-16">@Model.PoDate.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">Grn Number</p>
                    <p class="font-16">@Model.GrnRefNumber</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">Grn Date</p>
                    <p class="font-16">@Model.GrnDate.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
            <div class="customers-details">

                <div class="customers-details-inner">
                    <p class="font-16">Grn Quantity</p>
                    <p class="font-16">@string.Format("{0:0.00}", Model.Grnqty)</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">Grn Value</p>
                    <p class="font-16">@string.Format("{0:0.00}", Model.GrnAmount)</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">GrnPaidAmount</p>
                    <p class="font-16">@Model.GrnPaidAmount</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">BalanceAmount</p>
                    <p class="font-16">@string.Format("{0:0.00}", Model.GrnBalanceAmount)</p>
                </div>
                <div class="customers-details-inner">
                    <p class="font-16">Payment Due Date</p>
                    <p class="font-16">@Model.PaymentDate.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
        </div>


        <div class="edit-section">
            <div class="d-flex">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Method</h1>
            </div>
            <div class="edit-merchant-inner-section">
                <div class="input-part">
                    @Html.DropDownListFor(m => m.paymentid, MMS.Web.ExtensionMethod.HtmlHelper.Paymentmethodlist(), new { @class = " sel-dropdown" })
                </div>
            </div>
            <div class="edit-merchant">
                <div class="row">
                    <div class="edit-merchant-inner-section col-lg-6">
                        <div class="input-part" id="Three">
                            @Html.LabelFor(m => m.Cash, "Cash")
                            @Html.TextBoxFor(m => m.Cash, new { @class = "form-control text-field", placeholder = "Enter Cash", style = "width: 80%; margin-right: 523px;", onKeyUp = "PAYCashfun()" })
                        </div>
                        <p id="pcerror" style="color: red;"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part" id="one">
                            @Html.LabelFor(m => m.CreditNoteRefNo, "Credit Note Number :")
                            @Html.TextBoxFor(m => m.CreditNoteRefNo, new { @class = "form-control text-field", placeholder = "Enter Credit Number", onKeyUp = "creditnotereffun()" })
                        </div>
                        <p id="Creditnoteerror" style="color: red;"></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part" id="one1">
                            @Html.LabelFor(m => m.CreditNoteDate, "Credit Note Date :")
                            @Html.TextBoxFor(m => m.CreditNoteDate, new { @class = "form-control", type = "date", onchange = "creditnotedatefun()" })
                        </div>
                        <p id="Creditdateerror" style="color: red;"></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part" id="one2">
                            @Html.LabelFor(m => m.CreditNoteValue, "Credit Note Value :")
                            @Html.TextBoxFor(m => m.CreditNoteValue, new { @class = "form-control text-field", placeholder = "Enter Credit Amount", onKeyUp = "creditnotevaluefun()" })
                        </div>
                        <p id="Creditvalerror" style="color: red;"></p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part" id="two">
                            @Html.LabelFor(m => m.PaymentAmount, "Payment Amount:")
                            @Html.TextBoxFor(m => m.PaymentAmount, new { @class = "form-control text-field", placeholder = "Enter Amount", onKeyUp = "Payablepayfun()" })
                        </div>
                        <p id="Payablepayerror" style="color: red;"></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part" id="two1">
                            @Html.LabelFor(m => m.PaymentRefNo, "Payment Ref No :")
                            @Html.TextBoxFor(m => m.PaymentRefNo, new { @class = "form-control text-field", placeholder = "Enter Payment RefNo", onKeyUp = "Payablepayreffun()" })
                        </div>
                        <p id="Payablepayreferror" style="color: red;"></p>
                    </div>

                </div>

            </div>
        </div>
        <div id="payablecash">
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" id="makepayment" onclick="Save(); PAYCashfun()">Make Payment</button>
            </div>
        </div>
        <div id="credit">
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" id="makepayment" onclick="Save(); Payablecreditfun()">Make Payment</button>

            </div>
        </div>
        <div id="Payablepayment">
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" id="makepayment" onclick="Save(); Payablepaysfun()">Make Payment</button>

            </div>
        </div>

    </div>
    <div id="toast"></div>

    <script src="~/Content/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/content/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/js/Validation.js"></script>
    <script>
        $(document).ready(function () {
            $("#two").hide();
            $("#two1").hide();
            $("#one").hide();
            $("#one1").hide();
            $("#one2").hide();
            $("#Three").hide();
            $("#payablecash").hide();
            $("#credit").hide();
            $("#Payablepayment").hide();
            $(document).on("click", "#paymentid", function () {
                var data = $("#paymentid").val();
                if (data == 2) {
                    $("#one").show();
                    $("#one1").show();
                    $("#one2").show();
                    $("#two").hide();
                    $("#two1").hide();
                    $("#Three").hide();
                    $('#pcerror').text("");
                    $('#Payablepayerror').text("");
                    $('#Payablepayreferror').text("");
                    $("#payablecash").hide();
                    $("#credit").show();
                    $("#Payablepayment").hide();
                }
                else if (data == 1 || data == 4 || data == 5 || data == 6) {
                    $("#two").show();
                    $("#two1").show();
                    $("#one").hide();
                    $("#one1").hide();
                    $("#one2").hide();
                    $('#pcerror').text("");
                    $('#Creditdateerror').text("");
                    $('#Creditnoteerror').text("");
                    $('#Creditvalerror').text("");
                    $("#Three").hide();
                    $("#payablecash").hide();
                    $("#credit").hide();
                    $("#Payablepayment").show();
                }
                else if (data == 3) {
                    $("#Three").show();
                    $("#two").hide();
                    $("#two1").hide();
                    $("#one").hide();
                    $("#one1").hide();
                    $('#Creditdateerror').text("");
                    $('#Creditnoteerror').text("");
                    $('#Creditvalerror').text("");
                    $('#Payablepayerror').text("");
                    $('#Payablepayreferror').text("");
                    $("#one2").hide();
                    $("#payablecash").show();
                    $("#credit").hide();
                    $("#Payablepayment").hide();
                }
                else {
                    $("#two").hide();
                    $("#two1").hide();
                    $("#one").hide();
                    $("#one1").hide();
                    $("#one2").hide();
                    $("#payablecash").hide();
                    $("#credit").hide();
                    $("#Payablepayment").hide();
                    $("#Three").hide();
                }
            });
        });

        function Save() {
            var PaymentRefNo = $("#PaymentRefNo").val();
            var CreditNoteRefNo = $("#CreditNoteRefNo").val();
            var CreditNoteValue = $("#CreditNoteValue").val();
            var CreditNoteDate = $("#CreditNoteDate").val();
            var PaymentAmount = $("#PaymentAmount").val();
            var Cash = $("#Cash").val();
            var filter = /^[0-9]+(\.[0-9]+)?$/;
            if (filter.test(Cash) || (filter.test(PaymentAmount) && PaymentRefNo != "") || (filter.test(CreditNoteValue) && CreditNoteRefNo != "" && CreditNoteDate != "")) {
                if (@Model.GrnBalanceAmount == "0.00") {
                    showsfullpaymentToast();
                }
                else {

                    var Supplier = "@Model.Supplier";
                    var Supplierid = "@Model.SupplierId";
                    var PaymentDate = "@Model.PaymentDate";
                    var paymentid = $("#paymentid").val();
                    var GrnRefNumber = "@Model.GrnRefNumber";
                    var GrnDate = "@Model.GrnDate";
                    var GrnDueDate = "@Model.GrnDueDate";
                    var GrnAmount = "@Model.GrnAmount";
                    var GrnPaidAmount = "@Model.GrnPaidAmount";
                    var GrnBalanceAmount = "@Model.GrnBalanceAmount";
                    var IsTransactionOnHold = $("#IsTransactionOnHold").val();

                    var Id = "@Model.Id";

                    var formdata = new FormData();
                    formdata.append("Supplier", Supplier);
                    formdata.append("Supplierid", Supplierid);
                    formdata.append("PaymentDate", PaymentDate);
                    formdata.append("PaymentAmount", PaymentAmount);
                    formdata.append("GrnRefNumber", GrnRefNumber);
                    formdata.append("GrnDate", GrnDate);
                    formdata.append("GrnDueDate", GrnDueDate);
                    formdata.append("GrnAmount", GrnAmount);
                    formdata.append("GrnPaidAmount", GrnPaidAmount);
                    formdata.append("GrnBalanceAmount", GrnBalanceAmount);
                    formdata.append("IsTransactionOnHold", IsTransactionOnHold);
                    formdata.append("PaymentRefNo", PaymentRefNo);
                    formdata.append("CreditNoteRefNo", CreditNoteRefNo);
                    formdata.append("CreditNoteValue", CreditNoteValue);
                    formdata.append("CreditNoteDate", CreditNoteDate);
                    formdata.append("paymentid", paymentid);
                    formdata.append("Cash", Cash);
                    formdata.append("Id", Id);
                    $.ajax({
                        type: 'POST',
                        url: '/SupplierTransaction/SupplierTransactionDataInsert',
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (values) {
                            var data = JSON.parse(values);
                            if (data === "success") {
                                Swal.fire({
                                    title: 'Success!!',
                                    text: 'Your Payment has Done Successful!',
                                    icon: 'success',
                                    timer: 2000,
                                    timerProgressBar: true,
                                    showConfirmButton: false
                                });
                                setTimeout(function () {
                                    location.href = "/SupplierTransaction/SupplierTransactionGrid";
                                    return false;
                                }, 1500);
                            }
                            else if (data === "Done") {
                                showsfullpaymentToast();
                            }
                            else if (data == "Incorrect") {
                                showscrtpaymentToast();
                            }

                        }

                    });

                }
            }
        }
    </script>
</body>

</html>
