@model MMS.Web.Models.BuyerMaserModel.BuyerMasterModel
@using MMS.Repository.Managers
@using MMS.Core.Entities
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>

<body>



    <div class="main-page">
        <section class="inner-section">
            <div class="edit-customer">
                <a href="/BuyerMater/BuyerMater">
                    <div class="back-button"><img src="~/Content/assets/images/choose-plan.png" alt="back arrow"></div>
                </a>
                <h2 class=" font-20">Buyer info</h2>

            </div>


            <div class="edit-section">
                <h3 class="font-20">Basic Information</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#CustomerName">BuyerName</label>
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control text-field", placeholder = "Enter the Buyer Name" })
                            @Html.HiddenFor(m => m.BuyerMasterId)
                            <p class="text-danger" id="CustomerNameResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#BuyerCode">BuyerCode</label>
                            @Html.TextBoxFor(m => m.BuyerCode, new { @class = "form-control text-field", placeholder = "Enter the  BuyerCode " })
                            <p class="text-danger" id="BuyerCodeResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#BuyerShortName">BuyerShortName</label>
                            @Html.TextBoxFor(m => m.BuyerShortName, new { @class = "form-control text-field", placeholder = "Enter the BuyerShortName" })
                            <p class="text-danger" id="NameResult"></p>

                            <p id="NameResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#EmailContact">Email Contact</label>
                            @Html.TextBoxFor(m => m.EmailContact, new { @class = "form-control text-field", placeholder = "Enter the Email Contact" })
                            <p class="text-danger" id="EmailResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Account">Account</label>
                            @Html.TextBoxFor(m => m.Account, new { @class = "form-control text-field", placeholder = "Enter the Account" })
                            <p class="text-danger" id="AccountResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#AccountName">Account Name</label>
                            @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control text-field", placeholder = "Enter the Account Name" })
                            <p class="text-danger" id="AccountNameResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#AccountDescription">Account Description</label>
                            @Html.TextBoxFor(m => m.AccountDescription, new { @class = "form-control text-field", placeholder = "Enter the Account Description" })
                            <p class="text-danger" id="AccountDescriptionResult"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#SwiftCode">Swift Code</label>
                            @Html.TextBoxFor(m => m.SwiftCode, new { @class = "form-control text-field", placeholder = "Enter the Swift Code" })
                            <p class="text-danger" id="SwiftCodeResult"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Physical1">Physical Address 1</label>
                            @Html.TextAreaFor(m => m.Physical1, new { @class = "form-control text-field", placeholder = "Enter the Physical Address 1" })
                            <p class="text-danger" id="Physical1Result"></p>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#PhysicalCode">Physical Code</label>
                            @Html.TextBoxFor(m => m.PhysicalCode, new { @class = " form-control text-field", placeholder = "Enter the Physical Code" })
                            <p class="text-danger" id="PhysicalCodeResult"></p>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#CurrencyId">Currency</label>
                            @Html.DropDownListFor(m => m.CurrencyId, MMS.Web.ExtensionMethod.HtmlHelper.CurrencyName(), new { @class = "select-style text-field" })
                            <p class="text-danger" id="CurrencyIdResult"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Telephone1">Telephone 1</label>
                            @Html.TextBoxFor(m => m.Telephone1, new { @class = "form-control text-field", placeholder = "Enter the Telephone 1" })
                            <p class="text-danger" id="Telephone1Result"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Telephone2">Telephone 2</label>
                            @Html.TextBoxFor(m => m.Telephone2, new { @class = "form-control text-field", placeholder = "Enter the Telephone 2" })
                            <p class="text-danger" id="Telephone2Result"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#EmailAccounts">Email Accounts</label>
                            @Html.TextBoxFor(m => m.EmailAccounts, new { @class = "form-control text-field", placeholder = "Enter the Email Accounts" })
                            <p class="text-danger" id="EmailAccountsResult"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#EmailEmergency">Email Emergency</label>
                            @Html.TextBoxFor(m => m.EmailEmergency, new { @class = "form-control text-field", placeholder = "Enter the Email Emergency" })
                            <p class="text-danger" id="EmailEmergencyResult"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#AccountTypeId">Account Type </label>
                            @Html.DropDownListFor(m => m.AccountTypeId, MMS.Web.ExtensionMethod.HtmlHelper.accountypeName(), new { @class = "select-style text-field" })
                            <p class="text-danger" id="AccountTypeIdResult"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#VatNumber">Vat Number</label>
                            @Html.TextBoxFor(m => m.VatNumber, new { @class = "form-control text-field", placeholder = "Enter the Vat Number" })
                            <p class="text-danger" id="VatNumberResult"></p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#RegNumber">Reg Number</label>
                            @Html.TextBoxFor(m => m.RegNumber, new { @class = "form-control text-field", placeholder = "Enter the Reg Number" })
                            <p class="text-danger" id="RegNumberResult"></p>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#CreditLimit">Credit Limit</label>
                            @Html.TextBoxFor(m => m.CreditLimit, new { @class = "form-control text-field", placeholder = "Enter the Credit Limit" })
                            <p class="text-danger" id="CreditLimitResult"></p>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Interest">Interest</label>
                            @Html.TextBoxFor(m => m.Interest, new { @class = "form-control text-field", placeholder = "Enter the Interest" })
                            <p class="text-danger" id="InterestResult"></p>
                        </div>
                    </div>




                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#TaxTypeId">Tax Type </label>
                            @Html.DropDownListFor(m => m.TaxTypeId, MMS.Web.ExtensionMethod.HtmlHelper.GetTaxRef(), new { @class = "select-style text-field" })
                            <p class="text-danger" id="TaxTypeIdResult"></p>
                        </div>

                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#ForeignCurrency">Foreign Currency </label>
                            @Html.DropDownListFor(m => m.ForeignCurrency, MMS.Web.ExtensionMethod.HtmlHelper.forCurrencyName(), new { @class = "select-style text-field" })
                            <p class="text-danger" id="ForeignCurrencyResult"></p>

                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#DcBalance">DcBalance</label>
                            @Html.TextBoxFor(m => m.DcBalance, new { @class = "form-control text-field", placeholder = "Enter the DcBalance" })
                            <p class="text-danger" id="DcBalanceResult"></p>
                        </div>
                    </div>

                    @*<div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ForeignDcBalance">ForeignDcBalance</label>
                                @Html.TextBoxFor(m => m.ForeignDcBalance, new { @class = "form-control text-field", placeholder = "Enter the ForeignDcBalance" })
                                <p class="text-danger" id="ForeignDcBalanceResult"></p>
                            </div>
                        </div>*@


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Website">Website</label>
                            @Html.TextBoxFor(m => m.Website, new { @class = "form-control text-field", placeholder = "Enter the Website" })
                            <p class="text-danger" id="WebsiteResult"></p>
                        </div>
                    </div>

                </div>

                <div class="row">

                </div>
                <div class="inner-section-button mt-4">

                    <button type="submit" id="savebutton" class="fill-color font-15" onclick="Save()">
                        SAVE
                    </button>

                    <a href="/BuyerMater/BuyerMater">
                        <button class="border-color font-15">
                            CANCEL
                        </button>
                    </a>
                </div>
            </div>

        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="~/content/js/custom.js"></script>
    <script src="~/content/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/js/Validation.js"></script>



    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#BuyerMater").attr('checked', true);
        });
    </script>



</body>
</html>


















































































