@model MMS.Web.Models.InspectionTypeMasterModel.InspectionTypeMasterModel
@using MMS.Repository.Managers
@using MMS.Core.Entities
@{

}

<div class="right-form-section clearfix">
    <form role="form" class="form-inline">
        <div class="container-fluid">

            <div class="field-section">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <p class="section-title">Inspection Type Master</p>
                    <div class="radio-btn-wrapper">
                        <div class="radio">
                            <label>

                                @if (Model != null && Model.Inspection == 1)
                                {
                                @Html.RadioButtonFor(m => m.RadioButtonValue, "rawMaterial", new { @class = "btnMaterial", @checked = true })<span>Raw Material</span>
                                }
                                else
                                {
                                @Html.RadioButtonFor(m => m.RadioButtonValue, "rawMaterial", new { @class = "btnMaterial" })<span>Raw Material</span>
                                }
                            </label>
                        </div>
                        <div class="radio">
                            <label>

                                @if (Model != null && Model.Inspection == 2)
                                {
                                @Html.RadioButtonFor(m => m.RadioButtonValue, "Production", new { @class = "btnMaterial", @checked = true })<span>Production</span>
                                }
                                else
                                {
                                @Html.RadioButtonFor(m => m.RadioButtonValue, "Production", new { @class = "btnMaterial" })<span>Production</span>
                                }
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding">
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label class="form-label" for="text">Inspection Report Name</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">

                                        @Html.TextBoxFor(m => m.InspectionReportName, new { @class = "form-control text-field" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding">
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label class="form-label" for="text">Operation</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">

                                        @Html.DropDownListFor(m => m.OperationId, MMS.Web.ExtensionMethod.HtmlHelper.GetOperation(), new { @class = "select-style text-field" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <p class="section-title">Parameter</p>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                            <div class="field-section">
                                <div class="form-group">

                                    <label class="form-label auto-height" for="text">Code</label>

                                    @Html.TextBoxFor(x => x.Code, new { @class = "form-control text-field",@readonly=true })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="field-section">
                                <div class="form-group">

                                    <label class="form-label auto-height" for="text">Parameter</label>

                                    @Html.TextBoxFor(m => m.Parameter, new { @class = "form-control text-field" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                            <div class="field-section">
                                <div class="form-group">

                                    <label class="form-label auto-height" for="text">Inspection Frequency</label>

                                    @Html.TextBoxFor(m => m.InspectionFrequency, new { @class = "form-control text-field" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                            <div class="field-section">
                                <div class="form-group">

                                    <label class="form-label auto-height" for="text">Type</label>

                                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control text-field" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                            <div class="field-section">
                                <div class="form-group">

                                    <label class="form-label auto-height" for="text">Common Cause</label>

                                    @Html.TextBoxFor(m => m.CommonCause, new { @class = "form-control text-field" })
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>


        <div class="form-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">

                    <input type="button" onclick="Cancel()" class="btn btn-default btn-style" title="Back" value="Back">
                    @if (Model != null && Model.InspectionTypeMasterId != 0)
                    {
                    @Html.HiddenFor(x => x.InspectionTypeMasterId)
                    <input type="button" onclick="Update()" class="btn btn-default btn-style" id="InspectionTypeMasterId" title="Update" value="Update">
                    }
                    else
                    {
                    <input type="button" onclick="Save()" class="btn btn-default btn-style" title="Save" value="Save">
                    }
                    <button class="btn btn-default btn-style" type="submit">Clear</button>
                </div>
            </div>
        </div>
    </form>
    <p class="bottom-para"><b>Instructions about this master</b> </p>
    <p>This master is used in production inspection / Raw Material inspecitionField;</p>
    <ul>
        <li>Inspection report name: Name of the Inspection</li>
        <li>Operation:Called from Operation master</li>
        <li>Code:Automatic - 3 Character from Opration master</li>
        <li>Parameter:Detects name</li>
        <li>Inspection Frequency : is all the component to be Checked or Periodical</li>
        <li>Type: What action to be taken- Recut, rework(if recut-leather and other cutting material to be given). Common Cause:</li>
        <li>Type: What action to be taken- Recut, rework(if recut-leather and other cutting material to be given). Common Cause:</li>
    </ul>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="~/Scripts/EasyAutocomplete-1.3.5/comboStyles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/EasyAutocomplete-1.3.5/ComboBox.js"></script>
<script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });
    $("#OperationId").combobox();
</script>
