@model MMS.Web.Models.StageMaser.StageMasterModel
<div id="no-more-tables" class="col-xs-12 no-padding hole_table">
    <table id="table_grid_sequence" class="col-md-12 table-striped table-condensed cf table-change home_dahboard color_table">
        <thead>
            <tr>
                <th>Stage Code</th>
                <th>Stage Name</th>
                <th>Sequence</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody ID="table_grid_ROW" class="common-table-head">
            @if (Model.StageMasterList != null && Model.StageMasterList.Count > 0)
            {
                int count = 1;

                foreach (var StageMaster in Model.StageMasterList)
                {
                    <tr id="@StageMaster.StageMasterId">
                        <td data-title="OperationType Code">@StageMaster.StageCode</td>
                        <td data-title="OperationType Code">@StageMaster.StageName</td>
                        <td data-title="Sequence"><input type="number" class="form-control Sequence" id="@StageMaster.StageMasterId" value="@StageMaster.Sequence" min="1" style="width: 76px;"></td>



                        <td data-title="Action">
                            <span class="action-icons">

                                <a><img onclick="Edit_Grid_seq('@StageMaster.StageMasterId')" class="use-address" src="~/Scripts/Jobwork/images/edit.png"></a>
                                <img onclick="Delete_Grid_seq('@StageMaster.StageMasterId')" class="use-address" src="~/Scripts/Jobwork/images/delete.png">
                            </span>
                        </td>
                    </tr>
                    count++;
                }

            }
        </tbody>
    </table>
    <div class="init_action cntl_btn col-lg-12 col-md-12 col-sm-12">

        <button class="btn green-btn" onclick="save_sequence()">Save sequence</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".Sequence").keypress(function () {
          return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57
        });
    });
</script>