@model MMS.Web.Models.Production.ProductionModel
@{
    var productionPerDay = ViewBag.ProductionPerDay; // Retrieve the value from ViewBag
                                                     //var production = Model.Production;
                                                     //var subassembly = Model.Subassembly;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css1/dropdown.css" rel="stylesheet" />
    

    <style>
        table, th, td {
            border: 1px solid #C9C9C9;
            border-collapse: collapse;
            text-align: center;
        }

        td {
            padding: 1px;
        }

        th {
            padding: 22px 25px;
            font-size: 14px;
            font-family: 'Poppins';
            color: #292b2c;
        }

        .salesOrder td input {
            border: navajowhite;
            width: 100px;
            text-align: center;
        }

        .salesOrder {
            margin-left: 11px;
            margin-top: 7%;
        }

        div#billingadd {
            margin-top: -8%;
        }

        .form-group.col-3.mt-4 {
            margin-left: 9px;
        }

        p#Grandtotal {
            padding: 15%;
        }

        .alert {
            position: relative;
            padding: 5px 1rem;
        }

        .alert-danger {
            color: #842029;
            background-color: #f8d7da;
            border-color: #f5c2c7;
            width: 118%;
        }

        strong#close {
            margin-left: 16%;
            cursor: pointer;
        }

        #alert {
            margin-left: 24%;
        }

        /* Style the container for a clean and well-organized layout */
        .currency-selector {
            display: flex;
            margin: 10px auto; /* Add some margin for spacing */
        }

            /* Style the radio buttons for improved appearance */
            .currency-selector input[type="radio"] {
                display: none; /* Hide the default radio buttons */
            }

            /* Style the labels for visual representation of options */
            .currency-selector label {
                position: relative;
                padding: 10px 45px;
                cursor: pointer; /* Indicate interactivity */
                border: 1px solid #ccc; /* Add a border for definition */
                border-radius: 5px; /* Round corners for a softer look */
                margin-right: 10px; /* Add spacing between options */
                font-weight: bold; /* Make text slightly bolder */
            }

                /* Style the radio button indicator (pseudo-element) */
                .currency-selector label::after {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #ccc; /* Match border style of label */
                    border-radius: 50%; /* Create a circle for the indicator */
                    position: absolute;
                    top: 50%;
                    left: 10px; /* Adjust horizontal position if needed */
                    transform: translateY(-50%); /* Center the indicator vertically */
                    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
                }

            /* Style the checked radio button indicator */
            .currency-selector input[type="radio"]:checked + label::after {
                background-color: #4CAF50; /* Green color when selected */
            }

            /* Style the label text on hover (optional) */
            .currency-selector label:hover {
                background-color: #f2f2f2; /* Lighten background on hover */
            }

        /* Define colors for the stripes */
        .table-striped tbody tr:nth-child(odd) {
            background-color: #f2f2f2; /* Light gray */
        }

        .table-striped tbody tr:nth-child(even) {
            background-color: #ffffff; /* White */
        }

        /* Additional styling */
        .table-striped th, .table-striped td {
            padding: 8px; /* Adjust as needed */
            border: 1px solid #dddddd; /* Add borders */
        }

        /* Optional: Hover effect */
        .table-striped tbody tr:hover {
            background-color: #d9edf7; /* Light blue */
        }

        .font-bold {
            font-weight: bold !important;
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="main-page">
        <!-- page-contents here -->
        <section class="inner-section">
            <div class="edit-customer">
                <a href="/Production/ProductionMaster">
                    <div class="back-button"><img src="~/Content/assets/images/choose-plan.png" alt="back arrow"></div>
                </a>
                <h2 class=" font-20">Production Details</h2>
                <div id="alert">

                </div>
            </div>
          
                <div class="edit-section">
                    @*<h3 class="font-20">Basic Information</h3>*@
                    <div class="row">
                        <div class="dashboard-content radio-option col-xs-12">
                            <form action="#" style="margin-bottom: 26px;">
                                <div class="row">
                                    <div class="col-lg-3 col-md-2 col-sm-12">
                                        @Html.RadioButtonFor(model => model.Productions, true, new { @class = "with-gap", id = "productions" })
                                        <label for="productions">Productions</label>
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-sm-12">
                                        @Html.RadioButtonFor(model => model.SubAssembly, true, new { @class = "with-gap", id = "subassembly" })
                                        <label for="subassembly">Sub Assembly</label>
                                    </div>
                                    <div class="col-lg-3 col-md-2 col-sm-12">
                                        @Html.RadioButtonFor(model => model.Inprogress, true, new { @class = "with-gap", id = "inprogress" })
                                        <label for="inprogress">In Progress</label>
                                    </div>


                                    <div class="col-lg-3 col-md-6 col-sm-12" style="margin-top:-15px">
                                        <div class="input-part">
                                            <label class="font-14" for="#StoreCode">Store Code</label>
                                            @Html.DropDownListFor(m => m.StoreCode, MMS.Web.ExtensionMethod.HtmlHelper.Store(), new { @class = "select-style text-field",id= "StoreCode" })
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductionDate">Production Date</label>
                                @Html.TextBoxFor(m => m.ProductionDate, "{0:dd-MM-yyyy}", new { @class = "form-control text-field", @id = "ProductionDate" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductId">Product Name</label>
                                @Html.DropDownListFor(m => m.ProductId, MMS.Web.ExtensionMethod.HtmlHelper.ProductName(), new { @class = "select-style text-field", id = "ProductId" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductCode">Product Code</label>
                                @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductionCode">Batch Code</label>
                                @Html.TextBoxFor(m => m.ProductionCode, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#RequiredQty">Required Qty</label>
                                @Html.TextBoxFor(m => m.RequiredQty, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#MinQty">Min Qty</label>
                                @Html.TextBoxFor(m => m.MinQty, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#MaxQty">Max Qty</label>
                                @Html.TextBoxFor(m => m.MaxQty, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductionQty">Production Qty</label>
                                @Html.TextBoxFor(m => m.ProductionQty, new { @class = "form-control text-field" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductionPerDay">Production PerDay</label>
                                @Html.TextBoxFor(m => m.ProductionPerDay, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#ProductionDueDate">Production Duedate</label>
                                @Html.TextBoxFor(m => m.ProductionDueDate, "{0:dd-MM-yyyy}", new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#QuantityToManufacture">Quantity To Manufacture</label>
                                @Html.TextBoxFor(m => m.QuantityToManufacture, new { @class = "form-control text-field" })
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="input-part">
                                <label class="font-14" for="#AvailableToManufacture">Available To Manufacture</label>
                                @Html.TextBoxFor(m => m.AvailableToManufacture, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12" id="productionstat">
                            <div class="input-part">
                                <label class="font-14 font-bold" for="#ProductionStatus">Production Status</label>
                                @Html.DropDownListFor(m => m.ProductionStatus, MMS.Web.ExtensionMethod.HtmlHelper.StatusProduction(), new { @class = "select-style text-field font-bold",id = "ProductionStatus" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12" id="productionsubassembly">
                            <div class="input-part">
                                <label class="font-14 font-bold" for="#ProductionSubassemblyStatus">SubAssembly Status</label>
                                @Html.DropDownListFor(m => m.ProductionSubassemblyStatus, MMS.Web.ExtensionMethod.HtmlHelper.StatusProductionSubassembly(), new { @class = "select-style text-field font-bold", id = "ProductionSubassemblyStatus" })
                            </div>
                        </div>

                        <div class="inner-section-button mt-4" id="productions1">

                            <button class="fill-color font-15" type="submit" onclick="Save('@(Model != null ? Model.ProductionId.ToString() : "")')">
                                SAVE
                            </button>

                            <a href="/Production/ProductionMaster">
                                <button class="border-color font-15">

                                    CANCEL
                                </button>
                            </a>
                        </div>

                        <div class="inner-section-button mt-4" id="subassembly1">

                            <button class="fill-color font-15" type="submit" onclick="Addsubassembly('@(Model != null ? Model.ProductionId.ToString() : "")')">
                                ADD Subassembly
                            </button>

                            <a href="/Production/ProductionMaster">
                                <button class="border-color font-15">

                                    CANCEL
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
            
            

            <br />
            <br />
            <div class="sheet_pair_2 mob_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" id="tablematerial">
                <!-- <div class="col-xs-12 block-section"> -->

                <div id="no-more-tables" class="col-xs-12 no-padding hole_table">
                    <h5 style="margin-left:31px">Material Ready for Production List</h5>
                    <br />
                    <table style="margin-left:31px" id="table_grid" class="col-md-8 table-striped table-condensed cf table-change home_dahboard color_table">
                        <thead>
                            <tr>
                                <th>S NO</th>
                                <th>Material Name</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody ID="table_grid_ROW" class="common-table-head">
                        </tbody>
                    </table>
                </div>
                <br />
                <br />

                <div id="no-more-tables" class="col-xs-12 no-padding hole_table">
                    <h5 style="margin-left:31px">Manufacturing Material List</h5>
                    <br />
                    <table style="margin-left:31px" id="table_grid" class="col-lg-11 table-striped table-condensed cf table-change home_dahboard color_table">
                        <thead>
                            <tr>
                                <th>S NO</th>
                                <th>Bom Name</th>
                                <th>Producttype</th>
                                <th>Def purchase qty</th>
                                <th>Uom</th>
                                <th>Consume qty</th>
                                <th>Stock on Hand</th>
                                <th>New Stock on Hand</th>
                                <th>Can Manufacture Stock</th>
                                <th>Can Manufacture</th>
                            </tr>
                        </thead>
                        <tbody ID="table_grid_ROW1" class="common-table-head">
                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                <div id="no-more-tables" class="col-xs-12 no-padding hole_table">
                    <h5 style="margin-left:31px">Manufacturing Subassembly List</h5>
                    <br />
                    <table style="margin-left:31px" id="table_grid" class="col-lg-11 table-striped table-condensed cf table-change home_dahboard color_table">
                        <thead>
                            <tr>
                                <th>S NO</th>
                                <th>Bom Name</th>
                                <th>Producttype</th>
                                <th>Def purchase qty</th>
                                @*<th>Uom</th>*@
                                <th>Consume qty</th>
                                <th>Stock on Hand</th>
                                <th>New Stock on Hand</th>
                                <th>Can Manufacture Stock</th>
                                <th>Can Manufacture</th>
                                <th>Checksubmaterial</th>
                            </tr>
                        </thead>
                        <tbody ID="table_grid_ROW2" class="common-table-head">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- page-contents end -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/dropdown.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script>
        $(document).ready(function () {
            $("#tablematerial").hide();
            $("#subassembly1").hide();
            $('#productionsubassembly').hide();
            // Click event handler for the "Productions" radio button
            $("#productions").click(function () {
                $("#subassembly1").hide();
                $('#productionsubassembly').hide();
                $("#productions1").show();
                $('#productionstat').show();
                // Uncheck the other two radio buttons
                $("#subassembly").prop("checked", false);
                $("#inprogress").prop("checked", false);
            });

            // Click event handler for the "Sub Assembly" radio button
            $("#subassembly").click(function () {
                $("#subassembly1").show();
                $('#productionsubassembly').show();
                $("#productions1").hide();
                $('#productionstat').hide();
                // Uncheck the other two radio buttons
                $("#productions").prop("checked", false);
                $("#inprogress").prop("checked", false);
            });

            // Click event handler for the "In Progress" radio button
            $("#inprogress").click(function () {
                // Uncheck the other two radio buttons
                $("#productions").prop("checked", false);
                $("#subassembly").prop("checked", false);
            });

            $(document).on('click', '.material-check-button', function () {
                var targetModalId = $(this).data('target'); // Get the modal ID from data-target attribute
                $(targetModalId).modal('show'); // Show the modal corresponding to the clicked button
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var prevProductionQty = ""; // Variable to store the previous value of ProductionQty
            var prevConsumeqty = {}; // Object to store previous consumption values for each row
            var productionQty = ""; // Declare productionQty at the outer scope
            var roundstock = ""; // Declare roundstock at the outer scope

            // Event listener for ProductionQty input
            $('#ProductionQty').on('input', function () {
                productionQty = $(this).val(); // Assign the input value to productionQty

                if (productionQty !== prevProductionQty) {
                    if (productionQty !== "") {
                        updateConsumeqty(productionQty);
                        updateBomConsumeqty(productionQty);
                        updateNewStockHand();
                        updateCanManufactureStock();
                        updateCanManufacture(productionQty);
                        updatesubassemblyConsumeqty(productionQty);
                        updatesubassemblynewstockhand();
                        updatesubassemblycanmanufacutrestock();
                        updatesubassemblycanmanufacture(productionQty);

                    } else {
                        // If productionQty is empty, revert to the previous consumption quantity for each row
                        $('#table_grid_ROW tr').each(function (index) {
                            $(this).find('.veh-1:eq(2)').text(prevConsumeqty[index]);
                        });
                        // Clear  values if ProductionQty is empty
                        $('#table_grid_ROW1 td.bomconsumeqty').text('');
                        $('#table_grid_ROW1 td.newstockhand').text('');
                        $('#table_grid_ROW1 td.canmanufacutrestock').text('');
                        $('#table_grid_ROW1 td.canmanufacture').text('');
                        $('#table_grid_ROW2 td.subassemblyconsumeqty').text('');
                        $('#table_grid_ROW2 td.subassemblynewstockhand').text('');
                        $('#table_grid_ROW2 td.subassemblycanmanufacutrestock').text('');
                        $('#table_grid_ROW2 td.subassemblycanmanufacture').text('');
                    }

                    prevProductionQty = productionQty;
                }
            });

            // Function to update the consumption quantity in #table_grid_ROW
            function updateConsumeqty(productionQty) {
                $('#table_grid_ROW tr').each(function (index) {
                    var $row = $(this);
                    var consumeqty = parseFloat($row.find('.veh-1:eq(2)').text());

                    if (!isNaN(consumeqty)) {
                        // Store the previous consumeqty for each row
                        if (!prevConsumeqty[index]) {
                            prevConsumeqty[index] = consumeqty;
                        }

                        // Calculate new consumption quantity based on productionQty
                        var newConsumeqty = parseFloat(productionQty) * consumeqty;
                        $row.find('.veh-1:eq(2)').text(newConsumeqty.toFixed(2));
                    }
                });
            }

            // Function to update bomconsumeqty in #table_grid_ROW1
            function updateBomConsumeqty(productionQty) {
                $('#table_grid_ROW1 tr').each(function (index) {
                    var $row = $(this);
                    var bomRequiredQty = parseFloat($row.find('.veh-1:eq(3)').text());

                    if (!isNaN(bomRequiredQty)) {
                        var newBomConsumeqty = parseFloat(productionQty) * bomRequiredQty;
                        $row.find('.veh-1:eq(5)').text(newBomConsumeqty.toFixed(2));
                    }
                });
            }

            // Function to update newstockhand in #table_grid_ROW1
            function updateNewStockHand() {
                $('#table_grid_ROW1 tr').each(function (index) {
                    var $row = $(this);
                    var stockOnHand = parseFloat($row.find('.veh-1:eq(6)').text()); // stockonhand is in the 6th column
                    var bomConsumeqty = parseFloat($row.find('.veh-1:eq(5)').text()); // bomconsumeqty is in the 5th column

                    if (!isNaN(stockOnHand) && !isNaN(bomConsumeqty)) {
                        var newStockHand = stockOnHand - bomConsumeqty;
                        $row.find('.veh-1:eq(7)').text(newStockHand.toFixed(2)); // Update newstockhand in the 7th column
                    }
                });
            }

            // Function to update canmanufacutrestock in #table_grid_ROW1
            function updateCanManufactureStock() {
                $('#table_grid_ROW1 tr').each(function (index) {
                    var $row = $(this);
                    var newStockHand = parseFloat($row.find('.veh-1:eq(7)').text()); // newstockhand is in the 7th column
                    var bomRequiredQty = parseFloat($row.find('.veh-1:eq(3)').text()); // bomrequiredqty is in the 3rd column

                    if (!isNaN(newStockHand) && !isNaN(bomRequiredQty) && bomRequiredQty !== 0) {
                        var canManufactureStock = newStockHand / bomRequiredQty;
                        roundstock = Math.floor(canManufactureStock); // Update roundstock globally
                        $row.find('.veh-1:eq(8)').text(roundstock); // Update canmanufacutrestock in the 8th column
                    }
                });
            }

            // Function to update canmanufacture in #table_grid_ROW1
            function updateCanManufacture() {
                $('#table_grid_ROW1 tr').each(function (index) {
                    var $row = $(this);
                    var canManufactureStock = parseFloat($row.find('.veh-1:eq(8)').text()); // canmanufacutrestock is in the 8th column

                    if (!isNaN(canManufactureStock)) {
                        var absoluteCanManufactureStock = Math.abs(canManufactureStock); // Get absolute value
                        var canManufacture = productionQty - absoluteCanManufactureStock; // Calculate canmanufacture based on productionQty and roundstock
                        $row.find('.veh-1:eq(9)').text(canManufacture.toFixed(2)); // Update canmanufacture in the 9th column
                    }
                });
            }

            // Function to update subasemblyconsumeqty in #table_grid_ROW2
            function updatesubassemblyConsumeqty(productionQty) {
                $('#table_grid_ROW2 tr').each(function (index) {
                    var $row = $(this);
                    var subassemblyRequiredQty = parseFloat($row.find('.veh-1:eq(3)').text());

                    if (!isNaN(subassemblyRequiredQty)) {
                        var newsubassemblyConsumeqty = parseFloat(productionQty) * subassemblyRequiredQty;
                        $row.find('.veh-1:eq(4)').text(newsubassemblyConsumeqty.toFixed(2));
                    }
                });
            }

            // Function to update subassemblynewstockhand in #table_grid_ROW2
            function updatesubassemblynewstockhand() {
                $('#table_grid_ROW2 tr').each(function (index) {
                    var $row = $(this);
                    var stockOnHand = parseFloat($row.find('.veh-1:eq(5)').text()); //  stockonhand is in the 5th column
                    var subassemblyConsumeqty = parseFloat($row.find('.veh-1:eq(4)').text()); // bomconsumeqty is in the 4th column

                    if (!isNaN(stockOnHand) && !isNaN(subassemblyConsumeqty)) {
                        var newStockHand = stockOnHand - subassemblyConsumeqty;
                        $row.find('.veh-1:eq(6)').text(newStockHand.toFixed(2)); // Update newstockhand in the 6th column
                    }
                });
            }

            // Function to update subassemblycanmanufacutrestock in #table_grid_ROW2
            function updatesubassemblycanmanufacutrestock() {
                $('#table_grid_ROW2 tr').each(function (index) {
                    var $row = $(this);
                    var newStockHand = parseFloat($row.find('.veh-1:eq(6)').text()); // newstockhand is in the 6th column
                    var subassemblyRequiredQty = parseFloat($row.find('.veh-1:eq(3)').text()); // bomrequiredqty is in the 3rd column

                    if (!isNaN(newStockHand) && !isNaN(subassemblyRequiredQty) && subassemblyRequiredQty !== 0) {
                        var subassemblycanManufactureStock = newStockHand / subassemblyRequiredQty;
                        roundstock = Math.floor(subassemblycanManufactureStock); // Update roundstock globally
                        $row.find('.veh-1:eq(7)').text(roundstock); // Update subassemblycanManufactureStock in the 7th column
                    }
                });
            }

            // Function to update subassemblycanmanufacture in #table_grid_ROW2
            function updatesubassemblycanmanufacture() {
                $('#table_grid_ROW2 tr').each(function (index) {
                    var $row = $(this);
                    var subassemblycanManufactureStock = parseFloat($row.find('.veh-1:eq(7)').text()); // canmanufacutrestock is in the 7th column

                    if (!isNaN(subassemblycanManufactureStock)) {
                        var absoluteCanManufactureStock = Math.abs(subassemblycanManufactureStock); // Get absolute value
                        var subassemblycanManufacture = productionQty - absoluteCanManufactureStock; // Calculate subassemblycanManufacture based on productionQty and absolute
                        $row.find('.veh-1:eq(8)').text(subassemblycanManufacture.toFixed(2)); // Update subassemblycanManufacture in the 8th column
                    }
                });
            }

            // Event listener for ProductId change
            $('#ProductId').on('change', function () {
                $("#tablematerial").show();
                var productId = $(this).val();

                $.ajax({
                    url: '/Production/GetBomMaterialForProduction',
                    type: 'GET',
                    data: { productid: productId },
                    success: function (response) {
                        $('#table_grid_ROW').empty();
                        $('#table_grid_ROW1').empty();

                        // Display general product information
                        $('#RequiredQty').val(response.producttotalitems).prop('readonly', true);
                        $('#MinQty').val(response.Minstock).prop('readonly', true);
                        $('#MaxQty').val(response.Maxstock).prop('readonly', true);
                        $('#ProductionPerDay').val(response.ProductionperDay).prop('readonly', true);
                        $('#ProductCode').val(response.ProductCode).prop('readonly', true);

                        // Populate #table_grid_ROW with consumeqty data
                        if (response['bomdata'] && response['bomdata'].length > 0) {
                            $.each(response['bomdata'], function (i, val) {
                                var id = i + 1;
                                var consumeqty = response['Consumeqty'] && response['Consumeqty'][i] ? response['Consumeqty'][i] : '';
                                $('#table_grid_ROW').append('<tr><td class="veh-1">' + id + '</td><td class="veh-1">' + val + '</td><td class="veh-1">' + consumeqty + '</td></tr>');
                            });
                        } else {
                            $('#table_grid_ROW').append('<tr><td class="veh-1" colspan="3">No data found</td></tr>');
                        }

                        // Populate #table_grid_ROW1 with bomconsumeqty data
                        if (response['BomMaterialNames'] && response['BomMaterialNames'].length > 0) {
                            $.each(response['BomMaterialNames'], function (i, val) {
                                var id = i + 1;
                                var producttype = 'Material';
                                var bomrequiredqty = response['BomRequiredQtys'] && response['BomRequiredQtys'][i] ? response['BomRequiredQtys'][i] : '';
                                var uom = response['UOMs'] && response['UOMs'][i] ? response['UOMs'][i] : '';
                                var bomconsumeqty = ''; // Initialize bomconsumeqty as empty initially
                                var stockonhand = response['StockOnHand'] && response['StockOnHand'][i] ? response['StockOnHand'][i] : '';
                                var newstockhand = '';
                                var canmanufacutrestock = '';
                                var canmanufacture = '';

                                $('#table_grid_ROW1').append('<tr><td class="veh-1">' + id + '</td><td class="veh-1">' + val + '</td><td class="veh-1">' + producttype + '</td><td class="veh-1">' + bomrequiredqty + '</td><td class="veh-1">' + uom + '</td><td class="veh-1 bomconsumeqty">' + bomconsumeqty + '</td><td class="veh-1">' + stockonhand + '</td><td class="veh-1">' + newstockhand + '</td><td class="veh-1">' + canmanufacutrestock + '</td><td class="veh-1">' + canmanufacture + '</td></tr>');
                            });
                        } else {
                            $('#table_grid_ROW1').append('<tr><td class="veh-1" colspan="10">No data found</td></tr>');
                        }

                        if (response['subassemblyname'] && response['subassemblyname'].length > 0) {
                            $.each(response['subassemblyname'], function (i, val) {
                                var id = i + 1;
                                var producttype = 'Subassembly';
                                var subassemblyrequiredqty = response['subassemblyrequiredqty'] && response['subassemblyrequiredqty'][i] ? response['subassemblyrequiredqty'][i] : '';
                                /*var uom = response['UOMs'] && response['UOMs'][i] ? response['UOMs'][i] : '';*/
                                var subassemblyconsumeqty = ''; // Initialize bomconsumeqty as empty initially
                                var subassemblystockqty = response['subassemblystockqty'] && response['subassemblystockqty'][i] ? response['subassemblystockqty'][i] : '';
                                var subassemblynewstockhand = '';
                                var subassemblycanmanufacutrestock = '';
                                var subassemblycanmanufacture = '';
                                var imgSrc = '../Content/assets/images/newtab.png';
                                var imgAlt = 'new tab';
                                var checksubmaterial = '<button class="material-check-button" data-toggle="modal" data-target="#myModal' + id + '">' + '<img src="' + imgSrc + '" alt="' + imgAlt + '">' + '</button>';

                                $('#table_grid_ROW2').append('<tr><td class="veh-1">' + id + '</td><td class="veh-1">' + val + '</td><td class="veh-1">' + producttype + '</td><td class="veh-1">' + subassemblyrequiredqty + '</td><td class="veh-1 bomconsumeqty">' + subassemblyconsumeqty + '</td><td class="veh-1">' + subassemblystockqty + '</td><td class="veh-1">' + subassemblynewstockhand + '</td><td class="veh-1">' + subassemblycanmanufacutrestock + '</td><td class="veh-1">' + subassemblycanmanufacture + '</td><td class="veh-1">' + checksubmaterial + '</td></tr>');
                                // Append modal markup for each subassembly
                                var modalMarkup = '<div class="modal fade" id="myModal' + id + '" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">' +
                                    '<div class="modal-dialog" role="document">' +
                                    '<div class="modal-content">' +
                                    '<div class="modal-header">' +
                                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                    '<h4 class="modal-title" id="myModalLabel">' + val + ' Details</h4>' +
                                    '</div>' +
                                    '<div class="modal-body">' +
                                    '<p>Modal body content goes here.</p>' +
                                    '</div>' +
                                    '<div class="modal-footer">' +
                                    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';

                                $('body').append(modalMarkup);
                            });
                        } else {
                            $('#table_grid_ROW2').append('<tr><td class="veh-1" colspan="10">No data found</td></tr>');
                        }
                    },
                    error: function () {
                        $('#table_grid_ROW').empty().append('<tr><td class="veh-1" colspan="3" onclick="">Error retrieving data</td></tr>');
                        $('#table_grid_ROW1').empty().append('<tr><td class="veh-1" colspan="10" onclick="">Error retrieving data</td></tr>');
                        $('#table_grid_ROW2').empty().append('<tr><td class="veh-1" colspan="10" onclick="">Error retrieving data</td></tr>');
                    }
                });
            });
        });
    </script>
    <script>
        //save production
        function Save(ProductionId) {
            @{
    var ProductionId = Model != null ? Model.ProductionId.ToString() : ""; // Check if Model is not null before accessing its properties
}
            var productionValue = $("input[name='Productions']").is(":checked");
            var subassemblyValue = $("input[name='SubAssembly']").is(":checked");
            var inprogressValue = $("input[name='Inprogress']").is(":checked");
            var ProductionDate = $("#ProductionDate").val();
            var ProductCode = $("#ProductCode").val();
            var ProductId = $("#ProductId").val();
            var ProductionCode = $("#ProductionCode").val();
            var ProductionQty = $("#ProductionQty").val();
            var ProductionStatus = $("#ProductionStatus").val();
            var StoreCode = $("#StoreCode").val();
            var MinQty = $("#MinQty").val();
            var MaxQty = $("#MaxQty").val();
            var Requiredqty = $('#RequiredQty').val();
            var ProductionPerDay = $('#ProductionPerDay').val();
            var ProductionDueDate = $('#ProductionDueDate').val();

            $(".alert-danger").hide();
            if (ProductionDate != "" && ProductId != "" && ProductionCode != "" && ProductionQty != "" && ProductionStatus != "" && StoreCode != "" && MinQty != "" && MaxQty != "") {
                var formdata = new FormData();
                if (ProductionId !== "") {
                    formdata.append("ProductionId", ProductionId);
                }
                formdata.append("ProductionDate", ProductionDate);
                formdata.append("ProductCode", ProductCode);
                formdata.append("ProductId", ProductId);
                formdata.append("ProductionCode", ProductionCode);
                formdata.append("ProductionQty", ProductionQty);
                formdata.append("ProductionStatus", ProductionStatus);
                formdata.append("StoreCode", StoreCode);
                formdata.append("MinQty", MinQty);
                formdata.append("MaxQty", MaxQty);
                formdata.append("Requiredqty", Requiredqty);
                formdata.append("ProductionPerDay", ProductionPerDay);
                formdata.append("ProductionDueDate", ProductionDueDate);
                formdata.append("Productions", productionValue); // Append the boolean value
                formdata.append("SubAssembly", subassemblyValue); // Append the boolean value
                formdata.append("Inprogress", inprogressValue); // Append the boolean value

                $.ajax({
                    type: 'POST',
                    url: '/Production/SaveProduction',
                    contentType: false,
                    processData: false,
                    dataType: 'JSON',
                    data: formdata,
                    success: function (data) {
                        console.log(data);
                        if (data.includes("Inserted")) {
                            alert("Production Saved successfully");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Updated")) {
                            alert("Production updated successfully");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Packing")) {
                            alert("Product Moved to packing successfully");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Inprogress")) {
                            alert("Product Moved to Inprogress");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Pending")) {
                            alert("Product Moved to pending");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("qualitychecking")) {
                            alert("Product Moved to qualitychecking");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Sequence")) {
                            alert("Product Moved to sequence");
                            location.href = "/Production/ProductionGrid";
                        }
                        else {
                            alert('Operation failed. Please try again.');
                        }
                    },
                    error: function (ex) {
                        alert('Already Exist in the database.');
                    }
                });
            }
             else {
                $("#alert").append(
                    '<div class="alert alert-danger">' +
                    '<strong>Alert!</strong>Production details not added ' +
                    '<strong id="close">x</strong>' +
                    '</div>'
                );
                $(document).on('click', '#close', function () {
                    $(".alert-danger").hide();
                });
            }
        }
    </script>
    <script>
        //save production
        function Addsubassembly(ProductionId) {
            @{
    var ProductionsId = Model != null ? Model.ProductionId.ToString() : ""; // Check if Model is not null before accessing its properties
}
            var productionValue = $("input[name='Productions']").is(":checked");
            var subassemblyValue = $("input[name='SubAssembly']").is(":checked");
            var inprogressValue = $("input[name='Inprogress']").is(":checked");
            var ProductionDate = $("#ProductionDate").val();
            var ProductCode = $("#ProductCode").val();
            var ProductId = $("#ProductId").val();
            var ProductionCode = $("#ProductionCode").val();
            var ProductionQty = $("#ProductionQty").val();
            var ProductionSubassemblyStatus = $("#ProductionSubassemblyStatus").val();
            var StoreCode = $("#StoreCode").val();
            var MinQty = $("#MinQty").val();
            var MaxQty = $("#MaxQty").val();
            var Requiredqty = $('#RequiredQty').val();
            var ProductionPerDay = $('#ProductionPerDay').val();
            var ProductionDueDate = $('#ProductionDueDate').val();

            $(".alert-danger").hide();
            if (ProductionDate != "" && ProductId != "" && ProductionCode != "" && ProductionQty != "" && ProductionStatus != "" && StoreCode != "" && MinQty != "" && MaxQty != "") {
                var formdata = new FormData();
                if (ProductionId !== "") {
                    formdata.append("ProductionId", ProductionId);
                }
                formdata.append("ProductionDate", ProductionDate);
                formdata.append("ProductCode", ProductCode);
                formdata.append("ProductId", ProductId);
                formdata.append("ProductionCode", ProductionCode);
                formdata.append("ProductionQty", ProductionQty);
                formdata.append("ProductionSubassemblyStatus", ProductionSubassemblyStatus);
                formdata.append("StoreCode", StoreCode);
                formdata.append("MinQty", MinQty);
                formdata.append("MaxQty", MaxQty);
                formdata.append("Requiredqty", Requiredqty);
                formdata.append("ProductionPerDay", ProductionPerDay);
                formdata.append("ProductionDueDate", ProductionDueDate);
                formdata.append("Productions", productionValue); // Append the boolean value
                formdata.append("SubAssembly", subassemblyValue); // Append the boolean value
                formdata.append("Inprogress", inprogressValue); // Append the boolean value

                $.ajax({
                    type: 'POST',
                    url: '/Production/SaveSubassembly',
                    contentType: false,
                    processData: false,
                    dataType: 'JSON',
                    data: formdata,
                    success: function (data) {
                        console.log(data);
                        if (data.includes("Inserted")) {
                            alert("Production Saved successfully");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Updated")) {
                            alert("Production updated successfully");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Packing")) {
                            alert("Product Moved to packing successfully");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Inprogress")) {
                            alert("Product Moved to Inprogress");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Pending")) {
                            alert("Product Moved to pending");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("qualitychecking")) {
                            alert("Product Moved to qualitychecking");
                            location.href = "/Production/ProductionGrid";
                        }
                        else if (data.includes("Sequence")) {
                            alert("Product Moved to sequence");
                            location.href = "/Production/ProductionGrid";
                        }
                        else {
                            alert('Operation failed. Please try again.');
                        }
                    },
                    error: function (ex) {
                        alert('Already Exist in the database.');
                    }
                });
            }
             else {
                $("#alert").append(
                    '<div class="alert alert-danger">' +
                    '<strong>Alert!</strong>Production details not added ' +
                    '<strong id="close">x</strong>' +
                    '</div>'
                );
                $(document).on('click', '#close', function () {
                    $(".alert-danger").hide();
                });
            }
        }
    </script>
    <script>
        // for searchable dropdownlist
        function initializeTomSelect(selectors, options) {
            selectors.forEach(selector => {
                new TomSelect(selector, options);
            });
        }

        initializeTomSelect([
            "#ProductId",
            "#ProductionStatus",
            "#StoreCode",
            "#ProductionSubassemblyStatus"
        ], {
            create: false,
            sortField: {
                field: "value",
                direction: "asc"
            }
        });
    </script>
    <script>
        //depends upon the productionperday and currentdate productionduedate will change
        $(document).ready(function () {
            $('#ProductionQty').on('input', function () {
                var productionQty = $(this).val();
                var productionPerDay = parseFloat($('#ProductionPerDay').val());

                if (productionQty !== "" && !isNaN(productionPerDay)) {
                    var currentDate = new Date();
                    var daysToAdd = Math.ceil(parseFloat(productionQty) / productionPerDay);
                    var productionDueDate = new Date(currentDate.setDate(currentDate.getDate() + daysToAdd));

                    // Format the date as dd-mm-yyyy
                    var formattedProductionDueDate = ('0' + productionDueDate.getDate()).slice(-2) + '-' + ('0' + (productionDueDate.getMonth() + 1)).slice(-2) + '-' + productionDueDate.getFullYear();
                    $('#ProductionDueDate').val(formattedProductionDueDate);
                }
            });

            // Trigger the input event when the ProductionPerDay value changes
            $('#ProductionPerDay').on('input', function () {
                $('#ProductionQty').trigger('input');
            });
        });
    </script>

</body>
</html>


