@model MMS.Repository.ViewModel.ProductionViewModel
@using MMS.Repository.Managers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="~/Content/css1/Toast.css" rel="stylesheet" />
    <style>
        input[type=text] {
            padding: 12px;
            font-size: 17px;
            border: 1px solid grey;
            width: 80%;
        }

        .buttonone {
            float: right;
            width: 20%;
            padding: 12px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }
    </style>

</head>
<body>
    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <div class="d-flex justify-content-between align-items-center manage_customers_head">
                <div class="manage_customers_main_head">
                    <h6 class="font-20">Production List</h6>
                </div>
                <div>
                    <a href="/Production/ProductionDetails">
                        <button class="btn btn-success" id="Addproduction" title="Add Production">
                            ADD Production
                        </button>
                    </a>
                </div>
            </div>
            <div class="table-responsive reports_table_responsive">
                <div class="customer_manage_search_container">
                    <input type="text" class="font-14" name="search_manage_customers" id="customer_manage_search" placeholder="search by Product Name">
                </div>
                <div class="manage_customers_table_in_responsive">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="font-16">
                                <th scope="col">
                                    <span>S.No</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Product Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Product Code</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Batch Code</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Production Qty</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Required Qty</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Production Status</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Production Type</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col"><span>STATUS</span></th>
                            </tr>
                        </thead>
                        @if (ViewBag.Productions != null)
                        {
                            <tbody>
                                @{
                                    int currentPage = ViewBag.CurrentPage ?? 1;
                                    int pageSize = ViewBag.PageSize ?? 8;
                                    int totalItems = ViewBag.Productions.Count;
                                    int startSerialNumber = (currentPage - 1) * pageSize + 1;
                                }
                                @foreach (var item in ViewBag.Productions)
                                {
                                    <tr class="font-14">
                                        <td>@startSerialNumber</td>
                                        <td style="text-align:left;">@item.ProductName</td>
                                        <td style="text-align:left;">@item.ProductCode</td>
                                        <td style="text-align:left;">@item.ProductionCode</td>
                                        <td style="text-align:right;">@item.ProductionQty</td>
                                        <td style="text-align:right;">@item.RequiredQty</td>
                                        <td style="text-align:left;">@item.ProductionStatus</td>
                                        <td style="background-color: @(item.ProductionType == "Production" ? "#c3e6cb" : "#f5c6cb");width: 6px;">@item.ProductionType</td>
                                        <td class="veh-1 edit-del-wrap">
                                            @if (@item.ProductionType == "Production")
                                            {
                                                <a href="javascript:void(0)" onclick="Edit('@item.ProductionId', true)" class="watchlist-edit" title="Edit"><img src="~/Content/assets/images/edit-icon.png" /></a>
                                            }
                                            else if (@item.ProductionType == "Subassembly")
                                            {
                                                <a href="javascript:void(0)" onclick="Edit('@item.ProductionId', false)" class="watchlist-edit" title="Edit"><img src="~/Content/assets/images/edit-icon.png" /></a>
                                            }
                                        </td>
                                    </tr>
                                    startSerialNumber++;
                                }
                            </tbody>
                        }

                    </table>
                </div>
                <div class="row manage_customer_show">
                    <div class="font-14 manage_customer_show_I col-xl-6">
                        <span>Showing </span>
                        <select class="form-select font-16" name="manage_customer_show_content" id="manage_customer_show_no" aria-label="select example">
                            <option value="15" @(ViewBag.PageSize == 15 ? "selected" : "")>15</option>
                            <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30</option>
                            <option value="45" @(ViewBag.PageSize == 45 ? "selected" : "")>45</option>
                            <option value="60" @(ViewBag.PageSize == 60 ? "selected" : "")>60</option>
                        </select>


                    </div>

                    <div class="col-xl-6 manage_customer_show_II">
                        <nav class="float-xl-end">
                            <ul class="pagination font-14">
                                <li class="page-item">
                                    <a href="##" id="previousPage" class="page-link">Previous</a>
                                </li>
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a href="@Url.Action("ProductionMaster", "Production", new { page = i })" class="page-link">@i</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a class="page-link" id="nextPage" href="##">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>


            </div>

        </div>
    </div>


    <div id="toast"></div>

    <!-- page-contents end -->
    <script src="~/Content/js/dropdown.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/Validation.js"></script>

    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#Production").attr('checked', true);
        });
        $(document).ready(function () {
            $(document).ready(function () {
                if (sessionStorage.getItem("showToast") === "Inserted") {
                    showproductionprocessessToast(sessionStorage.getItem("showToast"));
                    sessionStorage.removeItem("showToast");
                }
                else if (sessionStorage.getItem("showToast") === "Updated") {
                    showproductionprocessessToast(sessionStorage.getItem("showToast"));
                    sessionStorage.removeItem("showToast");
                }
                else if (sessionStorage.getItem("showToast") === "Inprogress") {
                    InprogressToast();
                    sessionStorage.removeItem("showToast");
                } else if (sessionStorage.getItem("showToast") === "QualityInspection" || sessionStorage.getItem("showToast") === "Packing" || sessionStorage.getItem("showToast") === "Sequence") {
                    showProductionProcesses1Toast(sessionStorage.getItem("showToast"));
                    sessionStorage.removeItem("showToast");
                } else if (sessionStorage.getItem("showToast") === "Completed" || sessionStorage.getItem("showToast") === "Pending" || sessionStorage.getItem("showToast") === "ReleasedForAssembly") {
                    showProductionProcesses1Toast(sessionStorage.getItem("showToast"));
                    sessionStorage.removeItem("showToast");
                } else if (sessionStorage.getItem("showToast") === "PendingApproval" || sessionStorage.getItem("showToast") === "qualitychecking") {
                    showProductionProcesses1Toast(sessionStorage.getItem("showToast"));
                    sessionStorage.removeItem("showToast");
                }
            });
    $('#manage_customer_show_no').change(function() {
        var pageSize = parseInt($(this).val());
        window.location.href = "@Url.Action("ProductionMaster", "Production")?pageSize=" + pageSize;
    });

    $('#previousPage').click(function(e) {
        e.preventDefault();
        var currentPage = parseInt('@ViewBag.CurrentPage');
        if (currentPage > 1) {
            var previousPage = currentPage - 1;
            window.location.href = "@Url.Action("ProductionMaster", "Production")?page=" + previousPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
        }
    });

      $('#nextPage').click(function (e) {
        e.preventDefault();
        var currentPage = parseInt('@ViewBag.CurrentPage');
        var totalPages = parseInt('@ViewBag.TotalPages');
        if (currentPage < totalPages) {
            var nextPage = currentPage + 1;
            window.location.href = "@Url.Action("ProductionMaster", "Production")?page=" + nextPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
        }
    });
});
    </script>

    <script>
        $("#customer_manage_search").keyup(function () {
            var customerearch = $("#customer_manage_search").val(); $.ajax({
                type: "GET",
                url: '/Production/ProductionSearch',
                data: { filter: customerearch },
                dataType: 'json',
                success: function (data) {
                    $("tbody").empty();
                    var count = 1;
                    $.each(data, function (i, item) {
                        $("tbody").append(`
                                 <tr class="font-14">
                                     <td>${count}</td>
                                     <td style="text-align:left;">${item.ProductName}</td>
                                     <td style="text-align:left;">${item.ProductCode}</td>
                                     <td style="text-align:left;">${item.ProductionCode}</td>
                                     <td style="text-align:right;">${item.ProductionQty}</td>
                                      <td style="text-align:right;">${item.RequiredQty}</td>
                                      <td style="text-align:left;";>${item.ProductionStatus}</td>
                                      <td style="background-color: ${item.ProductionType == "Production" ? "#c3e6cb" : "#f5c6cb"};width: 6px;">${item.ProductionType}</td>
                                     <td class="veh-1 edit-del-wrap">
                                         <a href="javascript:void(0)" onclick="Edit('${item.ProductionId}')" class="watchlist-edit" title="Edit">
                                         <img src="/Content/assets/images/edit-icon.png" />
                                         </a>
                                     </td>
                                 </tr>
                             `);
                        count++;
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred:", status, error);
                }
            });
        });


        function Edit(productionId, isProduction) {
            if (isProduction) {
                window.location.href = "/Production/ProductionEdit?productionId=" + productionId;
            } else {
                window.location.href = "/Production/ProductionSubassemblyEdit?productionId=" + productionId;
            }
        }
    </script>

</body>
</html>