@model MMS.Web.Models.JobworkModel.JobSheet_pairModel
@{
    List<MMS.Core.Entities.JobWork.JobSheet_pairCodeMaster> JobSheet_pairCodeList = new List<MMS.Core.Entities.JobWork.JobSheet_pairCodeMaster>().ToList();


}
<div class="process_master col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-12 block-section">
        <div id="no-more-tables" class="col-xs-12 no-padding">
            <table id="example" class="col-md-12 table-striped table-condensed cf table-change home_dahboard home_process">
                <thead>
                    <tr>
                        <th>Material id</th>
                        <th>Ordered Qty</th>
                        <th>Norm/Pair</th>
                    </tr>
                </thead>
                <tbody class="common-table-head">
                    @if (Model.JobSheet_pairModellist != null && Model.JobSheet_pairModellist.Count > 0)
                    {
                        int count = 1;
                        if (JobSheet_pairCodeList == null || JobSheet_pairCodeList.Count == 0)
                        {
                            foreach (var JobSheet_pairCodeMasterlist in Model.JobSheet_pairModellist)
                            {

                                <tr>
                                    <td data-title="Si.No">@count</td>
                                    <td data-title="OperationType Code">@JobSheet_pairCodeMasterlist.Material</td>

                                    <td data-title="Action">
                                        <span class="action-icons">

                                            <a><img onclick="Edit('@JobSheet_pairCodeMasterlist.Material')" src="~/Scripts/Jobwork/images/edit.png"></a>
                                            <img onclick="Delete('@JobSheet_pairCodeMasterlist.Process_Name')" src="~/Scripts/Jobwork/images/delete.png">
                                        </span>
                                    </td>
                                </tr>
                                count++;
                            }
                        }
                    }
                    else
                    {
                        int count = 1;
                        foreach (var Stage in JobSheet_pairCodeList)
                        {

                            <tr>
                                <td class="veh-1">@count</td>
                                <td class="veh-1" onclick="">@Stage.jobsheet_pair_Code/td>
                                <td data-title="Action">
                                    <span class="action-icons">
                                        <a href="Home_Process_Master_edit.html"><img src="~/Scripts/Jobwork/images/edit.png"></a>
                                        <img src="~/Scripts/Jobwork/images/delete.png">
                                    </span>
                                </td>
                            </tr>
                            count++;
                        }

                        JobSheet_pairCodeList = null;
                    }
                    </>
            </table>
        </div>
    </div>

</div>