@model MMS.Web.Models.ConeyorModel.ConveyorModel
@{
    int id = Model.ConveyorMasterId;
    Session["ConveyorMasterId"] = id;
}
<style>
    .edit-popup-field1 {
        width: 84px !important;
    }
</style>
<script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });

    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    function Numeric() {

        $("#CapacityUnits,#ShortUnitNameValue").bind("keypress", function (e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            $(".error").css("display", ret ? "none" : "inline");
            return ret;
        });
        $("#CapacityUnits,#ShortUnitNameValue").bind("paste", function (e) {
            return false;
        });
        $("#CapacityUnits,#ShortUnitNameValue").bind("drop", function (e) {
            return false;
        });
    }
</script>


<div class="right-form-section clearfix">
    <form role="form" class="form-inline">
        <div class="container-fluid">
            <div class="field-section">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <p class="section-title">Conveyor / Group / Line</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding">
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label for="text" class="form-label">Conveyor Code</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                        @Html.HiddenFor(x => x.ConveyorMasterId)
                                        @Html.TextBoxFor(x => x.ConveyorCode, new { @class = "form-control text-field", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label for="text" class="form-label">Conveyo / Group name</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                        @Html.TextBoxFor(m => m.ConveyorName, new { @class = "form-control text-field" })
                                    </div>
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label for="text" class="form-label">Capacity per Day</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 pull-left no-padding">
                                            @Html.TextBoxFor(m => m.CapacityPerDay, new { @class = "form-control text-field" })
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12  pull-right no-padding">
                                            @Html.DropDownListFor(m => m.CapacityUnits, MMS.Web.ExtensionMethod.HtmlHelper.LongUnitName(), new { @class = "select-style text-field" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label for="text" class="form-label">Conveyor Type</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">

                                        @Html.DropDownListFor(m => m.ConveyorType, new SelectList(
                                   new List<object> {
                                       new { value = "Please Select" , text = "Please Select", },
                                       new { value = "Production" , text = "Production"} ,
                                       new { value = "Local" , text = "Local" },
                                   },

                                   "value",
                                   "text",
                                  0), new { @class = "select-style text-field" })
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
                    <input type="button" onclick="Cancel()" class="btn btn-default btn-style" style="cursor: pointer;" title="Back" value="Back">
                    @if (Model != null && Model.ConveyorMasterId != 0)
                    {

                        <input type="button" onclick="Update()" class="btn btn-default btn-style" style="cursor: pointer;" id="ConveyorMasterId" title="Update" value="Update">
                    }
                    else
                    {
                        <input type="button" onclick="Save()" class="btn btn-default btn-style" style="cursor: pointer;" title="Save" value="Save">
                    }
                    <input type="button" onclick="Clear()" class="btn btn-default btn-style" style="cursor: pointer;" title="Clear" value="Clear">
                </div>
            </div>
        </div>
    </form>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="~/Scripts/EasyAutocomplete-1.3.5/comboStyles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/EasyAutocomplete-1.3.5/ComboBox.js"></script>
<script>
    $("#CapacityUnits").combobox();
    $("#ConveyorType").combobox();
</script>