@model MMS.Web.Models.JobworkModel.ProductionQcModel
@{
   
}
<script>
    $(".chosen-select").chosen();

</script>
<div class="header_list_tab  col-lg-12 col-md-12 col-sm-12  col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
        <div class="list_tab">
            <div class="title">
                Detail
            </div>

        </div>

    </div>
</div>
<div class="jobwork_mrp_2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-xs-12 block-section ordr-sheet-blk">
        <div class="row">
            <div class="col-md-11">
                <div class="col-md-12">
                    <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                        <div class="input-group date my_picker" data-date-format="mm/dd/yyyy">
                            <label>Date</label>
                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control filter-cal" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Production Code.</label>

                            @Html.TextBoxFor(m => m.Production_Code_.Production_Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Buyer</label>
                            @Html.DropDownListFor(x => x.Buyer, MMS.Web.ExtensionMethod.HtmlHelper.BuyerName(), new { @class = "form-control input chosen-select" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Season</label>
                            @Html.DropDownListFor(x => x.Season, MMS.Web.ExtensionMethod.HtmlHelper.SeasonName(), new { @class = "form-control input chosen-select" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Stage</label>
                            @Html.DropDownListFor(x => x.Stage, MMS.Web.ExtensionMethod.HtmlHelper.StageName_code(), new { @class = "form-control input chosen-select" })
                        </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-4 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Lot</label>
                            @Html.DropDownListFor(x => x.Moved_lot, MMS.Web.ExtensionMethod.HtmlHelper.LOtNo(), new { @class = "form-control input chosen-select" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 input-blk">
                        <div class="form-group swap-arrow s-0">
                            <span>
                                <i class="fa fa-angle-double-right" onclick="funMovelot()"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Move Lot</label>
                            <textarea class="form-control input-field" name="" id="" cols="30" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>IO</label>
                            @Html.DropDownListFor(x => x.Moved_Io, MMS.Web.ExtensionMethod.HtmlHelper.InternalOrderIONO(), new { @class = "form-control input chosen-select", @multiple = "multiple" })
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 input-blk">
                        <div class="form-group swap-arrow s-0">
                            <span>
                                <i class="fa fa-angle-double-right" onclick="funMovelot()"></i>
                            </span>
                         
                        </div>
                    </div>
                  
                    <div class="col-lg-4 col-md-4 col-sm-12 input-blk">
                        <div class="form-group">
                            <label>Move IO</label>
                            <textarea class="form-control input-field" name="" id="" cols="30" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 pl-0">
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Lot Issue</label>
                                @Html.DropDownList("Lot_Issue", MMS.Web.ExtensionMethod.HtmlHelper.LOtNo(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>QC IO</label>
                                @Html.DropDownListFor(x => x.QC_Io, MMS.Web.ExtensionMethod.HtmlHelper.InternalOrderIONO(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Total Pairs</label>
                               @Html.TextBoxFor(m => m.Total_Pairs, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Size</label>
                                @Html.TextBoxFor(m => m.Size, new { @class = "form-control " })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>If Multiple IO's then cummulative size quantity</label>
                            <div class="production_jobwork_tbl">
                                <table id="sizeRangeTable" cellpadding="0" cellspacing="0" border="1" width="100%">
                                    @*<tbody>
                            <tr>
                                <td>size</td>

                            </tr>
                            <tr>
                                <td>Qty</td>

                            </tr>
                        </tbody>*@
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 pl-0">
                        <div class="col-lg-4 col-md-4 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Lot</label>
                                @Html.DropDownListFor(x => x.Moved_lot, MMS.Web.ExtensionMethod.HtmlHelper.LOtNo(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>IO Size</label>
                                @Html.TextBoxFor(m => m.IO_Size, new { @class = "form-control " })

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Qty</label>
                                @Html.TextBoxFor(m => m.Qty, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Side</label>
                                @Html.DropDownListFor(x => x.Side, MMS.Web.ExtensionMethod.HtmlHelper.Side(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Reason</label>
                             @Html.DropDownListFor(x => x.Reason, MMS.Web.ExtensionMethod.HtmlHelper.InspectionType(), new { @class = "form-control input chosen-select" })

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 pl-0">

                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Type</label>
                                @Html.DropDownListFor(x => x.Type, MMS.Web.ExtensionMethod.HtmlHelper.Type_QcWork(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Component</label>
                               @Html.DropDownListFor(x => x.Component, MMS.Web.ExtensionMethod.HtmlHelper.ComponentMaster(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Style</label>
                                @Html.TextBoxFor(m => m.Style, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 input-blk">
                            <div class="form-group">
                                <label>Stage</label>
                          
                                @Html.DropDownListFor(x => x.To_stage, MMS.Web.ExtensionMethod.HtmlHelper.StageName_code(), new { @class = "form-control input chosen-select" })
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="md-1"></div>
        </div>
        <div class="init_action col-lg-12 col-md-12 col-sm-12">
            <button class="btn violet-btn">Back</button>
            <button class="btn green-btn" onclick="Save()">Save Issue</button>

        </div>
    </div>
    <div class="sheet_pair_2 mob_padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- <div class="col-xs-12 block-section"> -->
        <div id="no-more-tables" class="col-xs-12 no-padding hole_table">
            <table id="table_grid" class="col-md-12 table-striped table-condensed cf table-change home_dahboard color_table">
                <thead>
                    <tr>
                        <th>From Stage</th>
                        <th>Order Mo</th>
                        <th>To stage</th>
                        <th>Reqd.qty</th>
                    </tr>
                </thead>
                <tbody ID="table_grid_ROW" class="common-table-head">
                    @if (Model.Production_QcMaster != null && Model.Production_QcMaster.Count > 0)
                    {
                        int count = 1;

                        foreach (var Jobsheet in Model.Production_QcMaster)
                        {
                            <tr id="@Jobsheet.ProductionQc_ID">
                                <td data-title="OperationType Code">@Jobsheet.From_Stage</td>
                                <td data-title="OperationType Code">@Jobsheet.QC_Io</td>
                                <td data-title="OperationType Code">@Jobsheet.To_stage</td>
                                <td data-title="OperationType Code">@Jobsheet.Qty</td>

                            </tr>
                            count++;
                        }

                    }
                </tbody>
            </table>
        </div>
        <!-- </div> -->

    </div>
</div>

<script src="~/Scripts/Jobwork/js/datepicker.min.js"></script>
<script src="~/Scripts/Jobwork/js/custom_script.js"></script>
<script src="~/Scripts/moment.js"></script>

<script>
   function funMovelot()
   {
       var Stage = $('#Stage option:selected').text().slice(2);
       var To_stage = $('#To_stage option:selected').text().slice(2);
       if ($('#Stage').val() == "") {
           alert("Please Enter Stage .")
           $('#Stage').css('border-color', 'red');
           $('#Stage').focus();
           return false;
       }
       else {
           $('#Stage').css('border-color', '');
       }
       if ($('#Moved_lot').val() == "") {
           alert("Please Enter  lot.")
           $('#Moved_lot').css('border-color', 'red');
           $('#Moved_lot').focus();
           return false;
       }
       else {
           $('#Moved_lot').css('border-color', '');
       }
      
       debugger;
       var Date = $('#Date').val();
       fromDate = Date.split("/");
       var Date_from = fromDate[2] + "/" + fromDate[1] + "/" + fromDate[0];
       var Production_Code_ = {}
       Production_Code_.Production_Code = $('#Production_Code__Production_Code').val()
       $.ajax({
           type: 'POST',
           url: '/ProductionQualityControl/saveQualityControl',
           data: {
               Date: Date_from,
               
               Production_Code_new: $('#Production_Code__Production_Code').val(),
               Buyer: $('#Buyer').val(),
               Season: $('#Season').val(),
               Stage: Stage,
               LOtNo: $('#LOtNo').val(),
               Moved_lot: $('#Moved_lot option:selected').text(),
               Moved_Io: $("#Moved_Io  option:selected").map(function () { return this.value }).get().join(','),
               Style: $('#Style').val(),

               QC_Io: $('#QC_Io').val(),
               Total_Pairs: $('#Total_Pairs').val(),
               Size: $('#Size').val(),
               IO_Size: $('#IO_Size').val(),
               Qty: $('#Qty').val(),
               Side: $('#Side').val(),

               Reason: $('#Reason').val(),
               Type: $('#Type').val(),
               Component: $('#Component').val(),
               Style: $('#Style').val(),
               To_stage: To_stage
           },

           success: function (data) {
               if (data.ProductionQc_ID != "" || data.ProductionQc_ID != 0) {
                   alert('Saved Successfully.');
                   location.href = "/ProductionJobwork_/ProductionJobworkMaster";
                   return false
               }
               else if (data.ProductionQc_ID == 0 && data.ProductionQc_ID != "") {
                   alert('Already Exist in the database.');
                   return false;
               }
               else {
                   alert('Save process Failed.');
                   location.href = "/ProductionJobwork_/ProductionJobworkMaster";
                   return false;
               }

           },
           error: function (ex) {
               alert('Already Exist in the database.')
           }
       });

   }
   $("#Stage").on("change", function () {
     var s=  $('#Stage option:selected').text()
     var Stage = $('#Stage option:selected').text().slice(2);
       debugger;
       $.ajax({
           type: 'POST',
           url: '/ProductionQualityControl/GEt_Stage_LotNo',
           data: { Stage: Stage },
           success: function (data) {
               debugger;
               $("#Moved_lot").html("").trigger('chosen:updated');
               $.each(data, function (i, item) {
                   $("#Moved_lot").append(
                       $('<option></option>').val(item.Value).html(item.Text)).trigger('chosen:updated');
               });
           },
           error: function (ex) {
               alert('This Material Name Already Exist in the database.');
           }
       });
   });
   $("#Moved_lot").on("change", function () {
       debugger;
       var Stage = $('#Stage option:selected').text().slice(2);
       $.ajax({
           type: 'POST',
           url: '/ProductionQualityControl/GEt_Stage_IO',
           data: { Stage: Stage, Lotno: $('#Moved_lot option:selected').text() },
           success: function (data) {
               debugger;
               $("#Moved_Io").html("").trigger('chosen:updated');
               $.each(data, function (i, item) {
                   $("#Moved_Io").append(
                       $('<option></option>').val(item.Value).html(item.Text)).trigger('chosen:updated');
               });
               
             //  $("#QC_Io").html("").trigger('chosen:updated');
               //$.each(data, function (i, item) {
               //    $("#QC_Io").append(
               //        $('<option></option>').val(item.Value).html(item.Text)).trigger('chosen:updated');
               //});
           },
           error: function (ex) {
               alert('This Material Name Already Exist in the database.');
           }
       });
   });
   
   $("#Lot_Issue").on("change", function () {
       debugger;
       var Stage = $('#Stage option:selected').text().slice(2);
       $.ajax({
           type: 'POST',
           url: '/ProductionQualityControl/GEt_Stage_IO_Issue',
           data: { Stage: Stage, Lotno: $('#Lot_Issue option:selected').text() },
           success: function (data) {
               debugger;
        

                 $("#QC_Io").html("").trigger('chosen:updated');
               $.each(data, function (i, item) {
                   $("#QC_Io").append(
                       $('<option></option>').val(item.Value).html(item.Text)).trigger('chosen:updated');
               });
           },
           error: function (ex) {
               alert('This Material Name Already Exist in the database.');
           }
       });
   });
   $("#QC_Io").on("change", function () {
       $('#IO_Size').val('');
       $("#sizeRangeTable").html('');
       debugger;
       $.ajax({
           type: 'POST',
           url: '/ProductionQualityControl/GEt_IO_Size',
           data: { OrderEntryId: $('#QC_Io').val() },
           success: function (data) {
               debugger;
               $('#Total_Pairs').val(data.Totalqty);
               var count = 1;
               if (data.listOfSizeRange.length > 0) {
                   $("#sizeRangeTable").append("<tbody><tr><td>size</td></tr><tr><td>Io Qty</td></tr><tr><td>Qty</td></tr></tbody>");
                   for (var i = 0; i <= data.listOfSizeRange.length - 1; i++) {
                       isSizeRangeMaster = true;
                       $('#sizeRangeTable tbody tr:first-child').append('<td class="Size"  > ' + data.listOfSizeRange[i].SizeRange.trim() + ' </td> ');
                       $('#sizeRangeTable tbody  tr:nth-child(2)').append('<td class="SizeRangeRefValue"  > ' + data.listOfSizeRange[i].Qty + ' </td> ');
                       $('#sizeRangeTable tbody tr:last').append("<td><input type='checkbox' class='Qty' onchange='CalculateTotal(this," + data.listOfSizeRange[i].SizeRange + ")' id='Qty" + i + "'  ></td>");
                       count++;
                   }
               }
           },
           error: function (ex) {
               alert('This Material Name Already Exist in the database.');
           }
       });
   });
   function CalculateTotal(arg,arg1)
   {
       debugger

       var IO_Sizee = $('#IO_Size').val();
       if (IO_Sizee!="")
       {
           var val = IO_Sizee + ',' + arg1;

          // alert(ddd)

           $('#IO_Size').val(val)
       }
       else {
           var val = arg1;

          // alert(ddd)

           $('#IO_Size').val(val)
       }
      

       



      // var IO_Size = $('#IO_Size').val();
      // var IO_Sizee = $('#IO_Size').val();
      // IO_Size += IO_Size + ',' + arg1;
      // alert(IO_Size);
      //var  IO_Sizeee = IO_Sizee + ',' + arg1;
      //alert(IO_Sizeee);
      // $('#IO_Size').val(IO_Size)
   }
</script>