@model IEnumerable<MMS.Web.Models.Salesorders>
@using MMS.Web.Models
@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int pageSize = ViewBag.PageSize ?? 8;
    int totalItems = Model.Count();
    int startSerialNumber = (currentPage - 1) * pageSize + 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/mrp.css" rel="stylesheet" />
    <style>
        li.hidden-content {
            display: none;
        }

        img#plus {
            width: 27%;
            margin-top: -6%;
        }

        div#Name {
            text-align: left;
        }

        .table > :not(:last-child) > :last-child > * {
            border-bottom-color: #d5d5d5;
        }

        li.hidden-content {
            margin-top: -2%;
            background-color: #fbfbff;
            box-shadow: 0px 16px 35px -25px rgba(0, 0, 0, 1.1);
        }

        .page-item.active .page-link {
            z-index: 3;
            color: white;
            background-color: #4472C4;
            border-color: #4472C4;
        }

        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
            padding: 6px;
        }
    </style>
</head>
<body>

    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">

            <div class="table-responsive reports_table_responsive">
                <div class=" align-items-center manage_customers_head">
                    <div class="d-flex justify-content-between">
                        <div>

                        </div>
                        <h2>Material Requirement Planning<small></small></h2>

                        <div class="push">
                            <div class="on active"><span id="filt">Filter</span></div>
                            <a href="/MRP/MRP_Master">
                                <div class="off non"><span id="stock">All Materials</span></div>
                            </a>
                        </div>
                    </div>

                </div>
                <div id="mrpgrid">
                    <div class="container mt-5">
                        <ul class="responsive-table table text-center header ">
                            <li class="table-header">
                                <div class="col col-1">SI.NO</div>
                                <div class="col col-1">Product</div>
                                <div class="col col-1">SO_Qty</div>
                                <div class="col col-1">Avail Stock</div>
                                <div class="col col-1">procurement</div>
                                <div class="col col-1">Duedate</div>
                                <div class="col col-1">Prod_qty</div>
                                <div class="col col-1">Prod_Duedate</div>
                                <div class="col col-1">Status</div>
                                <div class="col col-1">Check</div>
                            </li>
                            @if (Model.Count() != 0)
                            {
                                foreach (var i in Model)
                                {
                                    <li class="table-row header">
                                        <div class="col col-1 ">@startSerialNumber</div>
                                        <div class="col col-1" id="Name">@i.ProductName</div>
                                        <div class="col col-1">@i.SalesQuantity </div>
                                        <div class="col col-1">@i.AvailableStock</div>
                                        @if (i.SalesQuantity >= i.AvailableStock)
                                        {
                                            <div class="col col-1">@string.Format("{0:0.00}", (i.SalesQuantity - i.AvailableStock))</div>
                                        }
                                        else
                                        {
                                            <div class="col col-1">0</div>
                                        }
                                        <div class="col col-1"></div>
                                        <div class="col col-1">@i.ProductionQty</div>
                                        @if (@i.ProductionDueDate != null)
                                        {
                                            <div class="col col-1">
                                                @i.ProductionDueDate.Value.ToString("dd/MM/yyyy")

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col col-1" style="color: #b9b1b1">Null</div>
                                        }
                                        <div class="col col-1" id="Name">@i.Status</div>
                                        <div class="col col-1" colspan="2">
                                            <img src="~/Content/assets/images/plus1.png" id="plus" class="toggle-image" />
                                        </div>
                                    </li>
                                    startSerialNumber++;
                                    <li class="hidden-content">
                                        <div class="manage_customers_table_in_responsive mt-3" style="height:230px; overflow: auto;" id="form">
                                            <div id="table-wrapper">
                                                <div id="table-scroll">
                                                    <table class="table table-bordered table-fixed" style="text-align: center; width: 100%;">
                                                        <thead>
                                                            <tr style="position: -webkit-sticky; position: sticky; top: 0; background-color: #cbcbcb; color: #fff;">
                                                                <th>Material</th>
                                                                <th>Type</th>
                                                                <th>Unit Qty</th>
                                                                <th><span class="text">On Hand</span></th>
                                                                <th><span class="text"> Req_Oty</span></th>
                                                                <th><span class="text">Shortage</span></th>
                                                                <th>UOM</th>
                                                                <th><span class="text">Indent qty</span></th>
                                                                <th><span class="text">Indent</span></th>
                                                                <th><span class="text">PO</span></th>
                                                                <th><span class="text">Status</span></th>
                                                            </tr>
                                                        </thead>
                                                        @if (i.mrp_Material_Lists != null)
                                                        {
                                                            <tbody>
                                                                @foreach (var j in i.mrp_Material_Lists)
                                                                {
                                                                    <tr>
                                                                        <td class="underline1" style=" text-align: left; width: 15%;">@j.MaterialNames</td>
                                                                        @if (j.producttype == "MAT")
                                                                        {
                                                                            <td class="underline1" style=" text-align: center; width: 1%;"><span id="ma">Mat</span></td>

                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="underline" style="text-align: center; width: 2%;"><span id="subassem">Sub</span></td>

                                                                        }
                                                                        <td class="underline1" style=" text-align: right; width: 2%;">@string.Format("{0:0.00}", (j.RequiredQty))</td>


                                                                        @if (j.AvailableStock != null)
                                                                        {
                                                                            <td class="underline1" style="text-align: right; width: 2%; ">@j.AvailableStock</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="underline1" style=" text-align: right; width: 2%;">Not added</td>
                                                                        }
                                                                        @if (j.AvailableStock != null)
                                                                        {

                                                                            if (j.AvailableStock >= Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3))
                                                                            {

                                                                                <td class="underline1" style=" width: 1%; text-align: right; ">@Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3)</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="underline1" style=" width: 1%; text-align: right; color: red">@Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3)</td>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="underline1" style=" width: 1%; text-align: right; color:red">@Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3)</td>
                                                                        }


                                                                        @if (j.AvailableStock != null)
                                                                        {

                                                                            if (j.AvailableStock <= Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 4))
                                                                            {
                                                                                <td class="underline1" style=" width: 1%; text-align: right; color:red">@string.Format("{0:0.00}", ((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()) - (j.AvailableStock)))</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style="color: #b9b1b1;  width: 1%; text-align: right;">0</td>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="underline1" style=" width: 1%; text-align: right; color:red">@Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3)</td>
                                                                        }

                                                                        <td class="underline1" style=" text-align: center; width: 1%;">@j.UOMName</td>
                                                                        @if ((j.total_indent_qty) != null)
                                                                        {
                                                                            <td class="underline1" style=" text-align: right; width: 1%; ">@string.Format("{0:0.00}", (j.total_indent_qty))</td>
                                                                        }
                                                                        else if (j.AvailableStock <= Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3) && (j.total_indent_qty) == null)
                                                                        {
                                                                            <td style="color: #dc3545; width: 1%; text-align: right;">Raise Indent</td>

                                                                        }
                                                                        else if (j.AvailableStock == null)
                                                                        {
                                                                            <td style="color: #dc3545; width: 1%; text-align: right;">Raise Indent</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="color: #b9b1b1;  width: 1%; text-align: right;">0</td>
                                                                        }
                                                                        <td class="underline1" style=" text-align: center; width:1%; ">-</td>
                                                                        <td class="underline1" style=" text-align: center; width:1%; ">-</td>
                                                                        @if (j.AvailableStock == null || j.AvailableStock.GetValueOrDefault() == 0.00m)
                                                                        {
                                                                            <td style=" text-align: center; width: 2%;"><span id="nostock">No stock</span></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (j.AvailableStock >= Math.Round((i.SalesQuantity.GetValueOrDefault() * j.RequiredQty.GetValueOrDefault()), 3))
                                                                            {
                                                                                <td style=" text-align: center; width: 2%;"><span id="ready">Ready</span></td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td style=" text-align: center; width: 2%;"><span id="stockadd">Less stock</span></td>
                                                                            }

                                                                        }

                                                                    </tr>
                                                                }


                                                            </tbody>

                                                        }
                                                        <tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <tbody>
                                    <tr><td colspan="9">No records found</td></tr>
                                </tbody>

                            }
                        </ul>
                    </div>
                    <div class="row manage_customer_show">
                        <div class="font-14 manage_customer_show_I col-xl-6">
                            <span>Showing </span>
                            <select class="form-select font-16" name="manage_customer_show_content" id="manage_customer_show_no" aria-label="select example">
                                <option value="15" @(ViewBag.PageSize == 15 ? "selected" : "")>15</option>
                                <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30</option>
                                <option value="45" @(ViewBag.PageSize == 45 ? "selected" : "")>45</option>
                                <option value="60" @(ViewBag.PageSize == 60 ? "selected" : "")>60</option>
                            </select>


                        </div>

                        <div class="col-xl-6 manage_customer_show_II">
                            <nav class="float-xl-end">
                                <ul class="pagination font-14">
                                    <li class="page-item">
                                        <a href="##" id="previousPage" class="page-link">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a href="@Url.Action("MRP_Master", "MRP", new { page = i })" class="page-link">@i</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link" id="nextPage" href="##">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="~/Content/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>

    <script>
        $('.push').click(function () {
            $(this).find('div').toggleClass('active').toggleClass('non');
        });
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#mrp").attr('checked', true);

        });
    </script>
    <script>
        $(document).ready(function () {
            $('.toggle-image').on('click', function () {
                const $this = $(this);
                const $parentLi = $this.closest('li');
                const $nextLi = $parentLi.next('.hidden-content');

                $nextLi.slideToggle(100, function () {
                    if ($nextLi.is(':visible')) {
                        $this.attr('src', '/Content/assets/images/minus.png');
                    } else {
                        $this.attr('src', '/Content/assets/images/plus1.png');
                    }
                });
            });
            $('#filt').on('click', function () {
                $("#mrpgrid").hide();
                $("#stock").css("background-color", "#388c9d");
                $.ajax({
                    type: 'GET',
                    url: '/MRP/MRP_Filter',
                    contentType: 'application/json',
                    success: function (data) {
                        $("#mrpgrid").html(data).show();
                    }
                });
            });
             $('#manage_customer_show_no').change(function() {
     var pageSize = parseInt($(this).val());
     window.location.href = "@Url.Action("MRP_Master", "MRP")?pageSize=" + pageSize;
 });

 $('#previousPage').click(function(e) {
     e.preventDefault();
     var currentPage = parseInt('@ViewBag.CurrentPage');
     if (currentPage > 1) {
         var previousPage = currentPage - 1;
         window.location.href = "@Url.Action("MRP_Master", "MRP")?page=" + previousPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
     }
 });

 $('#nextPage').click(function(e) {
     e.preventDefault();
     var currentPage = parseInt('@ViewBag.CurrentPage');
     var totalPages = parseInt('@ViewBag.TotalPages');
     if (currentPage < totalPages) {
         var nextPage = currentPage + 1;
         window.location.href = "@Url.Action("MRP_Master", "MRP")?page=" + nextPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
     }
 });
        });
    </script>

</body>
</html>
