@using MMS.Core.Entities
@model IEnumerable<MMS.Web.Models.GRNModel.GRNModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
            padding: 16px;
        }

        img#paynows {
            width: 26%;
        }
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }

        .manage_customers_table_responsive, .reports .reports_table_responsive {
            padding: 1px 15px 13px;
            box-sizing: border-box;
            overflow-x: unset;
        }

        .sub_merchants .merchant_btn, .manage_customers .manage_customers_btn, .common_Manage_subMerchant .manage_customers_btn {
            background: #4472C4;
            border-radius: 5px;
            padding: 11px 61px;
            border: 1px solid transparent;
            font-style: normal;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div id="grngrid">
        <div class="main-page">
            <div id="transaction_report" class="reports common_Manage_subMerchant">
                <div class="d-flex justify-content-between align-items-center manage_customers_head">
                    <div class="manage_customers_main_head">
                        <h3 class="font-20">Goods Received Note</h3>
                    </div>
                    <div>
                        <a href="/GRN/GRNDetails">
                            <button type="button" class="manage_customers_btn font-15" id="add" style="color: white; margin-top: 5%;">
                                ADD GRN
                            </button>
                        </a>
                    </div>
                </div>

                <div class="table-responsive reports_table_responsive">
                    <div class="customer_manage_search_container">
                        <input type="text" class="font-14" name="search_manage_customers" id="customer_manage_search" placeholder="search by PO No">
                    </div>
                    <div class="manage_customers_table_in_responsive" id="form">

                        <table class="table table-striped text-center">
                            <thead>
                                <tr class="font-16">
                                    <th scope="col">
                                        <span>Si.No</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Supplier Name</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>GRN NO</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>PO NO</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>GRN Date</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Ref Invoice No</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Item</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Quantity</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Unitprice</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Sub_Total</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Tax Value</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Discount Value</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                    <th scope="col">
                                        <span>Total Price</span>
                                        <span>
                                            <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            @if (Model != null && Model.Count() > 0)
                            {
                                <tbody>
                                    @{
                                        int currentPage = ViewBag.CurrentPage ?? 1;
                                        int pageSize = ViewBag.PageSize ?? 8;
                                        int totalItems = Model.Count();
                                        int startSerialNumber = (currentPage - 1) * pageSize + 1;
                                    }
                                    @foreach (var i in Model)
                                    {

                                        <tr>
                                            <td class="veh-1">@startSerialNumber</td>
                                            <td class="veh-2" style="width: 12%;text-align:left;">@i.suppliername</td>
                                            <td class="veh-2" style="width: 12%;text-align:right;">@i.grnnumber</td>
                                            <td class="veh-2" style="width: 12%; text-align: right;">@i.PoHeaderId</td>
                                            <td class="veh-3" style="width: 12%; text-align: center;">@i.GrnDate.ToString("dd/MM/yyyy")</td>
                                            <td class="veh-5" style="width: 12%; text-align: right;">@i.RefInvoiceNumber</td>
                                            <td class="veh-4" style="width: 12%; text-align: right;">@i.item</td>
                                            <td class="veh-4" style="width: 12%; text-align: right; ">@i.Quantity</td>
                                            <td class="veh-3" style="width: 12%; text-align: right;">@i.UnitPrice</td>
                                            <td class="veh-4" style="width: 12%; text-align: right; ">@i.SubTotal</td>
                                            <td class="veh-4" style="width: 12%; text-align: right;">@i.TaxValue</td>
                                            <td class="veh-3" style="width: 12%; text-align: right;">@i.DiscountValue</td>
                                            <td class="veh-4" style="width: 12%; text-align: right; ">@i.TotalValue</td>
                                        </tr>
                                        startSerialNumber++;
                                    }
                                </tbody>

                            }
                            else
                            {
                                <tbody>
                                    <tr><td colspan="15">No records found</td></tr>
                                </tbody>

                            }
                        </table>
                    </div>
                    <div class="row manage_customer_show">
                        <div class="font-14 manage_customer_show_I col-xl-6">
                            <span>Showing </span>
                            <select class="form-select font-16" name="manage_details_page_size" id="manage_details_page_size" aria-label="select example">
                                <option value="15" @(ViewBag.PageSize == 15 ? "selected" : "")>15</option>
                                <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30</option>
                                <option value="45" @(ViewBag.PageSize == 45 ? "selected" : "")>45</option>
                                <option value="60" @(ViewBag.PageSize == 60 ? "selected" : "")>60</option>
                            </select>
                        </div>

                        <div class="col-xl-6 manage_customer_show_II">
                            <nav class="float-xl-end">
                                <ul class="pagination font-14" id="paginationSummary">
                                    <li class="page-item">
                                        <a href="#" id="previousPage" class="page-link">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a href="#" class="page-link" data-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a href="#" id="nextPage" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    
    <script src="~/Content/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>

    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#GRN").attr('checked', true);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#customer_manage_search").keyup(function () {
                var prosearch = $("#customer_manage_search").val();
                $.ajax({
                    type: 'GET',
                    url: '/GRN/GRNSearch',
                    data: { filter: prosearch },
                    contentType: 'application/json',
                    success: function (values) {

                        $("tbody").empty();
                        var count = 1;
                        $.each(values, function (i, item) {
                            const formattedDate = convertToReadableDate(item.GrnDate);

                            $("tbody").append(`
                                             <tr class="font-14">
                             <td class="veh1-5">${count}</td>
                             <td class="veh1-5" style="width: 12%;text-align:left;">${item.suppliername}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.grnnumber}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.PoHeaderId}</td>
                             <td class="veh1-5" style="width: 12%;">${formattedDate}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.RefInvoiceNumber}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.item}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.Quantity}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.UnitPrice}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.SubTotal}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.TaxValue}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.DiscountValue}</td>
                             <td class="veh1-5" style="width: 12%;text-align:right;">${item.TotalValue}</td>
                                            </tr>
                                             `);
                            count++;
                        });
                    }
                });
            });
        });
        function convertToReadableDate(dateString) {
            const match = dateString.match(/\d+/);
            if (match) {
                const timestamp = parseInt(match[0], 10);
                const date = new Date(timestamp);
                const day = date.getDate().toString().padStart(2, '0');
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            }
            return "Invalid Date";
        }
    </script>

    <script>
$(document).ready(function () {
    // Change page size
    $('#manage_details_page_size').change(function () {
          $("#grngrid").hide();
        var pageSize = parseInt($('#manage_details_page_size').val());
          $.ajax({
              url: '/GRN/GRNGrid',
              type: "GET",
              data: { pageSize: pageSize },
              success: function (data) {
                  $("#grngrid").html(data).show();
              },
              error: function () {
                  alert('Error loading data');
              }
          });
      });
  // Click event for page links
       $(document).on("click", "#paginationSummary .page-link[data-page]", function (e) {
          e.preventDefault();
           $("#grngrid").hide();
          var page = $(this).data("page");
          $.ajax({
              url: '@Url.Action("GRNGrid", "GRN")',
              type: "GET",
              data: { page: page },
              success: function(data) {
                  $("#grngrid").html(data).show();
              }
          });
      });

        // Previous page button
      $('#previousPage').click(function (e) {
    e.preventDefault();
    var currentPage = parseInt('@ViewBag.CurrentPage');
    if (currentPage > 1) {
        var previousPage = currentPage - 1;
        var pageSize = parseInt('@ViewBag.PageSize');
        $.ajax({
            url: '/GRN/GRNGrid',
            type: "GET",
            data: { page: previousPage, pageSize: pageSize },
            success: function (values) {
                $("#grngrid").html(values).show();
            },
            error: function () {
                alert('Error loading data');
            }
        });
    }
});

// Next page button
      $('#nextPage').click(function (e) {
    e.preventDefault();
    var currentPage = parseInt('@ViewBag.CurrentPage');
    var totalPages = parseInt('@ViewBag.TotalPages');
    if (currentPage < totalPages) {
        var nextPage = currentPage + 1;
        var pageSize = parseInt('@ViewBag.PageSize');
        $.ajax({
            url: '/GRN/GRNGrid',
            type: "GET",
            data: { page: nextPage, pageSize: pageSize },
            success: function (values) {
                $("#grngrid").html(values).show();
            },
            error: function () {
                alert('Error loading data');
            }
        });
    }
});

});

    </script>

</body>
</html>


