@model MMS.Web.Models.SupplierMaterialModel.SupplierMaterialModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/dropdown.css" rel="stylesheet" />

</head>

<body>

    <section class="inner-section">
        <div class="d-flex justify-content-between">
            <h2 class=" font-20">SUpplier Materials</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="edit-section">
            <h3 class="font-20">Basic Information</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-part">
                        <label class="font-14" for="#BuyerId">Supplier Name</label>
                        @Html.DropDownListFor(m => m.SupplierId, MMS.Web.ExtensionMethod.HtmlHelper.SupplierName(), new { @class = "select-style text-field" })
                        @Html.HiddenFor(x => x.SupplierMaterialId)
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-part">
                        <label class="font-14" for="#AddressType">Category Name</label>
                        @Html.DropDownListFor(m => m.category, MMS.Web.ExtensionMethod.HtmlHelper.MaterialCategoryName(), new { @class = "select-style text-field" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-part">
                        <label class="font-14" for="#AddressType">Product Name</label>
                        @Html.DropDownListFor(m => m.ProductId, MMS.Web.ExtensionMethod.HtmlHelper.ProductmMATName(), new { @class = "select-style text-field" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-part">
                        <label class="font-14" for="Uomid">UOM Name</label>
                        @Html.DropDownListFor(
m => m.UomId,
MMS.Web.ExtensionMethod.HtmlHelper.Uom(),
new
{
    @class = "select-style text-field read-only-dropdown",
style = "background-color: #eee !important;"
}
)

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="input-part">
                        <label class="font-14" for="#State">Tax</label>
                        @Html.DropDownListFor(m => m.TaxId, MMS.Web.ExtensionMethod.HtmlHelper.GetTaxON(), new { @class = "select-style text-field" })

                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="inner-section-button mt-4">

                <button class="fill-color font-15" onclick="Save()">
                    SAVE
                </button>

                <a href="/SupplierMaterial/SupplierMaster">
                    <button class="border-color font-15">
                        CANCEL
                    </button>
                </a>
            </div>
        </div>
    </section>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/dropdown.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script>
        new TomSelect("#SupplierId", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
        new TomSelect("#category", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
        new TomSelect("#ProductId", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
    </script>
    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#supplier").attr('checked', true);
        });
        new TomSelect("#ProductId", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });

    </script>

    <script>
        function Save() {
            var AddressId = $("#AddressId").val();
            var BuyerId = $("#BuyerId").val();
            var AddressType = $("#AddressType").val();
            var Add1 = $("#Add1").val();
            var Add2 = $("#Add2").val();
            var Add3 = $("#Add3").val();
            var City = $("#City").val();
            var Country = $("#Country").val();
            var State = $("#State").val();
            var ZipCode = $("#ZipCode").val();
            var ContactName = $("#ContactName").val();
            var Email = $("#Email").val();
            var Phone = $("#Phone").val();
            var Notes = $("#Notes").val();
            var formdata = new FormData();
            formdata.append("AddressId", AddressId);
            formdata.append("BuyerId", BuyerId);
            formdata.append("AddressType", AddressType);
            formdata.append("Add1", Add1);
            formdata.append("Add2", Add2);
            formdata.append("Add3", Add3);
            formdata.append("City", City);
            formdata.append("State", State);
            formdata.append("Country", Country);
            formdata.append("ZipCode", ZipCode);
            formdata.append("ContactName", ContactName);
            formdata.append("Email", Email);
            formdata.append("Phone", Phone);
            formdata.append("Notes", Notes);
            if (AddressId != "" && BuyerId != "" && AddressType != "" && Add1 != "" && Add2 != "" && City != "" && ContactName != "" && Notes != "") {

                if (AddressId == "0") {
                    $.ajax({
                        type: 'POST',
                        url: '/AddressDetails/CustAddressInsert',
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (data) {

                            if (data.addresid != "" || data.addresid != 0) {
                                alert('Saved Successfully.');
                                location.href = "/AddressDetails/AddressMaster";
                                return false;
                            }
                            else if (data.addresid == 0 && data.addresid != "") {
                                alert('Already Exist in the database.');
                                return false;
                            }
                            else {
                                alert('Save process Failed.');
                                location.href = "/AddressDetails/AddressDetails";
                                return false;
                            }

                        },
                        error: function (ex) {
                            alert('Already Exist in the database.');
                        }
                    });
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/AddressDetails/Update',
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (data) {

                            if (data.addresid != "" || data.addresid != 0) {
                                alert('Update Successfully.');
                                location.href = "/AddressDetails/AddressMaster";
                                return false;
                            }
                            else {
                                alert('Update process Failed.');
                                location.href = "/AddressDetails/AddressDetails";
                                return false;
                            }

                        },
                        error: function (ex) {
                            alert('Update process Failed in the database.');
                        }
                    });
                }

            }
        }
    </script>

</body>
</html>