@using MMS.Core.Entities
@model IEnumerable<MMS.Web.Models.SupplierMaterialModel.SupplierMaterialModel>
@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int pageSize = ViewBag.PageSize ?? 8;
    int totalItems = Model.Count();
    int startSerialNumber = (currentPage - 1) * pageSize + 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
            padding: 16px;
        }

        img#paynows {
            width: 26%;
        }

        .manage_customers_table_responsive, .reports .reports_table_responsive {
            padding: 1px 15px 13px;
            box-sizing: border-box;
            overflow-x: unset;
        }

        .sub_merchants .merchant_btn, .manage_customers .manage_customers_btn, .common_Manage_subMerchant .manage_customers_btn {
            background: #4472C4;
            border-radius: 5px;
            padding: 11px 61px;
            border: 1px solid transparent;
            font-style: normal;
            font-weight: 500;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }
    </style>
</head>
<body>
    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <div class="d-flex justify-content-between align-items-center manage_customers_head">
                <div class="manage_customers_main_head">
                    <h6 class="font-20">Supplier Details</h6>
                </div>
                <div>
                    <button type="button" class="manage_customers_btn font-15" id="add" style="color:white;">
                        ADD
                    </button>
                </div>
            </div>

            <div class="table-responsive reports_table_responsive">
                <div class="customer_manage_search_container">
                    <input type="text" class="font-14" name="search_manage_customers" id="customer_manage_search" placeholder="Search by Supplier Name">
                </div>
                <div class="manage_customers_table_in_responsive" id="form">

                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="font-16">
                                <th scope="col">
                                    <span>Si.No</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Supplier Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Category Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>

                                <th scope="col">
                                    <span>Product Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Product Code</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>UOM</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Tax %</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>

                                <th scope="col">
                                    <span>Status</span>
                                </th>
                            </tr>
                        </thead>
                        @if (Model != null && Model.Count() > 0)
                        {
                            <tbody>

                                @foreach (var sup in Model)
                                {

                                    <tr>
                                        <td class="veh-1" style="width: 12%;">@startSerialNumber</td>
                                        <td class="veh-2" style="width: 12%; text-align: left;">@sup.suppliername</td>
                                        <td class="veh-2" style="width: 12%;text-align:left;">@sup.categoryname</td>
                                        <td class="veh-3" style="width: 12%; text-align: left;">@sup.ProductName</td>
                                        <td class="veh-3" style="width: 12%; text-align: left;">@sup.Productcode</td>
                                        <td class="veh-5" style="width: 12%; text-align: left;">@sup.uom</td>
                                        <td class="veh-4" style="width: 12%; text-align: left;">@sup.tax</td>
                                        <td class="veh-4" style="width:12%;">
                                            <span class="table_icons">
                                                <img src="~/Content/assets/images/edit-icon.png" onclick="Edit('@sup.SupplierMaterialId')" />
                                            </span>
                                            <span class="table_icons">
                                                <img src="~/Content/assets/images/delete-icon.png" onclick="Delete('@sup.SupplierMaterialId')" />
                                            </span>
                                        </td>
                                    </tr>
                                    startSerialNumber++;
                                }

                            </tbody>

                        }
                        else
                        {
                            <tbody>
                                <tr><td colspan="9">No records found</td></tr>
                            </tbody>

                        }
                    </table>
                    </div>
                    <div class="row manage_customer_show">
                        <div class="font-14 manage_customer_show_I col-xl-6">
                            <span>Showing </span>
                            <select class="form-select font-16" name="manage_customer_show_content" id="manage_customer_show_no" aria-label="select example">
                                <option value="15" @(ViewBag.PageSize == 15 ? "selected" : "")>15</option>
                                <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30</option>
                                <option value="45" @(ViewBag.PageSize == 45 ? "selected" : "")>45</option>
                                <option value="60" @(ViewBag.PageSize == 60 ? "selected" : "")>60</option>
                            </select>


                        </div>

                        <div class="col-xl-6 manage_customer_show_II">
                            <nav class="float-xl-end">
                                <ul class="pagination font-14">
                                    <li class="page-item">
                                        <a href="##" id="previousPage" class="page-link">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a href="#" class="page-link" data-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link" id="nextPage" href="##">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

            </div>
            <div id='myModal' class='modal'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='details' class="myModalContent"></div>
                    </div>
                </div>
            </div>

            <script src="~/Content/js/custom.js"></script>
            <link href="~/Content/css1/sweetalert.css" rel="stylesheet" />

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="~/Content/js/bootstrap.bundle.min.js"></script>
            <script>
                $(window).on("load", function () {
                    $(".report-inner-section").addClass("transection");
                    $("#supplier").attr('checked', true);
                });

            </script>

            <script>
            $(document).ready(function () {
                $(document).on("click", "#add", function () {
                    $.ajax({
                        type: 'GET',
                        url: '/SupplierMaterial/SupplierMaterial_Details',
                        success: function (values) {
                            $('#details').html(values);

                            var options = {
                                backdrop: 'static',
                                keyboard: false
                            };

                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        }
                    });
                });
                $("#customer_manage_search").keyup(function () {
                    var customerearch = $("#customer_manage_search").val();

                    $.ajax({
                        type: 'GET',
                        url: '/SupplierMaterial/Search',
                        data: { filter: customerearch },
                        contentType: 'application/json',
                        success: function (values) {
                            $("tbody").empty();
                            var count = 1;
                            $.each(values, function (i, item) {
                                $("tbody").append(`
                                                                                         <tr class="font-14">
                                                                                         <td class="veh1-5">${count}</td>
                                                                                         <td class="veh1-5" style="width: 12%; text-align: left;">${item.suppliername}</td>
                                                                                         <td class="veh1-5" style="width: 12%; text-align: left;">${item.categoryname}</td>
                                                                                         <td class="veh1-5" style="width: 12%; text-align: left;">${item.ProductName}</td>
                                                                                         <td class="veh1-5" style="width: 12%; text-align: left;">${item.Productcode}</td>
                                                                                         <td class="veh1-5" style="width: 12%; text-align: left;">${item.uom}</td>
                                                                                         <td class="veh1-5" style="width: 12%; text-align: left;">${item.tax}</td>
                                                                                         <td class="veh-4" style="width:12%;">
                                                                                         <span class="table_icons">
                                                                                             <img src="/Content/assets/images/edit-icon.png" onclick="Edit('${item.SupplierMaterialId}')" />
                                                                                         </span>
                                                                                         <span class="table_icons">
                                                                                             <img src="/Content/assets/images/delete-icon.png" onclick="Delete('${item.SupplierMaterialId}')" />
                                                                                            </span>
                                                                                         </td>
                                                                                         </tr>
                                                                                          `);
                                count++;
                            });
                        }
                    });
                });
 $('#manage_customer_show_no').change(function() {
     var PageSize = parseInt($(this).val());
     $.ajax({
         url: '/SupplierMaterial/SupplierMaster',
         type: "GET",
         dataType: "JSON",
         data: { pageSize: PageSize },
         success: function (values) {
             $("#summery").html(values).show();
         }
     });
 });
   $(".page-link").click(function(e){
         e.preventDefault();
         var page = $(this).data("page");

         $.ajax({
             url: "@Url.Action("SupplierMaster", "SupplierMaterial")",
             type: "GET",
             data: { page: page },
             success: function(data){
                 $("#summery").html(data).show();
             }
         });
     });
 $('#previousPage').click(function(e) {
     e.preventDefault();
     var currentPage = parseInt('@ViewBag.CurrentPage');
     if (currentPage > 1) {
         var previousPage = currentPage - 1;
         $.ajax({
             url: '/SupplierMaterial/SupplierMaster',
             type: "GET",
             dataType: "JSON",
             data: { page: previousPage, pageSize:parseInt('@ViewBag.PageSize') },
             success: function (values) {
                 $("#summery").html(values).show();
             }
         });
     }
 });

 $('#nextPage').click(function(e) {
     e.preventDefault();
     var currentPage = parseInt('@ViewBag.CurrentPage');
     var totalPages = parseInt('@ViewBag.TotalPages');
     if (currentPage < totalPages) {
         var nextPage = currentPage + 1;
          $.ajax({
              url: '/SupplierMaterial/SupplierMaster',
               type: "GET",
               dataType: "JSON",
                data: { page: nextPage, pageSize:parseInt('@ViewBag.PageSize') },
               success: function (values) {
                    $("#summery").html(values).show();
               }
          });

     }
 });
            });
            </script>
            <script>
  function Delete(arg) {
    var answer = confirm("Are you sure you want to delete?");
    if (answer) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "SupplierMaterial")',
            data: { SupplierMaterialId: arg },
            success: function (data) {
                if (data == "Success") {
                    alert('Deleted Successfully.');
                    location.href = "/SupplierMaterial/SupplierMaster";
                } else {
                    alert('Address details deletion failed.');
                }
            },
            error: function (xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        });
    } else {
        return false;
    }
}
function Edit(arg) {
    $.ajax({
        type: "POST",
        url: '@Url.Action("EditsupplierDetails", "SupplierMaterial")',
        data: JSON.stringify({ SupplierMaterialId: arg }),
        contentType: 'application/json',
        success: function (values) {
            $('#details').html(values);

            var options = {
                backdrop: 'static',
                keyboard: false
            };

            $('#myModal').modal(options);
            $('#myModal').modal('show');
        },
        error: function (xhr, status, error) {
            alert('An error occurred: ' + error);
        }
    });
}


            </script>


    </body>
</html>


