@model MMS.Web.Models.Addressdetails.Addressdetails
@using MMS.Repository.Managers
@using MMS.Core.Entities

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/dropdown.css" rel="stylesheet" />


</head>
<style>
    div#lestradio {
        margin-left: 13%;
    }
    .caret {
        display: inline-block;
        width: 0;
        margin-top: -16%;
        height: 0;
        margin-left: 94%;
        vertical-align: middle;
        border-top: 13px dashed;
        border-top: 7px solid;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
</style>
<body>

    <div class="main-page">
        <!-- page-contents here -->
        <section class="inner-section">
            <div class="edit-customer">
                <a href="/AddressDetails/AddressMaster">
                    <div class="back-button"><img src="~/Content/assets/images/choose-plan.png" alt="back arrow"></div>
                </a>
                <h2 class=" font-20">Buyer or Supplier Address Details</h2>

                <div id="lestradio">
                    <div class="radioSection">
                        <label for="add"> <input type="radio" name="yes" id="add" style=" cursor: pointer;" checked> Buyer </label>
                        <label for="add1"><input type="radio" name="yes" id="add1" style=" cursor: pointer;"> Supplier</label>
                    </div>
                </div>
            </div>

            <div class="edit-section">
                <h3 class="font-20">Basic Information</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12" id="Buyer">
                        <div class="input-part">
                            <label class="font-14" for="BuyerId">Buyer Name</label>
                            @Html.DropDownListFor(m => m.BuyerId, MMS.Web.ExtensionMethod.HtmlHelper.BuyerName(), new { @class = "select-style text-field", onchange = "BuyerIdfun()" })
                            <span class="caret"></span>
                            @Html.HiddenFor(x => x.AddressId)
                            @Html.HiddenFor(x => x.suppAddressId)
                            <p id="BuyerIderror" style="color: red; "></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12" id="Supplier">
                        <div class="input-part">
                            <label class="font-14" for="#AddressType">Supplier Name</label>
                            @Html.DropDownListFor(m => m.SupplierId, MMS.Web.ExtensionMethod.HtmlHelper.SupplierName(), new { @class = "select-style text-field", onchange = "supplfun()" })
                            <span class="caret"></span>
                        </div>
                        <p id="suppIderror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#addressvarient">Type</label>
                            @Html.DropDownListFor(
                           m => m.addressvarient,
                           new SelectList(
                               new List<object> {
                                   new { value = (int?)null, text = "Please Select" },
                                   new { value = 0, text = "Single Address" },
                                   new { value = 1, text = "Multiple Address" }
                               },
                               "value",
                               "text",
                               Model.addressvarient
                           ),
                           new { @class = "select-style text-field", onchange = "IsDefaultfun()" }
                       )


                        </div>
                        <p id="IsDefaulterror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#AddressType">Address Type</label>
                            @Html.DropDownListFor(m => m.AddressType, MMS.Web.ExtensionMethod.HtmlHelper.AddressTypebind(), new { @class = "select-style text-field", onchange = "AddressTypefun()" })
                        </div>
                        <p id="AddressTypeerror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Add1">Address1</label>
                            @Html.TextAreaFor(m => m.Add1, new { @class = "form-control", placeholder = "Enter Address......", onkeyup = "Add1fun()" })
                        </div>
                        <p id="Add1error" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Add2">Address2</label>
                            @Html.TextAreaFor(m => m.Add2, new { @class = "form-control text-field", placeholder = "Enter Address......", onkeyup = "Add2fun()" })
                        </div>
                        <p id="Add2error" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Add3">Address3</label>
                            @Html.TextAreaFor(m => m.Add3, new { @class = "form-control text-field", placeholder = "Enter Address......", onkeyup = "Add3fun()" })
                        </div>
                        <p id="Add3error" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="Country">Country</label>
                            @Html.DropDownListFor(m => m.Country, MMS.Web.ExtensionMethod.HtmlHelper.countryListdata(), new { @class = "select-style text-field", onchange = "Countryfun()" })

                        </div>
                        <p id="Countryerror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="State">State</label>
                            @Html.DropDownListFor(m => m.State, MMS.Web.ExtensionMethod.HtmlHelper.StateListdata(), new { @class = "select-style text-field", onchange = "Statefun()" })

                        </div>
                        <p id="Stateerror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="City">City</label>
                            @Html.DropDownListFor(m => m.City, MMS.Web.ExtensionMethod.HtmlHelper.CityListdata(), new { @class = "select-style text-field", onchange = "Cityfun()" })

                        </div>
                        <p id="Cityerror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#ZipCode">Zip Code</label>
                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control text-field", placeholder = "Enter Zip Code", onkeyup = "ZipCodefun()" })
                        </div>
                        <p id="Ziperror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#ContactName">Contact Name</label>
                            @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control text-field", placeholder = "Enter contact person name", onkeyup = "ContactNamefun()" })
                        </div>
                        <p id="ContactNameerror" style="color: red; "></p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Email">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-field", placeholder = "Your email", onkeyup = "emailfun()" })
                        </div>
                        <p id="emailerror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Email">VAT Number</label>
                            @Html.TextBoxFor(m => m.vatnumber, new { @class = "form-control text-field", placeholder = "Your VAT Number", onkeyup = "vatnumfun()" })
                        </div>
                        <p id="vaterror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Phone">Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control text-field", placeholder = "Enter Mobile Number", onkeyup = "numbervalidatefun()" })
                        </div>
                        <p id="Pherror" style="color: red; "></p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Notes">Notes</label>
                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control text-field", placeholder = "Any Notes......", onkeyup = "Notesfun()" })
                        </div><p id="Noteserror" style="color: red; "></p>

                    </div>


                </div>
                <div class="row">

                </div>
                <div class="inner-section-button mt-4">

                    <button class="fill-color font-15" onclick="Save(); savecustomerdetails();">
                        SAVE
                    </button>

                    <a href="/AddressDetails/AddressMaster">
                        <button class="border-color font-15">
                            CANCEL
                        </button>
                    </a>
                </div>
            </div>
    </div>

    <script src="~/Content/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Content/js/dropdown.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/Validation.js"></script>

    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#Address").attr('checked', true);

        });
        function initializeTomSelect(selectors, options) {
            selectors.forEach(selector => {
                new TomSelect(selector, options);
            });
        }

        initializeTomSelect([
            "#Country"
        ], {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
        new TomSelect("#SupplierId", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
        new TomSelect("#BuyerId", {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
    </script>

    <script>
        function Save() {
            var addressvarient = $("#addressvarient").val();
            if (addressvarient == 0) {
                var AddressType = 0;
            } else {
                var AddressType = $("#AddressType").val();
            }
            var AddressId = $("#AddressId").val();
            var suppAddressId = $("#suppAddressId").val();
            var BuyerId = $("#BuyerId").val();
            var SupplierId = $("#SupplierId").val();
            var Add1 = $("#Add1").val();
            var Add2 = $("#Add2").val();
            var Add3 = $("#Add3").val();
            var addressvarient = $("#addressvarient").val();
            var City = $("#City").val();
            var vatnumber = $("#vatnumber").val();
            var Country = $("#Country").val();
            var State = $("#State").val();
            var ZipCode = $("#ZipCode").val();
            var ContactName = $("#ContactName").val();
            var Email = $("#Email").val();
            var Phone = $("#Phone").val();
            var Notes = $("#Notes").val();
            var formdata = new FormData();
            formdata.append("AddressId", AddressId);
            formdata.append("suppAddressId", suppAddressId);
            formdata.append("BuyerId", BuyerId);
            formdata.append("SupplierId", SupplierId);
            formdata.append("AddressType", AddressType);
            formdata.append("Add1", Add1);
            formdata.append("vatnumber", vatnumber);
            formdata.append("addressvarient", addressvarient);
            formdata.append("Add2", Add2);
            formdata.append("Add3", Add3);
            formdata.append("CityId", City);
            formdata.append("StateId", State);
            formdata.append("CountryId", Country);
            formdata.append("ZipCode", ZipCode);
            formdata.append("ContactName", ContactName);
            formdata.append("Email", Email);
            formdata.append("Phone", Phone);
            formdata.append("Notes", Notes);
            var filter = /^[0-9]{10}$/;
            var zipfilter = /^[0-9]{6}$/;
            var phoneregx = /^[a-zA-Z\s\.]*$/;
            var email = /^(([^<>()[\]\\.,;:\s"]+(\.[^<>()[\]\\.,;:\s"]+)*)|.(".+"))((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if ((ZipCode != "" && (BuyerId != "" || SupplierId != "") && (AddressType != "" || AddressType == "") && Add1 != "" && Add2 != "" && City != "" &&
                ContactName != "" && Notes != "" && State != "" && Country != "") && (filter.test(Phone) && vatnumber != "" &&
                    zipfilter.test(ZipCode) && email.test(Email) && phoneregx.test(ContactName))) {
                if (Add1.length < 100 && Add2.length < 100 && Add3.length < 100) {
                    if (suppAddressId == "0") {
                        if (AddressId == "0") {
                            $.ajax({
                                type: 'POST',
                                url: '/AddressDetails/CustAddressInsert',
                                contentType: false,
                                processData: false,
                                dataType: 'html',
                                data: formdata,
                                success: function (data) {
                                    var val = JSON.parse(data);
                                    if (val == "Success") {
                                        alert('Saved Successfully.');
                                        location.href = "/AddressDetails/AddressMaster";
                                        return false;
                                    }
                                    else if (val == "already") {
                                        alert('Already Exist Single Address.');
                                        return false;
                                    }
                                    else {
                                        alert('Save process Failed.');
                                        location.href = "/AddressDetails/AddressDetails";
                                        return false;
                                    }

                                },
                                error: function (ex) {
                                    alert('Already Exist in the database.');
                                }
                            });
                        }
                        else {
                            $.ajax({
                                type: 'POST',
                                url: '/AddressDetails/Update',
                                contentType: false,
                                processData: false,
                                dataType: 'html',
                                data: formdata,
                                success: function (data) {

                                    if (data.addresid != "" || data.addresid != 0) {
                                        alert('Update Successfully.');
                                        location.href = "/AddressDetails/AddressMaster";
                                        return false;
                                    }
                                    else {
                                        alert('Update process Failed.');
                                        location.href = "/AddressDetails/AddressDetails";
                                        return false;
                                    }

                                },
                                error: function (ex) {
                                    alert('Update process Failed in the database.');
                                }
                            });
                        }
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: '/AddressDetails/Updatesupplier',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (data) {

                                if (data.addresid != "" || data.addresid != 0) {
                                    alert('Update Successfully.');
                                    location.href = "/AddressDetails/AddressMaster";
                                    return false;
                                }
                                else {
                                    alert('Update process Failed.');
                                    location.href = "/AddressDetails/AddressDetails";
                                    return false;
                                }

                            },
                            error: function (ex) {
                                alert('Update process Failed in the database.');
                            }
                        });


                    }
                }
                else {
                    //    alert("Enter all feild correctly");
                }
            }
        }
    </script>
    <script>

        $(document).ready(function () {
            $("#State").empty();
            $("#City").empty();
            $("#Supplier").hide();
            $("#add1").click(function () {
                $("#Supplier").show();
                $("#Buyer").hide();
                $('#BuyerId').val("");
            });
            $("#add").click(function () {
                $("#Buyer").show();
                $("#Supplier").hide();
                $('#SupplierId').val("");

            });
            $("#Country").change(function () {
                var CountryId = $('#Country').val();
                $.ajax({
                    url: '/AddressDetails/statelist',
                    type: "GET",
                    dataType: "JSON",
                    data: { country: CountryId },
                    success: function (states) {
                        $("#State").html("");
                        $("#City").html("Please Select City");
                        $.each(states, function (i, state) {
                            $("#State").append(
                                $('<option></option>').val(state.Id).html(state.Statename));
                        });
                    }
                });
            });
            $("#State").change(function () {
                $("#City").empty();
                var stateId = $('#State').val();
                $.ajax({
                    url: '/AddressDetails/citylist',
                    type: "GET",
                    dataType: "JSON",
                    data: { state: stateId },
                    success: function (cities) {
                        $("#City").html("");
                        $.each(cities, function (i, city) {
                            $("#City").append(
                                $('<option></option>').val(city.Id).html(city.Cityname));
                        });
                    }
                });
            });
            $("#addressvarient").change(function () {
                var Id = $(this).val();
                if (Id == 0) {
                    $("#AddressType").attr("disabled", true);
                    $("#AddressType").css("background-color", "rgba(0, 0, 0, 0.2) !important");
                    $('#AddressTypeerror').text("");
                    $('#AddressType').val("");
                } else {
                    $("#AddressType").attr("disabled", false);
                    $("#AddressType").css("background-color", "");
                }
            });

        });

    </script>

</body>

</html>

