@model MMS.Web.Models.Addressdetails.Addressdetails
@using MMS.Repository.Managers
@using MMS.Core.Entities

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />


</head>

<body>

    <div class="main-page">
        <!-- page-contents here -->
        <section class="inner-section">
            <div class="edit-customer">
                <a href="/AddressDetails/AddressMaster">
                    <div class="back-button"><img src="~/Content/assets/images/choose-plan.png" alt="back arrow"></div>
                </a>
                <h2 class=" font-20">Customer Details</h2>
            </div>

            <div class="edit-section">
                <h3 class="font-20">Basic Information</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#BuyerId">Customer Name</label>
                            @Html.DropDownListFor(m => m.BuyerId, MMS.Web.ExtensionMethod.HtmlHelper.BuyerName(), new { @class = "select-style text-field" })
                            @Html.HiddenFor(x => x.AddressId)
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#IsDefault">Type</label>
                            @Html.DropDownListFor(m => m.IsDefault, new SelectList(
                                  new List<Object>{
                                       new { value = "" , text = "Please Select"  },
                                       new { value = 0 , text = "Single Address"  },
                                       new { value = 1 , text = "Multiple Address" }

                                    },
                                  "value",
                                  "text",
                                   2), new { @class = "select-style text-field" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#AddressType">Address Type</label>
                            @Html.DropDownListFor(m => m.AddressType, MMS.Web.ExtensionMethod.HtmlHelper.AddressTypebind(), new { @class = "select-style text-field" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Add1">Address1</label>
                            @Html.TextAreaFor(m => m.Add1, new { @class = "form-control", placeholder = "Enter Address......" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Add2">Address2</label>
                            @Html.TextAreaFor(m => m.Add2, new { @class = "form-control text-field", placeholder = "Enter Address......" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Add3">Address3</label>
                            @Html.TextAreaFor(m => m.Add3, new { @class = "form-control text-field", placeholder = "Enter Address......" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Country">Country</label>
                            @Html.DropDownListFor(m => m.Country, MMS.Web.ExtensionMethod.HtmlHelper.countryListdata(), new { @class = "select-style text-field" })

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#State">State</label>
                            @Html.DropDownListFor(m => m.State, MMS.Web.ExtensionMethod.HtmlHelper.StateListdata(), new { @class = "select-style text-field" })

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#City">City</label>
                            @Html.DropDownListFor(m => m.City, MMS.Web.ExtensionMethod.HtmlHelper.CityListdata(), new { @class = "select-style text-field" })

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#ZipCode">Zip Code</label>
                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control text-field", placeholder = "Enter Zip Code" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#ContactName">Contact Name</label>
                            @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control text-field", placeholder = "Enter contact person name" })
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Email">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-field", placeholder = "Your email" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Notes">Notes</label>
                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control text-field", placeholder = "Any Notes......" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Phone">Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control text-field", placeholder = "Enter Mobile Number" })
                        </div>
                    </div>

                </div>
                <div class="row">

                </div>
                <div class="inner-section-button mt-4">

                    <button class="fill-color font-15" onclick="Save()">
                        SAVE
                    </button>

                    <a href="/AddressDetails/AddressMaster">
                        <button class="border-color font-15">
                            CANCEL
                        </button>
                    </a>
                </div>
            </div>
    </div>


    <script src="~/Content/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#Address").attr('checked', true);

        });
    </script>

    <script>
        function Save() {
            var AddressId = $("#AddressId").val();
            var BuyerId = $("#BuyerId").val();
            var AddressType = $("#AddressType").val();
            var Add1 = $("#Add1").val();
            var Add2 = $("#Add2").val();
            var Add3 = $("#Add3").val();
            var City = $("#City").val();
            var Country = $("#Country").val();
            var State = $("#State").val();
            var ZipCode = $("#ZipCode").val();
            var ContactName = $("#ContactName").val();
            var Email = $("#Email").val();
            var Phone = $("#Phone").val();
            var Notes = $("#Notes").val();
            var formdata = new FormData();
            formdata.append("AddressId", AddressId);
            formdata.append("BuyerId", BuyerId);
            formdata.append("AddressType", AddressType);
            formdata.append("Add1", Add1);
            formdata.append("Add2", Add2);
            formdata.append("Add3", Add3);
            formdata.append("City", City);
            formdata.append("State", State);
            formdata.append("Country", Country);
            formdata.append("ZipCode", ZipCode);
            formdata.append("ContactName", ContactName);
            formdata.append("Email", Email);
            formdata.append("Phone", Phone);
            formdata.append("Notes", Notes);
            if (AddressId != "" && BuyerId != "" && AddressType != "" && Add1 != "" && Add2 != "" && City != "" && ContactName != "" && Notes != "") {

                if (AddressId == "0") {
                    $.ajax({
                        type: 'POST',
                        url: '/AddressDetails/CustAddressInsert',
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (data) {

                            if (data.addresid != "" || data.addresid != 0) {
                                alert('Saved Successfully.');
                                location.href = "/AddressDetails/AddressMaster";
                                return false;
                            }
                            else if (data.addresid == 0 && data.addresid != "") {
                                alert('Already Exist in the database.');
                                return false;
                            }
                            else {
                                alert('Save process Failed.');
                                location.href = "/AddressDetails/AddressDetails";
                                return false;
                            }

                        },
                        error: function (ex) {
                            alert('Already Exist in the database.');
                        }
                    });
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/AddressDetails/Update',
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (data) {

                            if (data.addresid != "" || data.addresid != 0) {
                                alert('Update Successfully.');
                                location.href = "/AddressDetails/AddressMaster";
                                return false;
                            }
                            else {
                                alert('Update process Failed.');
                                location.href = "/AddressDetails/AddressDetails";
                                return false;
                            }

                        },
                        error: function (ex) {
                            alert('Update process Failed in the database.');
                        }
                    });
                }

            }
        }
    </script>

</body>

</html>

