@model MMS.Web.Models.SupplierMasterModel.SupplierMasterModel
@using MMS.Repository.Managers
@using MMS.Core.Entities
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
            padding: 16px;
        }

        img#paynows {
            width: 26%;
        }

        .manage_customers_table_responsive, .reports .reports_table_responsive {
            padding: 1px 15px 13px;
            box-sizing: border-box;
            overflow-x: unset;
        }

        .sub_merchants .merchant_btn, .manage_customers .manage_customers_btn, .common_Manage_subMerchant .manage_customers_btn {
            background: #4472C4;
            border-radius: 5px;
            padding: 11px 61px;
            border: 1px solid transparent;
            font-style: normal;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <h3>Supplier Master</h3>
            <div class="table-responsive reports_table_responsive">
                <div class="d-flex justify-content-between">
                    <div class="customer_manage_search_container">
                        <input type="text" class="font-14" name="search_manage_customers" id="customer_manage_search" placeholder="search by Contact Name">
                    </div>
                    <a href="/SupplierMaterial/SupplierMaterial_Details">
                        <button type="button" class="manage_customers_btn font-15" id="add" style="color: white; margin-top: 14%;">
                            ADD
                        </button>
                    </a>
                </div>

                <div class="manage_customers_table_in_responsive" id="form">

                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="font-16">
                                <th scope="col">
                                    <span>Si.No</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span> Supplier Code</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span> Supplier Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span> Designation</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Information</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th><th scope="col">
                                         <span> Currency</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                         <span> Mobile No</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span><th scope="col">
                                               <span> Contact Person</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Status</span>
                                </th>
                            </tr>
                        </thead>
                        @if (Model.SupplierMasterList.Count > 0 && Model.SupplierMasterList != null)
                        {
                            int count = 1;
                            <tbody>


                                @foreach (var SupplierMaster in Model.SupplierMasterList)
                                {
                                    <tr>
                                        <td class="veh-1">@count</td>
                                        <td class="veh-1" style="width: 12%;"> @SupplierMaster.SupplierCode</td>
                                        <td class="veh-2" style="width: 12%;">@SupplierMaster.SupplierName</td>
                                        <td class="veh-3" style="width: 12%;">@SupplierMaster.Designation</td>
                                        <td class="veh-4" style="width: 12%;">@SupplierMaster.OtherInformation</td>
                                        <td class="veh-5" style="width: 12%;">@SupplierMaster.Currency</td>
                                        <td class="veh-7" style="width: 12%;">@SupplierMaster.Mobile</td>
                                        <td class="veh-8" style="width: 12%;">@SupplierMaster.ContactPerson</td>
                                        <td class="veh-4" style="width:12%;">
                                            <span class="table_icons">
                                                <img src="~/Content/assets/images/edit-icon.png" onclick="Edit('@SupplierMaster.SupplierMasterId')" />
                                            </span>
                                            <span class="table_icons">
                                                <img src="~/Content/assets/images/delete-icon.png" onclick="Delete('@SupplierMaster.SupplierMasterId')" />
                                            </span>
                                        </td>
                                    </tr>
                                    count++;
                                }

                            </tbody>

                        }
                    </table>
                </div>
                <div class="row manage_customer_show">
                    <div class="col-xl-6 manage_customer_show_II">
                        <nav class="float-xl-start">
                            <ul class="pagination font-14">
                                @if (ViewBag.startpage != null && ViewBag.endpage != null)
                                {
                                    <li class="page-item">
                                        <a class="page-link" id="left" value="@(ViewBag.currentpage-1)">Previous</a>
                                    </li>
                                    for (int i = ViewBag.startpage; i <= ViewBag.endpage; i++)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" id="number" value="@i">@i</a>
                                        </li>

                                    }
                                    <li class=" page-item">
                                        <a class="page-link" id="right" value="@(ViewBag.currentpage+1)">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });

    $(function () {
        setTimeout(function () { $("#spn_error").fadeOut(1500); }, 5000);

    })
    function Search() {
        $.ajax({
            type: "POST",
            url: ' @Url.Action("Search", "SupplierMaster")',
            data: { filter: $('#SeaarchID').val() },
            success: function (data) {

                $(".veh-tablewrap").html(data);
                $(".veh-tablewrap").show();
                $('#DivShow').hide();
                $('#EditColorPartial').hide();
            }
        });
    }

    function Cancel() {
        $('#EditColorPartial').hide();
        $('.veh-tablecont').css('display', 'block');
    }
    function Add() {
        $('.veh-tablecont').css('display', 'none');
        $.ajax({
            type: "POST",
            url: ' @Url.Action("SupplierMasterDetails", "SupplierMaster")',
            data: { SupplierMasterId: 0 },
            success: function (data) {
                $("#EditColorPartial").html(data);
                $("#EditColorPartial").show();
            }
        });

    }
    function Edit(arg) {
        $('.veh-tablecont').css('display', 'none');
        $.ajax({
            type: "POST",
            url: ' @Url.Action("SupplierMasterDetails", "SupplierMaster")',
            data: { SupplierMasterId: arg },
            success: function (data) {
                $("#EditColorPartial").html(data);
                $("#EditColorPartial").show();
            }
        });

    }
    function Delete(arg) {
        var answer = confirm("Are you sure want to delete?");
        if (answer) {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("Delete", "SupplierMaster")',
                data: { BuyerMasterId: arg },
                success: function (data) {
                    if (data == "Success") {
                        alert('Deleted Successfully.');
                        location.href = "/SupplierMaster/SupplierMaster";
                        return false;
                    }
                    else {
                        alert('Color Details deletion failed.');
                    }

                },
                error: function (ex) {
                    alert('This Color Already Exist in the database.');
                }
            });
        }
        else {
            return false;
        }
    }


    </script>
