@model MMS.Web.Models.Dashboard.DashboardModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Flavours Dashboard</title>

    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        .custom-new th {
            border-color: #E9E9EA !important;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <div class="main-page">
        <!-- page-contents here -->
        <section class="inner-section">
            <p class="name-of-persion font-18">Hi, <span>@Model.FirstName</span></p>
            <h2 class="back-to-bluecom font-30">Welcome back to <span>Creative Flavours</span></h2>
            <div class="overview-inner-section">
                <h5 class="header-overiew font-20">Overview</h5>
                <div class=" card-section-header">
                    <div class="card-section">
                        <div class="card-section-inner">
                            <div class="overview-icon">
                                <img src="~/Content/assets/images/overview-1.png" />
                            </div>
                            @{
                                if (Model != null && Model.suppliercount != 0)
                                {
                                    <h6 class="font-24">@string.Format("{0:0.00}", Model.suppliercount) </h6>
                                }
                                else
                                {
                                    <p class="font-18">$0.00 </p>
                                }
                            }

                            <p class="font-14">Total Number of</p>
                            <h4 class="font-16">Suppliers</h4>
                        </div>
                    </div>
                    <div class="card-section">
                        <div class="card-section-inner">
                            <div class="overview-icon"> <img src="~/Content/assets/images/overview-2.png" /> </div>
                            @{
                                if (Model != null && Model.customercount != 0)
                                {
                                    <h6 class="font-24">@string.Format("{0:0.00}", Model.customercount) </h6>
                                }
                                else
                                {
                                    <h6 class="font-24">$0.00 </h6>
                                }
                            }
                            <p class="font-14">Total Number of</p>
                            <h4 class="font-16">Customers</h4>
                        </div>
                    </div>
                    <div class="card-section">
                        <div class="card-section-inner">
                            <div class="overview-icon"> <img src="~/Content/assets/images/overview-3.png" /> </div>
                            @{
                                if (Model != null && Model.paymentdone != 0)
                                {
                                    <h6 class="font-24">$@string.Format("{0:0.00}", Model.paymentdone) </h6>
                                }
                                else
                                {
                                    <h6 class="font-24">$0.00 </h6>
                                }
                            }
                            <p class="font-14">Total Number of</p>
                            <h4 class="font-16">Payment Earning</h4>
                        </div>
                    </div>
                    <div class="card-section">
                        <div class="card-section-inner">
                            <div class="overview-icon"> <img src="~/Content/assets/images/overview-4.png" /> </div>
                            @{
                                if (Model != null && Model.pendingpayment != 0)
                                {
                                    <h6 class="font-24">$@string.Format("{0:0.00}", Model.pendingpayment) </h6>
                                }
                                else
                                {
                                    <h6 class="font-24">$0.00 </h6>
                                }
                            }
                            <p class="font-14">Total Number of</p>
                            <h4 class="font-16">Pending Payment</h4>
                        </div>
                    </div>
                    <div class="card-section">
                        <div class="card-section-inner">
                            <div class="overview-icon"> <img src="~/Content/assets/images/overview-5.png" /> </div>
                            @{
                                if (Model != null && Model.invoicegenrated != 0)
                                {
                                    <h6 class="font-24">@string.Format("{0:0.00}", Model.invoicegenrated) </h6>
                                }
                                else
                                {
                                    <h6 class="font-24">$0.00 </h6>
                                }
                            }
                            <p class="font-14">Total Number of</p>
                            <h4 class="font-16">INVOICES GENRATED</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="new-customer-header">
                        <h1 class="font-20">New CustomeRs</h1>
                        @*<h6 class="font-16">More</h6>*@
                    </div>
                    <div class="table-responsive custom-new">
                        <div class="manage_customers_table_in_responsive" style="height:400px; overflow: auto;" id="form">
                            <div id="table-wrapper">
                                <div id="table-scroll">
                                    <table class="table  table-fixed" style="text-align: center; width: 100%;">
                                        <thead>
                                            <tr style="position: -webkit-sticky; position: sticky; top: 0; background-color: #4472c4; color: #fff;">
                                                <th class="font-16">
                                                    <span>
                                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                                        SI.No
                                                    </span>
                                                </th>
                                                <th class="font-16">
                                                    Unique ID <span>
                                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                                    </span>
                                                </th>
                                                <th class="font-16">
                                                    Name <span>
                                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                                    </span>
                                                </th>
                                                <th class="font-16">
                                                    Email Id <span>
                                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                                    </span>
                                                </th>
                                                <th class="font-16">
                                                    Phone Number <span>
                                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        @if (Model != null && Model.AddressdetailbuyerLists.Count() > 0)
                                        {
                                            var count = 1;

                                            <tbody>
                                                @foreach (var customer in Model.AddressdetailbuyerLists)
                                                {
                                                    <tr class="font-14">
                                                        <td class="veh-1" style="width: 11%; ">@count</td>
                                                        <td class="veh-2" style="width: 11%; text-align:left"> @customer.BuyerCode</td>
                                                        <td class="veh-2" style="width: 11%; text-align:left">@customer.CustomerName</td>
                                                        <td class="veh-2" style="width: 11%; text-align:left">@customer.EmailContact</td>
                                                        <td class="veh-2" style="width: 11%; text-align:left">@customer.Telephone1</td>
                                                    </tr>
                                                    count++;
                                                }
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="new-customer-header">
                        <h1 class="font-20">Payments</h1>
                    </div>
                    <div class="custom-new chart-section">
                        <div id='myChart'></div>
                        <div class="donut-chart-header">
                            <p class="font-16">Types of Changes</p>

                            <p class="font-16">Amount</p>
                        </div>
                        <div class="donut-chart-header">
                            <p class="font-18"> <span></span>Total Payment</p>
                            @{
                                if (Model != null && Model.paymentdone != 0)
                                {
                                    <p class="font-18">$@string.Format("{0:0.00}", Model.paymentdone) </p>
                                }
                                else
                                {
                                    <p class="font-18">$0.00 </p>
                                }
                            }
                        </div>
                        <div class="donut-chart-header">
                            <p class="font-18"> <span></span>Pending Payment</p>
                            @{
                                if (Model != null && Model.pendingpayment != 0)
                                {
                                    <p class="font-18">$@string.Format("{0:0.00}", Model.pendingpayment) </p>
                                }
                                else
                                {
                                    <p class="font-18">$0.00 </p>
                                }
                            }
                        </div>
                        <div class="donut-chart-header">
                            <p class="font-18"><span></span>Invoice Genrated</p>
                            @{
                                if (Model != null && Model.invoicegenrated != 0)
                                {
                                    <p class="font-18">@string.Format("{0:0.00}", Model.invoicegenrated) </p>
                                }
                                else
                                {
                                    <p class="font-18">$0.00 </p>
                                }
                            }
                        </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="~/Content/js/custom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/Content/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/js/Validation.js"></script>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script>
            var myConfig = {
                "type": "ring",
                "title": {
                },

                "plot": {
                    "value-box": {
                        "text": " $%pie-total-value",
                        "placement": "center",
                        "font-color": "black",
                        "font-size": 35,
                        "white-space": "wrap",
                        "font-family": "'Poppins', sans-serif",
                        "font-weight": "normal",
                        "rules": [{
                            "rule": "%p != 0",
                            "visible": false
                        }]
                    },
                    "tooltip": {
                        "text": "(%npv%)",
                        "font-color": "black",
                        "font-family": "'Poppins', sans-serif",
                        "text-alpha": 1,
                        "background-color": "white",
                        "alpha": 0.7,
                        "border-width": 1,
                        "border-color": "#cccccc",
                        "line-style": "solid",
                        "border-radius": "10px",
                        "padding": "10%",
                        "placement": "node:center"
                    },
                    "slice": "75%",
                    "border-width": 1,
                    "border-color": "#cccccc",
                    "line-style": "dotted"
                },
                "plotarea": {
                    "margin-top": "12%"
                },
                "series": [
                    {
                        "values": [@Model.invoicegenrated ],
                        "background-color": "#FEC400",
                        "text": "yellow"
                    },

                    {
                        "values": [@Model.pendingpayment],
                        "background-color": "#28CD97",
                        "text": "green "
                    },
                    {
                        "values": [@Model.paymentdone],
                        "background-color": "#4472C4",
                        "text": "blue"
                    },
                ]
            };

            zingchart.render({
                id: 'myChart',
                data: myConfig,
                height: 400,
                width: "100%"
            });
        </script>
    </body>

</html>