@model MMS.Web.Models.Product_BuyerStyleModel.Product_BuyerStyleModel
@using MMS.Core.Entities.Stock
@using MMS.Core.Entities
@{
    tbl_PermissionSetting PermissionSettingModel = new MMS.Core.Entities.tbl_PermissionSetting();
    PermissionSettingModel = MMS.Web.ExtensionMethod.HtmlHelper.GetPermissionIdList();

    List<tbl_Permission>
    PermissionModel = new List<tbl_Permission>
        ();
    if (PermissionSettingModel != null)
    {
        PermissionModel = MMS.Web.ExtensionMethod.HtmlHelper.GetPermissionList("Product Buyer Style", PermissionSettingModel.PermissionID);
    }

    bool Add = false; bool Edit = false; bool Delete = false;
    foreach (var item in PermissionModel)
    {
        if (item.PermissionDesc == "Add")
        {
            Add = true;
        }
        if (item.PermissionDesc == "Edit")
        {
            Edit = true;
        }
        if (item.PermissionDesc == "Delete")
        {
            Delete = true;
        }
    }
}
<div class="veh-tablewrap">
    <div class="veh-tablecont">
        <div id="sortMsg" style="text-align: center; color: Red;"></div>
        <table class="veh-table" id="empTable">
            <thead>
                <tr class="color-code-top-btn">
                    <td colspan="10" style="padding-bottom:0;">
                        @using (Html.BeginForm("UploadData", "Product_BuyerStyle", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="form-group" style="display:inline-block;">
                                <input type="file" id="dataFile" name="upload" style="display:inline-block;float:left;" />
                                <input type="submit" value="Upload" class="btn btn-default" style="display:inline-block;float:left;" />
                                @if (Session["Product_error"] != null)
                                {
                                    <span id="spn_error" style="display:inline-block;float:left;color:red;padding:8px 10px;">@Session["Product_error"].ToString()</span>
                                    Session["Product_error"] = null;
                                }
                                else if (Session["successBody"] != null)
                                {
                                    <span id="spn_error" style="display:inline-block;float:left;color:red;padding:8px 10px;">@Session["successBody"].ToString()</span>
                                    TempData["successBody"] = null;
                                }
                                
                            </div>
                        }
                        <input type="text" id="SeaarchID" placeholder="Search.." />
                        @{

                            foreach (var item in PermissionModel)
                            {
                                if (item.PermissionDesc == "Add")
                                {
                                    Add = true;
                                }
                            }
                            if (Add == true)
                            {
                                <input type="button" value="Add" onclick="Add()">
                            }
                            else
                            {
                                <input type="button" onclick="alert('No Permission To access !')" style="cursor: pointer;" title="Add" value="Add">
                            }
                        }
                        <input type="button" value="Search" onclick="Search()">




                    </td>
                </tr>

                <tr>
                    <th class="veh-1">
                        Si.No
                    </th>
                    <th class="veh-1">
                        Buyer Name
                    </th>
                    <th class="veh-2">
                        BuyerModel
                    </th>
                    <th class="veh-3">
                        BuyerStyle
                    </th>
                    <th class="veh-4">
                        Last
                    </th>
                    <th class="veh-5">
                        ProductColour
                    </th>
                    <th class="veh-6">
                        OurStyle
                    </th>
                    <th class="veh-7">
                        SizeRange
                    </th>
                    <th class="veh-8">
                        Weight
                    </th>
                    <th class="veh-8">
                        Destination
                    </th>
                    <th class="veh-9">
                        Edit / Delete
                    </th>
                </tr>
            </thead>
            @if (Model.Product_BuyerStyleList.Count > 0 && Model.Product_BuyerStyleList != null)
            {
                int count = 1;
                ColorMaster colorMaster = new ColorMaster();
                MMS.Repository.Managers.ColorManager colorManager = new MMS.Repository.Managers.ColorManager();

                <tbody>
                    @foreach (var Product in Model.Product_BuyerStyleList)
                    {
                        colorMaster = colorManager.GetcolorID(Product.ProductColour);
                        string ColorName = "";
                        if (colorMaster != null)
                        {
                            ColorName = colorMaster.Color;
                        }

                        <tr>
                            <td class="veh-1">@count</td>
                            <td class="veh-1">@MMS.Web.ExtensionMethod.HtmlHelper.getBuyerNameById(@Product.BuyerName_ProductGroup)</td>
                            <td class="veh-2">@MMS.Web.ExtensionMethod.HtmlHelper.getBuyerModelNameById(@Product.BuyerModel_ProductType)</td>
                            <td class="veh-3">@Product.BuyerStyle</td>
                            <td class="veh-4">@Product.Last</td>
                            <td class="veh-5">@ColorName</td>
                            <td class="veh-6">@Product.OurStyle</td>
                            <td class="veh-7">@Product.SizeRange</td>
                          <td class="veh-8">@Product.Weight</td>
                            <td class="veh-8">@Product.Destination</td>
                            <td class="veh-1 edit-del-wrap">
                                @if (Edit == true)
                                {
                                    <a href="javascript:void(0)" onclick="Edit('@Product.ProductOrBuyerStyleId')" class="watchlist-edit" title="Edit"></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" onclick="alert('No Permission To access !')" class="watchlist-edit" title="Edit"></a>
                                }
                                @if (Delete == true)
                                {
                                    <a href="javascript:void(0)" id="DeleteVehicleWatchList" onclick="Delete('@Product.ProductOrBuyerStyleId')" class="watchlist-delete" title="Delete"></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" onclick="alert('No Permission To access !')" class="watchlist-delete" title="Delete"></a>
                                }
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
                    <tfoot class="footer-pager">
                        <tr>
                            <td colspan="4">
                                <div id="pager">
                                    <form>
                                        <img src="@Url.Content(" ~/Content/images/first.png")" class="first" />
                                        <img src="@Url.Content(" ~/Content/images/prev.png")" class="prev" />
                                        <input type="text" class="pagedisplay" />
                                        <img src="@Url.Content(" ~/Content/images/next.png")" class="next" />
                                        <img src="@Url.Content(" ~/Content/images/last.png")" class="last" />
                                        <select class="pagesize">
                                            <option selected="selected" value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                        </select>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
            }
            else
            {
                <li style="color: red; font-size: 16px; text-align: center; width: 100%;">No Records Found</li>
            }
        </table>
    </div>
    <div id="EditColorPartial">
        @Html.Partial("Partial/ProductBuyerStyleDetails", Model)

    </div>
</div>
<script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });

    function Search() {
        $.ajax({
            type: "POST",
            url: ' @Url.Action("Search", "Product_BuyerStyle")',
            data: { filter: $('#SeaarchID').val() },
            success: function (data) {

                $(".veh-tablewrap").html(data);
                $(".veh-tablewrap").show();
                $('#DivShow').hide();
                $('#EditColorPartial').hide();
            }
        });
    }

    function Cancel() {

        location.reload();
    }


    function Add() {
        $('.veh-tablecont').hide();
        $.ajax({
            type: "POST",
            url: ' @Url.Action("ProductBuyerStyleDetails", "Product_BuyerStyle")',
            data: { ProductOrBuyerStyleId: 0 },
            success: function (data) {
                $("#EditColorPartial").html(data);
                $("#EditColorPartial").show();

            }
        });
    }
    function Edit(arg) {
        $('.veh-tablecont').hide();
        $.ajax({
            type: "POST",
            url: ' @Url.Action("ProductBuyerStyleDetails", "Product_BuyerStyle")',
            data: { ProductOrBuyerStyleId: arg },
            success: function (data) {
                $("#EditColorPartial").html(data);
                $("#EditColorPartial").show();
            }
        });

    }
    function Delete(arg) {
        var answer = confirm("Are you sure want to delete?");
        if (answer) {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("Delete", "Product_BuyerStyle")',
                data: { ProductOrBuyerStyleId: arg },
                success: function (data) {
                    if (data == "Success") {
                        alert('Deleted Successfully.');
                        location.href = "/Product_BuyerStyle/ProductBuyerStyle";
                        return false;
                    }
                    else {
                        alert('deletion failed.');
                    }

                },
                error: function (ex) {
                    alert('This Color Already Exist in the database.');
                }
            });
        }
        else {
            return false;
        }
    }


</script>
