@model MMS.Web.Models.StockModel.ParentBillofMaterial

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="~/Content/css1/Toast.css" rel="stylesheet" />
    <style>
        #Material_Search:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }

        #Material_Search {
            border: 2px solid #dedede;
            border-top-color: rgb(222, 222, 222);
            border-right-color: rgb(222, 222, 222);
            border-bottom-color: rgb(222, 222, 222);
            border-left-color: rgb(222, 222, 222);
            padding: 4px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
        }

        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th {
            padding: 11px;
            background-color: #2c4f8d;
            color: white;
        }

        img#paynows {
            width: 26%;
        }

        .manage_customers_table_responsive, .reports .reports_table_responsive {
            padding: -2px 2px 21px;
            box-sizing: border-box;
            overflow-x: unset;
            WIDTH: 107%;
            MARGIN-LEFT: -47px;
            margin-top: 4%;
        }

        .sub_merchants .merchant_btn, .manage_customers .manage_customers_btn, .common_Manage_subMerchant .manage_customers_btn {
            background: #4472C4;
            border-radius: 5px;
            padding: 11px 61px;
            border: 1px solid transparent;
            font-style: normal;
            font-weight: 500;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }

        div#transaction_report {
            margin-top: -3%;
            margin-left: 2%;
        }
    </style>
</head>
<body>

    <div>
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <div class="table-responsive reports_table_responsive">
                <h3 class="font-20">List of sub_assemblyGrid and other items</h3>
                <div class="d-flex mt-3">
                    <input type="text" id="Material_Searchs" placeholder="Material Search" style="width: 35%;" class="form-control" />
                    <input type="button" value="Search" title="Title" class="search-input btn btn-info" style=" color: #fbf5f5;" id="MaterialSearchs" />
                </div>
                <div class="manage_customers_table_in_responsive mt-3" style="height:230px; overflow: auto;" id="form">
                    <div id="table-wrapper">
                        <div id="table-scroll">
                            <table class="table table-bordered table-fixed" style="text-align: center; width: 100%;">
                                <thead>
                                    <tr style="position: -webkit-sticky; position: sticky; top: 0; background-color: gray; color: #fff;">
                                        <th scope="col">
                                            <span>SNO</span>
                                            <span>
                                                <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                            </span>
                                        </th>
                                        <th scope="col">
                                            <span>Status</span>
                                        </th>
                                        <th scope="col">
                                            <span>Product</span>
                                            <span>
                                                <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                            </span>
                                        </th>
                                        <th scope="col">
                                            <span>Req Qty</span>
                                            <span>
                                                <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                            </span>
                                        </th>

                                    </tr>
                                </thead>
                                @if (Model.bomsubassemblyGridList != null)
                                {
                                    int count = 1;
                                    <tbody id="subassemblygrid">
                                        @foreach (var i in Model.bomsubassemblyGridList)
                                        {

                                            <tr class="font-14">
                                                <td class="veh1-5" style="width:11%">@count</td>
                                                <td class="veh-4" style="width:12%;">
                                                    <span class="table_icons">
                                                        <img src="~/Content/assets/images/edit-icon.png" onclick="Editass('@i.subassemblyid')" />
                                                    </span>
                                                    <span class="table_icons">
                                                        <img src="~/Content/assets/images/delete-icon.png" onclick="Deleteass('@i.subassemblyid')" />
                                                    </span>
                                                </td>
                                                <td class="veh1-5" style="width: 12%;">@i.productname</td>
                                                <td class="veh1-5" style="width: 12%;">@i.Requiredqty</td>
                                            </tr>
                                            count++;
                                        }

                                    </tbody>

                                }
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div id="toast"></div>

    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/dropdown.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/Validation.js"></script>
    <script>
        function Deleteass(arg) {
    $.ajax({
        type: "DELETE",
        url: ' @Url.Action("BOMsubassemblyDelete", "BillOfMaterial")',
        data: { BOMsubassemblyid: arg },
        success: function (values) {
            if (values === "Success") {
                sessionStorage.setItem("showToast", "deleted");
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        }
    });
        }



        function Editass(arg) {
            var bomid ="@Model.Bomid";
           $.ajax({
                type: "PUT",
               url: '/BillOfMaterial/EditSubassemblyDetails',
               data: { BOMsubassemblyID: arg, BOMID: bomid },
               success: function (data) {
                   $(".main-page").html(data);
                   $(".main-page").show();
                   $("#mat").show();
                   $("#MaterialListGrid").show();
                   $("#subassemblyGrid").hide();
                   $("#sub").hide();
                   $("#a1").show();
                   $("#a2").show();
                   $("#a3").show();
                   $("#a4").show();
                   $("#add1").on("click", function () {
                       $("#mat").hide();
                       $("#MaterialListGrid").hide();
                       $("#subassemblyGrid").show();
                       $("#sub").show();
                       $("#a1").hide();
                       $("#a2").hide();
                       $("#a3").hide();
                       $("#a4").hide();
                   });
                   $("#add").on("click", function () {
                       $("#mat").show();
                       $("#MaterialListGrid").show();
                       $("#subassemblyGrid").hide();
                       $("#sub").hide();
                       $("#a1").show();
                       $("#a2").show();
                       $("#a3").show();
                       $("#a4").show();
                   });
                }
            });
        }
    </script>

    <script>
            $(document).ready(function () {
                $("#MaterialSearchs").click(function () {
                    var bomno = "@Model.Bomid";
                    var bomsearch = $("#Material_Searchs").val();
                    $.ajax({
                        type: 'GET',
                        url: '/BillOfMaterial/BOMsubassemblySearch',
                        data: { filter: bomsearch, bomid: bomno },
                        contentType: 'application/json',
                        success: function (values) {
                            $("#subassemblygrid").empty();
                            var count = 1;
                            $.each(values, function (i, item) {
                                $("#subassemblygrid").append(`
                      <tr class="font-14">
                      <td class="veh1-5" style="width:11%">${count}</td>
                      <td class="veh-4" style="width:12%;">
                        <span class="table_icons">
                            <img src="/Content/assets/images/edit-icon.png" onclick="Edit('${item.Bommaterialid}')" />
                         </span>
                        <span class="table_icons">
                            <img src="/Content/assets/images/delete-icon.png" onclick="Delete('${item.Bommaterialid}')" />
                        </span>
                      </td>
                      <td class="veh1-5" style="width: 12%;">${item.productname}</td>
                        <td class="veh1-5" style="width: 12%;">${item.Requiredqty}</td>

                      </tr>
                       `);
                                count++;
                            });
                        }
                    });
                });
            });
    </script>
</body>
</html>
