@using MMS.Core.Entities
@model MMS.Web.Models.StockModel.OrderEntryModel
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DataTables -->

    <style>
        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
            padding: 5px;
        }

        .table-title-list {
            display: flex;
            flex-direction: column;
        }

            .table-title-list ul {
                padding: 10px;
                margin: 0;
                list-style: none;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }

        .table-bill {
            padding-block: 30px;
            border-block: 1px solid #ccc;
            margin-block: 30px;
        }

        table.table {
            width: 100%;
        }

        ul,
        p,
        h5 {
            margin: 0;
            list-style: none;
        }

        .table-bill td,
        .table-bill th,
        .table-title-list li {
            vertical-align: baseline;
            padding: 0px 20px;
            text-align: left;
            font-weight: 700;
            font-size: 18px;
        }

        .additional-input span {
            width: 40px;
            display: block;
            height: 20px;
            border-left: 1px solid #ccc;
            padding: 10px;
        }

        .additional-input-sec p span {
            width: 17px;
            display: block;
            height: 20px;
        }

        .additional-input-sec p {
            display: flex;
            align-items: center;
            gap: 10px;
        }

            .additional-input span svg,
            .additional-input-sec p span svg,
            .discount span svg {
                width: 100%;
                height: 100%;
            }

        table.table-bill tr:last-child td {
            padding-bottom: 50px;
        }

        .additional-input,
        .discount {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

            .additional-input input {
                border: unset;
                padding: 0px 10px;
                min-width: 140px;
            }

        .additional-input-sec {
            display: flex;
            align-items: baseline;
            gap: 20px;
        }

        .table-bill {
            width: 100%;
            overflow: auto;
        }

        .add-remove button {
            min-width: 40px;
            height: 40px;
            background: rgb(196, 35, 53);
            border: navajowhite;
            color: #fff;
        }

        .add-remove {
            display: flex;
            max-width: 140px;
            border-radius: 5px;
            overflow: hidden;
        }

            .add-remove input {
                width: 50px;
                text-align: center;
            }

        .discount span:nth-child(2) {
            border-inline: 1px solid #ccc;
        }

        .discount span:last-child {
            width: 16px;
            height: 20px;
        }

        .discount span {
            padding: 10px;
        }

        .discount {
            width: fit-content;
        }

        .bill-discount h5 {
            padding-bottom: 10px;
            display: block;
        }

        .sticky-foot,
        .bill-address {
            display: flex;
            justify-content: space-between;
            gap: clamp(20px, 3vw, 50px);
            flex-wrap: wrap;
        }

            .sticky-foot ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

        .bill-inform {
            margin-top: 20px;
        }

        .sticky-foot {
            max-width: 90%;
            margin: auto;
            padding-block: 30px;
            margin-block: 30px;
        }

        .light-text {
            color: #978484;
            padding-bottom: 10px;
        }

        .table-title-list ul li {
            display: flex;
            gap: 5px;
        }

        .bill-total-div {
            width: 300px;
        }

            .bill-total-div li {
                display: flex;
                justify-content: space-between;
            }

        .font-bold {
            font-weight: 700;
        }

        .sticky-foot ul li a {
            color: red;
        }

        .table-bill tbody tr:last-child td {
            padding-bottom: 30px;
        }

        .bill-total-div li:last-child {
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }

        .table-bill td {
            text-align: right !important;
        }

            .table-bill td:nth-child(2) {
                text-align: left !important;
            }

        .table-bill td {
            white-space: normal !important;
        }

        .table-bill thead td:nth-child(3), .table-bill thead td:nth-child(4), .table-bill thead td:nth-child(5) {
            width: 150px;
        }

        .table-bill thead td:nth-child(6), .table-bill thead td:nth-child(7) {
            text-align: left !important;
        }

        th {
            text-align: center;
        }
    </style>
    <style>
        table, th, td {
            border: 1px solid #C9C9C9;
            border-collapse: collapse;
            text-align: center;
        }

        td {
            padding: 5px;
        }

        th {
            padding: 22px 25px;
            font-size: 14px;
            font-family: 'Poppins';
            color: #292b2c;
        }

        .salesOrder td input {
            border: navajowhite;
            width: 100px;
        }

        .salesOrder {
            margin-left: 11px;
        }

        div#billingadd {
            margin-top: -8%;
        }

        .form-group.col-3.mt-4 {
            margin-left: 9px;
        }

        .table-bill tbody tr:last-child td {
        }
    </style>
    <style>
        .table-title-list {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .table-title-list th,
            .table-title-list td {
                padding: 10px;
                border: 1px solid #ddd;
                text-align: left;
            }

            .table-title-list th {
                background-color: #f2f2f2;
                font-weight: bold;
            }
    </style>
    <style>
        .currency-selector {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-family: Arial, sans-serif;
            margin-bottom: 20px;
        }

        .currency-option {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 50px;
            border-radius: 8px;
            background-color: #f0f0f0;
            color: #333;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .currency-option:hover {
                background-color: #e0e0e0;
            }

            .currency-option input[type="radio"] {
                display: none;
            }

                .currency-option input[type="radio"]:checked + label {
                    background-color: #007bff;
                    color: #fff;
                }

                    .currency-option input[type="radio"]:checked + label:hover {
                        background-color: #0056b3;
                    }
    </style>
</head>
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@

<body>
    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <nav class="reports_customers_head" aria-label="breadcrumb">
                <ol class="breadcrumb font-20">
                    <li class="breadcrumb-item " aria-current="page">ORDER DETAILS</li>
                </ol>
            </nav>
            <div class="table-responsive reports_table_responsive">
                <div class="d-flex justify-content-evenly">
                    <div class="form-floating">
                        @Html.HiddenFor(x => x.ObjOrderEntry.Id)
                        @Html.DropDownListFor(m => m.CustomerName, MMS.Web.ExtensionMethod.HtmlHelper.BuyerName(), new { @class = "form-select" })
                        <label for="floatingSelectGrid">Buyer</label>
                    </div>
                    <div class="form-floating">
                        @Html.DropDownListFor(m => m.ProcessStatus, MMS.Web.ExtensionMethod.HtmlHelper.ProductProcessTypebind(), new { @class = "form-select" })
                        <label for="floatingSelectGrid">Document Status</label>
                    </div>
                    <div class="form-floating">
                        @*@Html.DropDownListFor(m => m.OrderSelectID, new SelectList(
                            new List<Object>{
                                 new { value = "" , text = "Please Select"  }
                             },
                            "value",
                            "text",
                             2), new { @class = "form-select" })*@
                        @Html.DropDownListFor(m => m.OrderSelectID, MMS.Web.ExtensionMethod.HtmlHelper.getbuyOrderListdropdown(), new { @class = "form-select" })
                        <label for="floatingSelectGrid">Order Number</label>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="DivFromDate">
                        <label for="floatingInputGrid">From Date</label>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="DivToDate">
                        <label for="floatingInputGrid">To Date</label>
                    </div>
                    <div id="transaction_reports_search4_container" style="margin-left: 10px" class="reports_search_container_btn">
                        <button id="filter" type="button" class="manage_customers_btn font-15">
                            <a>FILTER</a>
                        </button>
                    </div>
                </div>
                <div id="EditColorPartial">
                    @Html.Partial("Partial/InvoiceNewGrid", Model)
                </div>

            </div>
            <div class="row manage_customer_show" id="DivPaging">
                <div class="font-14 manage_customer_show_I col-xl-6">
                    <div style="display:none;">
                        <span>Showing </span>
                        <select class="form-select font-16" name="manage_customer_show_content"
                                id="list_report_show_no" aria-label="select example">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                        <span>per page of 120 customers</span>
                    </div>
                </div>

                <div class="col-xl-6 manage_customer_show_II">
                    <nav class="float-xl-end">
                        <ul class="pagination font-14">
                            <div id="pagination" style="display: inline-flex; }"></div>
                            @*<li class="page-item">
                                    <a href="##" class="page-link">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">5</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">6</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">7</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">8</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="##">...</a>
                                </li>
                                <li class=" page-item">
                                    <a class="page-link" href="##">Next</a>
                                </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="DivInvoiceIndu" style="display:none;">
                <div class="content-title">
                    @*<div class="table-title-list">
                            <ul>
                                <li>
                                    <p>Quote Number:</p>
                                    <p id="DivpQuoteNumber">Q123</p>
                                </li>
                                <li>
                                    <p>Quote Date:</p>
                                    <p id="DivpQuoteDate">@DateTime.Now.ToString("dd/MM/yyyy")</p>
                                </li>
                                <li>
                                    <p>Quote Vaild Till:</p>
                                    <p id="DivpQuotevailddate">@DateTime.Now.ToString("dd/MM/yyyy")</p>
                                </li>
                                <li>
                                    <p>Quote Value:</p>
                                    <p id="DivpQuotevalue">2000</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>SO Number:</p>
                                    <p id="DivpSonumber"></p>
                                </li>
                                <li>
                                    <p>SO Date:</p>
                                    <p id="DivpSodate">@DateTime.Now.ToString("dd/MM/yyyy")</p>
                                </li>
                                <li>
                                    <p>SO Due Date:</p>
                                    <p id="DivpSoduedate">@DateTime.Now.ToString("dd/MM/yyyy")</p>
                                </li>
                                <li>
                                    <p>SO Value:</p>
                                    <p id="DivpSovalue">1000</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>Payment Made:</p>
                                    <p id="DivpPaymentMode">200</p>
                                </li>
                                <li>
                                    <p>Pending Amount:</p>
                                    <p id="DivPendingAmont">800</p>
                                </li>
                                <li>
                                    <p>Total Item:</p>
                                    <p id="DivpTotalItem">3/5</p>
                                </li>
                                <li>
                                    <p>Item Invoiced:</p>
                                    <p id="DivpItemInvoiced">1/2</p>
                                </li>
                            </ul>
                        </div>*@
                    <div style="display:inline-flex">
                        <div style="width: 75%; padding-top: 20px;">
                            <table class="table-title-list">
                                <tr>
                                    <th style="text-align:center;">Quote Number:</th>
                                    <td id="DivpQuoteNumber">Q123</td>
                                    <th style="text-align:center;">Quote Date:</th>
                                    <td id="DivpQuoteDate">@DateTime.Now.ToString("dd/MM/yyyy")</td>
                                    <th style="text-align:center;">Quote Valid Till:</th>
                                    <td id="DivpQuotevailddate">@DateTime.Now.ToString("dd/MM/yyyy")</td>
                                    <th style="text-align:center;">Quote Value:</th>
                                    <td id="DivpQuotevalue">2000</td>
                                    <th style="text-align:center;">SO Number:</th>
                                    <td id="DivpSonumber"></td>
                                    <th style="text-align:center;">SO Date:</th>
                                    <td id="DivpSodate">@DateTime.Now.ToString("dd/MM/yyyy")</td>
                                </tr>
                                <tr>
                                    <th style="text-align:center;">SO Due Date:</th>
                                    <td id="DivpSoduedate">@DateTime.Now.ToString("dd/MM/yyyy")</td>
                                    <th style="text-align:center;">SO Value:</th>
                                    <td id="DivpSovalue">1000</td>
                                    <th style="text-align:center;">Payment Made:</th>
                                    <td id="DivpPaymentMode">200</td>
                                    <th style="text-align:center;">Pending Amount:</th>
                                    <td id="DivPendingAmont">800</td>
                                    <th style="text-align:center;">Total Item:</th>
                                    <td id="DivpTotalItem">3/5</td>
                                    <th style="text-align:center;">Item Invoiced:</th>
                                    <td id="DivpItemInvoiced">1/2</td>
                                </tr>
                            </table>
                        </div>
                        <div style="width: 25%; margin-top: 60px;">
                            <div class="currency-selector">
                                <input type="radio" id="zar" name="currency" checked value="zar">
                                <label for="zar" class="currency-option" style="background-color: #75b1ee">ZAR</label>
                                <input type="radio" id="usd" name="currency" value="usd">
                                <label for="usd" class="currency-option" style="background-color: #75b1ee">USD</label>
                            </div>
                        </div>
                    </div>
                    <div class="table-bill">
                        <table class="mt-4 salesOrder" style="width:99%" id="DivNewInvoice">
                            <thead>
                                <tr>
                                    <td>S.No.</td>
                                    <td>Product Name</td>
                                    <td>Ordered Quantity</td>
                                    <td>Invoice Quantity</td>
                                    <td>Unit price</td>
                                    <td>Quantity</td>
                                    <td>Discount </td>
                                    <td>Price</td>
                                    <td>Tax</td>
                                    <td>Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="background-color: #e9ecef; padding-top: 25px;">1</td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdproductname"></td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdOrderedQuantity"></td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdInvoiceQuantity"></td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdUnitprice"></td>
                                    <td style="padding-top: 25px;">
                                        <div class="add-remove">
                                            <button onclick="decrementValue()"><span>-</span></button><input type="text" id="numberInput" style="width:50px;" disabled=""
                                                                                                             value=""><button onclick="incrementValue()">+</button>
                                        </div>
                                    </td>
                                    <td style="padding-top: 25px;">
                                        <div class="discount">
                                            <span><input type="text" id="spndiscountpercen" style="width: 25px;" /></span><span>%</span><span>
                                                <svg fill="red" height="800px"
                                                     width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 306.637 306.637"
                                                     xml:space="preserve">
                                                <g>
                                                <g>
                                                <path d="M12.809,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896
                                       l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z" />
                                                <path d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095
                                       L265.13,75.602L231.035,41.507z" />
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                            </g>
                                        </svg>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdprice"></td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdTax"></td>
                                    <td style="background-color: #e9ecef; padding-top: 25px;" id="tdTotal"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="sticky-foot">
                        <div class="bill-address">
                            <div class="bill-address-div">
                                <h5 class="light-text">Billing-address</h5>
                                <ul>
                                    <li id="libilingadd1"></li>
                                    <li id="libilingadd2"></li>
                                    <li id="libilingadd3"></li>
                                    <li id="libilingadd4"></li>
                                    @*<li><a href="#">Billing-address</a></li>*@
                                </ul>
                            </div>
                            <div class="bill-address-div">
                                <h5 class="light-text">Shipping-Address</h5>
                                <ul>
                                    <li id="liadd1"></li>
                                    <li id="liadd2"></li>
                                    <li id="liadd3"></li>
                                    <li id="liadd4"></li>
                                    @*<li><a href="#">Billing-address</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="bill-discount">
                            @*<div class="currency-selector">
                                    <input type="radio" id="zar" name="currency" value="zar">
                                    <label for="zar" class="currency-option">ZAR</label>
                                    <input type="radio" id="usd" name="currency" value="usd">
                                    <label for="usd" class="currency-option">USD</label>
                                </div>*@
                        </div>
                        <div class="bill-discount" style="display:none;">
                            <h5 class="font-bold">bill Discount</h5>
                            <div class="discount">
                                <span id="DivspnDiscount"></span><span>%</span><span>
                                    <svg fill="red" height="800px"
                                         width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 306.637 306.637"
                                         xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M12.809,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896
        l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z" />
                                    <path d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095
        L265.13,75.602L231.035,41.507z" />
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
                                    <g>
         </g>
     </g>
 </svg>
                                </span>
                            </div>
                            <div class="bill-inform">
                                <h5 class="light-text">Information</h5>
                                <div class="additional-input-sec">
                                    <div class="additional-input">
                                        <input type="text" class="font-15"><span>
                                            <svg fill="red" height="800px" width="800px" version="1.1" id="Capa_1"
                                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 viewBox="0 0 306.637 306.637" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M12.809,238.52L0,306.637l68.118-12.809l184.277-184.277l-55.309-55.309L12.809,238.52z M60.79,279.943l-41.992,7.896
                    l7.896-41.992L197.086,75.455l34.096,34.096L60.79,279.943z"></path>
                                            <path d="M251.329,0l-41.507,41.507l55.308,55.308l41.507-41.507L251.329,0z M231.035,41.507l20.294-20.294l34.095,34.095
                    L265.13,75.602L231.035,41.507z"></path>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
                                            <g>
                 </g>
             </g>
         </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="bill-total">
                            <div class="bill-total-div">
                                <ul>
                                    <li>
                                        <p class="light-text">Grand Total</p>
                                        <p class="light-text" id="DivpTotal"></p>
                                    </li>
                                    <li>
                                        <p class="light-text">Discount</p>
                                        <p class="light-text" id="DivpDiscount"></p>
                                    </li>
                                    <li>
                                        <p><b>Net Amount</b></p>
                                        <p id="DivpNetAmount"></p>
                                    </li>
                                    <li>
                                        <p><b>Tax Amount</b></p>
                                        <p id="DivpTaxAmount"></p>
                                    </li>
                                    <li>
                                        <p><b>Invoice Amount</b></p>
                                        <p id="DivpInvoiceAmount"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="transaction_reports_search4_container" style="margin-left: 40%;" class="reports_search_container_btn">
                        <button type="button" id="Save" onclick="Save();" class="manage_customers_btn font-15">
                            <a>Generate Invoice</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissible fade show" id="DivSuccess" style="display:none;">
            <strong>Success!</strong> Saved Successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show col-3" id="DivFailer" style="display:none;">
            <strong>Error!</strong> <p id="DivError"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
</body>
</html>

<script>
    $(window).on("load", function () {
        $(".report-inner-section").addClass("transection");
        $("#invoice").attr('checked', true);

    });
    function incrementValue() {
        var orderqunt;
        var Invoicequnt;
        $('#DivNewInvoice tr td').each(function () {
            console.log(this.id);
            orderqunt = $("#tdOrderedQuantity").html();
            orderqunt = parseInt(orderqunt);
            Invoicequnt = $("#tdInvoiceQuantity").html();
            Invoicequnt = parseInt(Invoicequnt);
        });
        var ch = orderqunt - Invoicequnt;
        var input = document.getElementById('numberInput');
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? ch : value; // Default to 50 if value is NaN or less than 50
        if (Invoicequnt < orderqunt) {
            if (value < ch) {
                value++;
            }
        }
        //value = value > Invoicequnt ? Invoicequnt : value; // Limit to maximum value of 120
        //value = orderqunt - Invoicequnt;
        input.value = value;
        if (value > 0) {
            $('#DivNewInvoice tr td').each(function () {
                var TotalOrderForWeek = value;
                TotalOrderForWeek = parseFloat(TotalOrderForWeek);
                TotalUnitPrice = $("#tdUnitprice").html();
                TotalUnitPrice = parseFloat(TotalUnitPrice);
                var price = TotalOrderForWeek * TotalUnitPrice;
                //tax = (price * 0.15);
                //tax = parseFloat(tax).toFixed(2);
                //$("#tdTax").html(tax);
                //tax = parseFloat(tax);
                var total = price;
                total = parseFloat(total);
                var discount = $("#spndiscountpercen").val();
                discount = parseFloat(discount);
                discount = parseFloat((discount / 100) * (total));
                discount = discount.toFixed(2);
                $("#DivpDiscount").html("$" + discount);
                price = price.toFixed(2);
                $("#tdprice").html(price);
                //total = total.toFixed(2);
                $("#tdTotal").html(invoiceamt);
                price = parseFloat(price).toFixed(2);
                $("#DivpTotal").html(price);
                price = parseFloat(price);
                var netamt = price - discount
                netamt = parseFloat(netamt).toFixed(2);
                tax = (netamt * 0.15);
                var invoiceamt = parseFloat(total) - parseFloat(discount);
                netamt = parseFloat(total) - parseFloat(discount);
                netamt = netamt.toFixed(2);
                $("#DivpNetAmount").html(netamt);
                invoiceamt = invoiceamt + tax;
                invoiceamt = invoiceamt.toFixed(2);
                $("#DivpInvoiceAmount").html("<b>$" + invoiceamt + "</b>");
                tax = parseFloat(tax).toFixed(2);
                $("#tdTax").html(tax);
                $("#DivpTaxAmount").html($("#tdTax").html());
                let str = $("#DivpInvoiceAmount").html();
                let textWithoutTags = $('<div>').html(str).text();
                let numericalPart = textWithoutTags.match(/[0-9.]+/g).join('');
                $("#tdTotal").html(numericalPart);
            });
        }
    }
    function decrementValue() {
        var orderqunt;
        var Invoicequnt;
        $('#DivNewInvoice tr td').each(function () {
            console.log(this.id);
            orderqunt = $("#tdOrderedQuantity").html();
            orderqunt = parseInt(orderqunt);
            Invoicequnt = $("#tdInvoiceQuantity").html();
            Invoicequnt = parseInt(Invoicequnt);
        });
        var ch = orderqunt - Invoicequnt;
        var input = document.getElementById('numberInput');
        var value = parseInt(input.value, 10);
        //var value = ch;
        value = isNaN(value) ? ch : value; // Default to 50 if value is NaN or less than 50
        if (Invoicequnt < orderqunt) {
            if (value > 1) {
                value = value - 1;//value <= ch ? ch : value - 1; // Limit to minimum value of 50
            }
        }
        input.value = value;
        if (value < ch) {
            $('#DivNewInvoice tr td').each(function () {
                var TotalOrderForWeek = value;
                TotalOrderForWeek = parseFloat(TotalOrderForWeek);
                TotalUnitPrice = $("#tdUnitprice").html();
                TotalUnitPrice = parseFloat(TotalUnitPrice);
                var price = TotalOrderForWeek * TotalUnitPrice;
                price = price.toFixed(2);
                $("#tdprice").html(price);
                //tax = (price * 0.15);
                //tax = parseFloat(tax).toFixed(2);
                //$("#tdTax").html(tax);
                //tax = parseFloat(tax);
                var total = price;
                total = parseFloat(total);
                var discount = $("#spndiscountpercen").val();
                discount = parseFloat(discount);
                discount = parseFloat((discount / 100) * (total));
                discount = discount.toFixed(2);
                $("#DivpDiscount").html("$" + discount);
                //total = total.toFixed(2);
                $("#tdTotal").html(invoiceamt);
                price = parseFloat(price).toFixed(2);
                $("#DivpTotal").html(price);
                price = parseFloat(price);
                var netamt = price - discount
                netamt = parseFloat(netamt).toFixed(2);
                tax = (netamt * 0.15);
                var invoiceamt = parseFloat(total) - parseFloat(discount);
                netamt = parseFloat(total) - parseFloat(discount);
                netamt = netamt.toFixed(2);
                $("#DivpNetAmount").html(netamt);
                invoiceamt = invoiceamt + tax;
                invoiceamt = invoiceamt.toFixed(2);
                $("#DivpInvoiceAmount").html("<b>$" + invoiceamt + "</b>");
                tax = parseFloat(tax).toFixed(2);
                $("#tdTax").html(tax);
                $("#DivpTaxAmount").html($("#tdTax").html());
                let str = $("#DivpInvoiceAmount").html();
                let textWithoutTags = $('<div>').html(str).text();
                let numericalPart = textWithoutTags.match(/[0-9.]+/g).join('');
                $("#tdTotal").html(numericalPart);
            });
        }
    }
    $('#CustomerName').change(function () {
        if ($("#CustomerName").val() != "" && $("#CustomerName").val() != null) {
            var buyername = parseInt($("#CustomerName").val());
            var ProcessStatus = parseInt($("#ProcessStatus").val());
            var OrderSelectID = parseInt($("#OrderSelectID").val());
            var DivFromDate = $("#DivFromDate").val();
            var DivToDate = $("#DivToDate").val();
            $.ajax({
                url: '/Invoice/GetBuyerOrderlist',
                type: "GET",
                dataType: "JSON",
                data: { buyername: buyername },
                success: function (data) {

                    console.log(data);
                    $("#OrderSelectID").html(""); // clear before appending new list
                    $("#OrderSelectID").prepend(
                        $('<option></option>').val("").text("Please Select")
                    );
                    $.each(data, function (i, da) {
                        $("#OrderSelectID").append(
                            $('<option></option>').val(da.orderid).html(da.buyerorderslno));
                    });
                }
            });
            $.ajax({
                url: '/Invoice/InvoiceNewGridbind',
                type: "GET",
                dataType: "JSON",
                data: { buyer: buyername, ProcessStatus: ProcessStatus, orderid: OrderSelectID, from_date: DivFromDate, todate: DivToDate },
                success: function (data) {
                    var tbl = "";
                    var count = 1;
                    var pageSize = 10; // Number of items per page
                    var currentPage = 1;
                    var startIndex = (currentPage - 1) * pageSize;
                    var endIndex = startIndex + pageSize;

                    $.each(data.OrderEntryList, function (i, dat) {
                        if (i >= startIndex && i < endIndex) {
                            if (tbl == "") {
                                tbl = "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                            }
                            else {
                                tbl = tbl + "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                            }
                            count++;
                        }
                    });

                    $("#tblInvoiceGrid").html(tbl);

                    // Update pagination after data is loaded
                    updatePagination(data.OrderEntryList.length);
                }
            });
        }
    });
    $('#ProcessStatus').change(function () {
        if ($("#ProcessStatus").val() != "" && $("#ProcessStatus").val() != null) {
            var buyername = parseInt($("#CustomerName").val());
            var ProcessStatus = parseInt($("#ProcessStatus").val());
            var OrderSelectID = parseInt($("#OrderSelectID").val());
            var DivFromDate = $("#DivFromDate").val();
            var DivToDate = $("#DivToDate").val();
            $.ajax({
                url: '/Invoice/InvoiceNewGridbind',
                type: "GET",
                dataType: "JSON",
                data: { buyer: buyername, ProcessStatus: ProcessStatus, orderid: OrderSelectID, from_date: DivFromDate, todate: DivToDate },
                success: function (data) {
                    var tbl = "";
                    var count = 1;
                    var pageSize = 10; // Number of items per page
                    var currentPage = 1;
                    var startIndex = (currentPage - 1) * pageSize;
                    var endIndex = startIndex + pageSize;

                    $.each(data.OrderEntryList, function (i, dat) {
                        if (i >= startIndex && i < endIndex) {
                            if (tbl == "") {
                                tbl = "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                            }
                            else {
                                tbl = tbl + "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                            }
                            count++;
                        }
                    });

                    $("#tblInvoiceGrid").html(tbl);

                    // Update pagination after data is loaded
                    updatePagination(data.OrderEntryList.length);
                }
            });
        }
    });
    $('#OrderSelectID').change(function () {
        if ($("#OrderSelectID").val() != "" && $("#OrderSelectID").val() != null) {
            var buyername = parseInt($("#CustomerName").val());
            var ProcessStatus = parseInt($("#ProcessStatus").val());
            var OrderSelectID = parseInt($("#OrderSelectID").val());
            var DivFromDate = $("#DivFromDate").val();
            var DivToDate = $("#DivToDate").val();
            $.ajax({
                url: '/Invoice/InvoiceNewGridbind',
                type: "GET",
                dataType: "JSON",
                data: { buyer: buyername, ProcessStatus: ProcessStatus, orderid: OrderSelectID, from_date: DivFromDate, todate: DivToDate },
                success: function (data) {
                    var tbl = "";
                    var count = 1;
                    var pageSize = 10; // Number of items per page
                    var currentPage = 1;
                    var startIndex = (currentPage - 1) * pageSize;
                    var endIndex = startIndex + pageSize;

                    $.each(data.OrderEntryList, function (i, dat) {
                        if (i >= startIndex && i < endIndex) {
                            if (tbl == "") {
                                tbl = "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                            }
                            else {
                                tbl = tbl + "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                            }
                            count++;
                        }
                    });

                    $("#tblInvoiceGrid").html(tbl);

                    // Update pagination after data is loaded
                    updatePagination(data.OrderEntryList.length);
                }
            });
        }
    });
</script>

<script>

    $("#filter").click(function () {
        var buyername = parseInt($("#CustomerName").val());
        var ProcessStatus = parseInt($("#ProcessStatus").val());
        var OrderSelectID = parseInt($("#OrderSelectID").val());
        var DivFromDate = $("#DivFromDate").val();
        var DivToDate = $("#DivToDate").val();
        $.ajax({
            url: '/Invoice/InvoiceNewGridbind',
            type: "GET",
            dataType: "JSON",
            data: { buyer: buyername, ProcessStatus: ProcessStatus, orderid: OrderSelectID, from_date: DivFromDate, todate: DivToDate },
            success: function (data) {
                var tbl = "";
                var count = 1;
                var pageSize = 10; // Number of items per page
                var currentPage = 1;
                var startIndex = (currentPage - 1) * pageSize;
                var endIndex = startIndex + pageSize;

                $.each(data.OrderEntryList, function (i, dat) {
                    if (i >= startIndex && i < endIndex) {
                        if (tbl == "") {
                            tbl = "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                        }
                        else {
                            tbl = tbl + "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                        }
                        count++;
                    }
                });

                $("#tblInvoiceGrid").html(tbl);

                // Update pagination after data is loaded
                updatePagination(data.OrderEntryList.length);
            }
        });
    });
    $("#spndiscountpercen").blur(function () {
        if ($("#spndiscountpercen").val() != "") {
            $('#DivNewInvoice tr td').each(function () {
                var invoiceamt;
                var netamt;
                var price;
                var input = document.getElementById('numberInput');
                var TotalOrderForWeek = parseInt(input.value, 10);
                //var TotalOrderForWeek = $("#numberInput").val();
                TotalOrderForWeek = parseFloat(TotalOrderForWeek);
                TotalAmount = $("#tdUnitprice").html();
                var tax = $("#tdTax").html();
                tax = parseFloat(tax);
                var price = $("#tdprice").html();
                price = parseFloat(price);
                var discount = $("#spndiscountpercen").val();
                discount = parseFloat(discount);
                if (discount == 0) {
                    TotalAmount = parseFloat(TotalAmount)
                    TotalOrderForWeek = TotalOrderForWeek * TotalAmount;
                    tax = parseFloat(TotalOrderForWeek) * 0.15;
                    tax = parseFloat(tax).toFixed(2);
                    $("#tdTax").html(tax);
                    $("#DivpTaxAmount").html(tax);
                    $("#DivpDiscount").html("$" + discount);
                    $("#DivpNetAmount").html(price);
                }
                else {
                    discount = parseFloat((discount / 100) * (price));
                    discount = discount.toFixed(2);
                    $("#DivpDiscount").html("$" + discount);
                    invoiceamt = parseFloat(price) - parseFloat(discount);
                    invoiceamt = parseFloat(invoiceamt).toFixed(2);
                    $("#DivpNetAmount").html(invoiceamt);
                    invoiceamt = parseFloat(invoiceamt);
                    tax = parseFloat(tax);
                    tax = invoiceamt * 0.15;
                    invoiceamt = invoiceamt + tax;
                    invoiceamt = parseFloat(invoiceamt).toFixed(2);
                    tax = parseFloat(tax).toFixed(2);
                    $("#DivpInvoiceAmount").html("<b>$" + invoiceamt + "</b>");
                    $("#tdTotal").html(invoiceamt);
                    $("#tdTax").html(tax);
                    $("#DivpTaxAmount").html(tax);

                }
            });
        }
    });
    function Save() {
        var quoteref;
        var soref;
        var refdate;
        var refduedate;
        var docduedate;
        var originalquotedate;
        var quotedate;
        var duedate;
        var orderqunt;
        var total;
        var discount;
        var totalall;
        var tax;
        var Address1 = "";
        var Address2 = "";
        var docdate;
        var dcdiscount = 0;
        var courencyoption = "";
        var netvalue = 0;
        $('#DivInvoiceIndu ul li p').each(function () {
            quoteref = $("#DivpQuoteNumber").html();
            soref = $("#DivpSonumber").html();
            refdate = $("#DivpQuoteDate").html();
            refduedate = $("#DivpSoduedate").html();
            docduedate = $("#DivpSoduedate").html();
            originalquotedate = $("#DivpSoduedate").html();
            quotedate = $("#DivpSodate").html();
            duedate = $("#DivpSoduedate").html();
            docdate = $("#DivpSoduedate").html();
            var priceNumber = $("#DivpDiscount").html();
            dcdiscount = parseFloat(priceNumber.replace('$', ''));
        });
        $('#DivNewInvoice ul li').each(function () {
            Address1 = $("#libilingadd1").html() + $("#libilingadd2").html() + $("#libilingadd3").html() + $("#libilingadd4").html();
            Address2 = $("#liadd1").html() + $("#liadd2").html() + $("#liadd3").html() + $("#liadd4").html();
        });
        var orderqunt;
        var Invoicequnt;
        var TotalAmount;
        var total;
        var DiscountPer;
        var discount;
        var unitprice;
        var Totalamt;
        var totalall;
        var invoiceamt;
        var QtyProcessed = 0;
        var totaldocqty = 0;
        var grosstotal = 0;
        var discountpercent = 0;
        $('#DivNewInvoice tr td').each(function () {
            QtyProcessed = $("#numberInput").val();
            orderqunt = $("#tdOrderedQuantity").html();
            orderqunt = parseFloat(orderqunt);

            Invoicequnt = parseFloat($("#tdOrderedQuantity").html());
            Invoicequnt = parseFloat(Invoicequnt);

            UnitAmount = parseFloat($("#tdUnitprice").html());
            TotalAmount = parseFloat(UnitAmount);

            total = parseFloat((QtyProcessed * TotalAmount));
            grosstotal = parseFloat((QtyProcessed * TotalAmount));
            totaldocqty = parseFloat((QtyProcessed * TotalAmount));
            DiscountPer = parseFloat(dcdiscount);
            DiscountPer = parseFloat(DiscountPer);

            discount = parseFloat(dcdiscount);
            unitprice = parseFloat(totaldocqty / QtyProcessed);
            Totalamt = (TotalAmount * QtyProcessed);
            tax = (total * 0.15);
            tax = parseFloat(tax);
            total = parseFloat(total);
            totalall = parseFloat(total) - parseFloat(discount);

            invoiceamt = parseFloat((total + tax));

            invoiceamt = invoiceamt;
            discountper = $("#spndiscountpercen").val();
            discountper = parseFloat(discountper);
            discountpercent = parseFloat(discountper);
        });
        var Id = $("#ObjOrderEntry_Id").val();
        var customerid = $("#CustomerName").val();
        var orderid = $("#OrderSelectID").val();
        var doctypeid = $("#ProcessStatus").val();
        var revision = 1;
        var docstateid = 1;
        var refitems = $("#RefItems").val();
        var refquantity = orderqunt;

        var refextendedvalue = 0;
        var refdiscountvalue = discount;
        var refgrossvalue = totalall;
        var reftaxvalue = tax;
        var refnetvalue = total;

        var docitems = 1;
        var docquantity = QtyProcessed;

        var docextendedvalue = total;
        var docdiscountvalue = discount;
        var docgrossvalue = totalall;
        var doctaxvalue = tax;
        var docnetvalue = invoiceamt;
        var custaddcode = 1;
        var custshipcode = 2;
        var custbillcode = 3;
        var headerdiscountperc = discount;
        var shippingnotes = $("#ShippingNotes").val();
        var status = $("#BarCodeNo").val();
        var docdescription = $("#DocDescription").val();

        var taxinclusive = true;
        var emailsent = true;
        var externalref = 1;
        var creditlimit = 1;
        var dcbalance = 2000;
        var foreigndcbalance = 2000;
        var currencyid = 1;
        var isactive = true;
        if ($('#zar').prop('checked')) {
            courencyoption = $('#zar').val();
        }
        else {
            courencyoption = $('#usd').val();
        }
        var formdata = new FormData();
        formdata.append("Id", Id);
        formdata.append("customerid", customerid);
        formdata.append("orderid", orderid);
        formdata.append("doctypeid", doctypeid);
        formdata.append("revision", revision);
        formdata.append("docstateid", docstateid);
        formdata.append("quoteref", quoteref);
        formdata.append("soref", soref);
        formdata.append("refdate", refdate);
        formdata.append("refitems", refitems);
        formdata.append("refquantity", refquantity);
        formdata.append("refduedate", refduedate);
        formdata.append("refextendedvalue", refextendedvalue);
        formdata.append("refdiscountvalue", refdiscountvalue);
        formdata.append("refgrossvalue", refgrossvalue);
        formdata.append("reftaxvalue", reftaxvalue);
        formdata.append("refnetvalue", refnetvalue);
        formdata.append("docdate", docdate);
        formdata.append("docitems", docitems);
        formdata.append("docquantity", docquantity);
        formdata.append("docduedate", docduedate);
        formdata.append("docextendedvalue", docextendedvalue);
        formdata.append("docdiscountvalue", docdiscountvalue);
        formdata.append("docgrossvalue", grosstotal);
        formdata.append("doctaxvalue", doctaxvalue);
        formdata.append("docnetvalue", docnetvalue);
        formdata.append("custaddcode", custaddcode);
        formdata.append("custshipcode", custshipcode);
        formdata.append("custbillcode", custbillcode);
        formdata.append("headerdiscountperc", headerdiscountperc);
        formdata.append("shippingnotes", shippingnotes);
        formdata.append("docdescription", docdescription);
        formdata.append("originalquotedate", originalquotedate);
        formdata.append("quotedate", quotedate);
        formdata.append("duedate", duedate);
        formdata.append("taxinclusive", taxinclusive);
        formdata.append("emailsent", emailsent);
        formdata.append("externalref", externalref);
        formdata.append("creditlimit", creditlimit);
        formdata.append("dcbalance", dcbalance);
        formdata.append("foreigndcbalance", foreigndcbalance);
        formdata.append("currencyid", currencyid);
        formdata.append("isactive", isactive);
        formdata.append("QtyProcessed", QtyProcessed);
        formdata.append("courencyoption", courencyoption);
        formdata.append("UnitPrice", UnitAmount);
        formdata.append("Discontpercentage", discountpercent);
        $.ajax({
            type: 'POST',
            url: '/Invoice/CustInvoiceInsert',
            contentType: false,
            processData: false,
            dataType: 'html',
            data: formdata,
            success: function (data) {
                // debugger;
                console.log(data);
                if (data.includes("Success")) {
                    //$("#DivSuccess").css("display", "block");
                    alert("Invoice saved successfully");
                    location.reload();
                }
            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }

    function convertUTC(dateString) {
        if (dateString != "" && dateString != null) {
            const milliseconds = parseInt(dateString.match(/\d+/)[0]); // Extract milliseconds from string
            const formattedDate = formatDate(milliseconds);
            return formattedDate;
        }
    }
    function formatDate(milliseconds) {
        const date = new Date(milliseconds);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }
    function convertUTC1(dateString) {
        if (dateString != "" && dateString != null) {
            const milliseconds = parseInt(dateString.match(/\d+/)[0]); // Extract milliseconds from string
            const formattedDate = formatDate1(milliseconds);
            return formattedDate;
        }
    }
    function formatDate1(milliseconds) {
        const date = new Date(milliseconds);
        date.setDate(date.getDate() + 10); // Add 10 days to the date
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }
    function updatePagination(totalItems) {
        var pageSize = 10; // Number of items per page
        var totalPages = Math.ceil(totalItems / pageSize);

        var pagination = "";
        for (var i = 1; i <= totalPages; i++) {
            pagination += "<li class='page-item'><a class='page-link' href='#' onclick='changePage(" + i + ")'>" + i + "</a></li>";
        }

        $("#pagination").html(pagination);
    }
    function changePage(page) {
        pageSize = 10;
        currentPage = page;
        $.ajax({
            url: '/Invoice/InvoiceNewGridbind',
            type: "GET",
            dataType: "JSON",
            data: {},
            success: function (data) {
                var tbl = "";
                var count = (currentPage - 1) * pageSize + 1;
                var startIndex = (currentPage - 1) * pageSize;
                var endIndex = startIndex + pageSize;

                $.each(data.OrderEntryList, function (i, dat) {
                    if (i >= startIndex && i < endIndex) {
                        if (tbl == "") {
                            tbl = "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                        }
                        else {
                            tbl = tbl + "<tr><td class='veh-1' style='width:12%;text-align:center'>" + count + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.OrderEntryId + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + convertUTC1(dat.Date) + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.TotalAmount + "</td><td class='veh-1' style='width:12%;text-align:center'>" + dat.DiscountPer + "</td><td class='veh-1' style='width:12%;text-align:center'><button id='btnInvoice' onclick='genrateinvoice(" + dat.OrderEntryId + ");' type='button' class='manage_customers_btn font-15'>Invoice</button></td></tr>";
                        }
                        count++;
                    }
                });

                $("#tblInvoiceGrid").html(tbl);
                updatePagination(data.OrderEntryList.length);
            }
        });
    }
    function genrateinvoice(orderid) {
        var customerNameValue = $("#CustomerName").val();
        var ProcessStatus = $("#ProcessStatus").val();
        var OrderSelectID;
        if ($("#OrderSelectID").val() != "" && $("#OrderSelectID").val() != null) {
            OrderSelectID = $("#OrderSelectID").val();
        }
        else if (orderid != "" && orderid != null) {
            OrderSelectID = orderid;
        }
        //if (customerNameValue == "") {
        //    $("#DivFailer").css("display", "block");
        //    $("#DivError").html("Please select the buyer name.")
        //    return false
        //}
        //if (ProcessStatus == "") {
        //    $("#DivFailer").css("display", "block");
        //    $("#DivError").html("Please select the document status.")
        //    return false
        //}
        //if (OrderSelectID == "") {
        //    $("#DivFailer").css("display", "block");
        //    $("#DivError").html("Please select the order number.")
        //    return false
        //}
        $.ajax({
            url: '/Invoice/InvoiceNewGrid',
            type: "GET",
            dataType: "JSON",
            data: { orderid: OrderSelectID },
            success: function (data) {
                console.log(data);
                //$("#ObjOrderEntry_Id").val(data.ObjOrderEntry.Id);
                $("#ObjOrderEntry_Id").val(data.OrderEntryList[0].Id);
                $("#DivInvoiceIndu").css("display", "block");
                $("#DivInvoiceGrid").css("display", "none");
                $("#DivPaging").css("display", "none");
                $('#DivNewInvoice tr td').each(function () {

                    var Invoicequnt;
                    var torderqunt;
                    var orderqunt = parseFloat(data.OrderEntryList[0].TotalOrderForWeek);
                    //var orderqunty = orderqunt;
                    $("#tdOrderedQuantity").html(orderqunt);
                    if (data.OrderEntryList[0].InvoiceQty != 0) {
                        Invoicequnt = parseFloat(data.OrderEntryList[0].InvoiceQty);
                    }
                    else {
                        Invoicequnt = parseFloat(0);
                    }
                    ///Invoicequnt = Invoicequnt - 20;
                    //var Invoicequnty = Invoicequnt;
                    var torderqunt = orderqunt - Invoicequnt;
                    $("#tdInvoiceQuantity").html(Invoicequnt);
                    var qty = torderqunt;
                    qty = parseFloat(qty);
                    var total = parseFloat((qty * data.OrderEntryList[0].TotalAmount)).toFixed(2);
                    var discount = parseFloat((data.OrderEntryList[0].DiscountPer / 100) * (total));
                    total = parseFloat(total);
                    var unitprice = parseFloat(total / qty).toFixed(2);
                    $("#tdUnitprice").html(unitprice)
                    var TotalAmount = parseFloat(data.OrderEntryList[0].TotalAmount);
                    var Totalamt = (TotalAmount * qty).toFixed(2);
                    $("#tdprice").html(Totalamt);
                    $("#DivpTotal").html("$" + Totalamt);
                    Totalamt = Totalamt - discount;
                    var dnet = Totalamt;
                    dnet = dnet.toFixed(2)
                    $("#DivpNetAmount").html(dnet);
                    tax = (Totalamt * 0.15);
                    tax = parseFloat(tax).toFixed(2);
                    $("#tdTax").html(tax);
                    $("#DivpTaxAmount").html(tax);
                    //total = (total - discount);
                    tax = parseFloat(tax);
                    total = parseFloat(total);
                    var totalall = parseFloat((total + tax));
                    discount = discount.toFixed(2);
                    $("#DivpDiscount").html("$" + discount);
                    var invoiceamt = parseFloat(totalall) - parseFloat(discount);
                    invoiceamt = invoiceamt.toFixed(2);
                    $("#DivpInvoiceAmount").html("<b>$" + invoiceamt + "</b>");
                    console.log(data.OrderEntryList[0].BuyerStyleNo);
                    var BuyerStyleNo = parseFloat(data.OrderEntryList[0].BuyerStyleNo);
                    $("#tdproductname").html(BuyerStyleNo);
                    //totalall = totalall.toFixed(2);
                    $("#tdTotal").html(invoiceamt);
                    //Totalamt = parseFloat(Totalamt).toFixed(2);

                    //Totalamt = parseFloat(Totalamt);
                    //discount = parseFloat(discount);
                    //tax = parseFloat(tax);
                    //var netamt = Totalamt + tax;
                    //netamt = parseFloat(netamt).toFixed(2);


                });

                $('#DivNewInvoice tr td').each(function () {
                    //debugger;
                    console.log(this.id);
                    var Invoicequnt;
                    var orderqunt = parseFloat(data.OrderEntryList[0].TotalOrderForWeek);
                    if (data.OrderEntryList[0].InvoiceQty != 0) {
                        Invoicequnt = parseFloat(data.OrderEntryList[0].InvoiceQty);
                    }
                    else {
                        Invoicequnt = parseFloat(0);
                    }
                    //Invoicequnt = Invoicequnt - 20;
                    var torderqunt = orderqunt - Invoicequnt;
                    $("#numberInput").val(torderqunt);
                    var total = parseFloat((data.OrderEntryList[0].TotalOrderForWeek * data.OrderEntryList[0].TotalAmount)).toFixed(2);
                    var discount = parseFloat((data.OrderEntryList[0].DiscountPer / 100) * (total));
                    $("#spndiscountpercen").val(data.OrderEntryList[0].DiscountPer);
                    $("#DivspnDiscount").html(data.OrderEntryList[0].DiscountPer);
                    libilingadd = data.OrderEntryList[0].Add1.split(",");
                    for (var i = 0; i < libilingadd.length; i++) {
                        $("#libilingadd" + (1 + i)).html(libilingadd[i] + ",");
                    }
                    liadd = data.OrderEntryList[0].Add2.split(",");
                    for (var j = 0; j < liadd.length; j++) {
                        $("#liadd" + (1 + j)).html(liadd[j] + ",");
                    }
                });
                $('#DivInvoiceIndu ul li p').each(function () {
                    $("#DivpSonumber").html(data.OrderEntryList[0].BuyerOrderSlNo);
                    $("#DivpSodate").html(convertUTC(data.OrderEntryList[0].Date));
                    $("#DivpSoduedate").html(convertUTC(data.OrderEntryList[0].CustomerDate));
                });
            }
        });
    }
</script>


