@model MMS.Web.Models.StockModel.StockAdjustmentModel
@using MMS.Core.Entities
@using MMS.Core.Entities.Stock
@{
    MMS.Repository.Managers.StoreMasterManager StoreManager = new MMS.Repository.Managers.StoreMasterManager();
    StoreMaster StoreMaster_ = new StoreMaster();
    MMS.Repository.Managers.MaterialCategoryManager CategoryManager = new MMS.Repository.Managers.MaterialCategoryManager();
    MaterialCategoryMaster CategoryMaster_ = new MaterialCategoryMaster();

    MMS.Repository.Managers.MaterialGroupManager materialGroupManager = new MMS.Repository.Managers.MaterialGroupManager();
    MaterialGroupMaster_ materialGroupMaster_ = new MaterialGroupMaster_();

    MMS.Repository.Managers.SubGroupManager subGroupManager = new MMS.Repository.Managers.SubGroupManager();
    SubGroup subGroupMaster_ = new SubGroup();


    MMS.Repository.Managers.UOMManager uOMManager = new MMS.Repository.Managers.UOMManager();
    UomMaster uomMaster = new UomMaster();
    MMS.Repository.Managers.MaterialManager materialManager = new MMS.Repository.Managers.MaterialManager();
    MaterialMaster materialMaster = new MaterialMaster();
    MaterialNameMaster materialNameMaster = new MaterialNameMaster();
    MMS.Repository.Managers.MaterialNameManager materialNameManager = new MMS.Repository.Managers.MaterialNameManager();


}
<div class="veh-tablewrap">
    <div class="veh-tablecont">
        <div id="sortMsg" style="text-align: center; color: Red;"></div>

        <table class="veh-table" id="empTable">
            <thead>
                <tr class="color-code-top-btn">
                    <td colspan="9">
                        <input type="text" id="SeaarchID" placeholder="Search.." />
                        @*@if (Add == true)
                            {*@
                        <input type="button" value="Add" onclick="Add()">
                        @*}*@
                        @*else
                            {
                                <input type="button" onclick="alert('No Permission To access !')" style="cursor: pointer;" class="btn btn-default btn-style" value="Add">
                            }*@
                        <input type="button" value="Search" onclick="Search()">
                    </td>
                </tr>
                <tr>
                    <th class="veh-1">
                        Si.No
                    </th>
                    <th class="veh-1">
                        Adjustment No
                    </th>
                    <th class="veh-2">
                        Store
                    </th>
                    <th class="veh-3">
                        Category
                    </th>
                    <th class="veh-4">
                        Group
                    </th>
                    <th class="veh-5">
                        Sub Group
                    </th>
                    <th class="veh-6">
                        Material Name
                    </th>
                    <th class="veh-7">
                        Edit/Delete
                    </th>

                </tr>
            </thead>
            @if (Model.StockAdjustmentFormList.Count > 0 && Model.StockAdjustmentFormList != null)
            {
                int count = 1;
                <tbody>

                    @foreach (var StockAdjustment in Model.StockAdjustmentFormList)
                    {
                        StoreMaster_ = StoreManager.GetStoreMasterId(StockAdjustment.StoreId);
                        CategoryMaster_ = CategoryManager.GetMaterialCategoryMaster(StockAdjustment.CategoryId);
                        materialGroupMaster_ = materialGroupManager.GetMaterialGroupMaster_Id(StockAdjustment.GroupId);
                        subGroupMaster_ = subGroupManager.GetSubGroupMasterId(StockAdjustment.SubGroupId);
                        uomMaster = uOMManager.GetUomMasterId(StockAdjustment.UomId);
                        materialNameMaster = materialNameManager.GetMaterialNameMasterId(StockAdjustment.MaterialMasterId);

                        string MaterialName = "";
                        if (materialNameMaster != null)
                        {
                            MaterialName = materialNameMaster.MaterialDescription;
                        }
                        <tr>
                            <td class="veh-1" onclick="">@count</td>
                            <td class="veh-2" onclick="">@StockAdjustment.StockNo</td>
                            <td class="veh-3" onclick="">@StoreMaster_.StoreName</td>
                            <td class="veh-4" onclick="">@CategoryMaster_.CategoryName</td>
                            <td class="veh-5" onclick="">@materialGroupMaster_.GroupName</td>
                            <td class="veh-6" onclick="">@subGroupMaster_.SubGroupDescription</td>
                            <td class="veh-7" onclick="">@materialNameMaster.MaterialDescription</td>
                            <td class="veh-1 edit-del-wrap">
                                <a href="javascript:void(0)" onclick="Edit('@StockAdjustment.StockAdjustmentId')" class="watchlist-edit" title="Edit"></a>
                                <a href="javascript:void(0)" id="DeleteVehicleWatchList" onclick="Delete('@StockAdjustment.StockAdjustmentId')" class="watchlist-delete" title="Delete"></a>
                            </td>
                        </tr>
                        count++;
                    }


                </tbody>
                <tfoot class="footer-pager">
                    <tr>
                        <td colspan="4">
                            <div id="pager">
                                <form>
                                    <img src="@Url.Content("~/Content/images/first.png")" class="first" />
                                    <img src="@Url.Content("~/Content/images/prev.png")" class="prev" />
                                    <input type="text" class="pagedisplay" />
                                    <img src="@Url.Content("~/Content/images/next.png")" class="next" />
                                    <img src="@Url.Content("~/Content/images/last.png")" class="last" />
                                    <select class="pagesize">
                                        <option selected="selected" value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                    </select>
                                </form>
                            </div>

                        </td>

                    </tr>

                </tfoot>

            }
            else
            {
                <li style="color: red; font-size: 16px; text-align: center; width: 100%;">No Records Found</li>
            }
        </table>

    </div>

    <div id="EditColorPartial">
        @Html.Partial("~/Views/Stock/StockAdjustment/Partial/StockAdjustmentDetails.cshtml", Model)
    </div>

</div>

<script>
    function Search() {
        $.ajax({
            type: "POST",
            url: ' @Url.Action("Search", "StockAdjustment")',
            data: { filter: $('#SeaarchID').val() },
            success: function (data) {
                $(".veh-tablecont").html(data);
                $(".veh-tablecont").show();
                $('#DivShow').hide();
                $('#EditColorPartial').hide();
            }
        });
    }

    function Cancel() {
        $('#EditColorPartial').hide();
        $(".veh-tablecont").show();
    }
    function Add() {
        $.ajax({
            type: "POST",
            url: ' @Url.Action("StockAdjustmentDetails", "StockAdjustment")',
            data: { StockAdjustmentId: 0 },
            success: function (data) {
                $(".veh-tablecont").hide();
                $("#EditColorPartial").html(data);
                $("#EditColorPartial").show();
            }
        });

    }
    function Edit(arg) {
        $.ajax({
            type: "POST",
            url: ' @Url.Action("StockAdjustmentDetails", "StockAdjustment")',
            data: { StockAdjustmentId: arg },
            success: function (data) {
                $(".veh-tablecont").hide();
                $("#EditColorPartial").html(data);
                $("#EditColorPartial").show();
            }
        });

    }
    function Delete(arg) {
        var answer = confirm("Are you sure want to delete?");
        if (answer) {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("Delete", "StockAdjustment")',
                data: { StockAdjustmentId: arg },
                success: function (data) {
                    if (data == "Deleted Sccuessfully") {
                        alert('Deleted Successfully.');
                        location.href = "/StockAdjustment/StockAdjustment";
                        return false;
                    }
                    else {
                        alert('Stock Adjustment Details deletion failed.');
                    }

                },
                error: function (ex) {
                    alert('This Stock Adjustment Already Exist in the database.');
                }
            });
        }
        else {
            return false;
        }
    }


</script>