@model MMS.Web.Models.StockModel.ParentBillofMaterial

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/dropdown.css" rel="stylesheet" />

    <style>
        .button {
            padding: 7px 19px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #0a58ca;
            border: none;
            border-radius: 10px;
            box-shadow: 0 9px #999;
            margin-top: 20%;
        }

            .button:hover {
                background-color: #3e8e41
            }

            .button:active {
                background-color: #198754;
                box-shadow: 0 6px #666;
                transform: translateY(4px);
            }
        .read-only-dropdown[disabled] {
            pointer-events: none;
            cursor: not-allowed;
        }

    </style>
</head>

<body>
    <div class="main-page">
        <!-- page-contents here -->
        <section class="profile-section">
            <div class="profile">
                <div class="d-flex justify-content-between">
                    <div class="profile-names">
                        <h2 class="text-light">Bill of Material</h2>
                    </div>
                    <a href="/BillOfMaterial/BOMMaterialListGrid">
                        <button class="btn btn-light font-15" id="back">
                            Back
                        </button>
                    </a>

                </div>
            </div>
        </section>
        <section class="form-section-profile">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="profile-form size">
                        <h3 class="font-20">BOM information</h3>
                        <div class="input-part">
                            @Html.HiddenFor(m => m.Bomid)
                            <label class="font-14" for="BomNo">BOM No (or) Sketch No :</label>
                            @Html.TextBoxFor(m => m.Bomno, new { @class = "form-control text-field", placeholder = "Enter Text" })
                        </div>
                        <div class="input-part">
                            <label class="font-14" for="Description">Description</label>
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control text-field", placeholder = "Enter Text", @readonly = "true", style = "background-color: #eee !important;" })
                        </div>
                        <div class="input-part">
                            <label class="font-14" for="Date">Date</label>
                            @if (Model != null && Model.Bomid != 0)
                            {
                                var from = Model.Date;
                                @Html.TextBoxFor(m => m.Date, new { @Value = from, @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            }
                            else
                            {

                                @Html.TextBoxFor(m => m.Date, new { @Value = System.DateTime.Now.Date.ToString("dd/MM/yyyy"), @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })
                            }
                        </div>
                        @*<div class="input-part">
                                <label class="font-14" for="ParentBomNo">Parent BOM No.</label>
                                @Html.DropDownListFor(m => m.ParentBomNo, MMS.Web.ExtensionMethod.HtmlHelper.GetBomNo(), " -- Please Select -- ", new { @class = "select-style text-field " })

                            </div>*@
                        <div class="input-part">
                            <label class="font-14" for="LastBomNoEntered">Last BOM No. Entered</label>
                            @Html.TextBoxFor(m => m.Lastbom, new { @class = "form-control text-field", @readonly = "true", style = "background-color: #eee !important;" })

                        </div>

                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="profile-form size1">
                        <div class="d-flex justify-content-between">
                            <h3 class="font-20">Material Details</h3>
                            <div class="radioSection">
                                <label for="add"> <input type="radio" name="yes" id="add" checked>BOM-Material</label>
                                <label for="add1"><input type="radio" name="yes" id="add1">Sub-Assembly</label>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="edit-merchant">
                            <div class="edit-merchant-inner-section" id="product">
                                <div class="input-part">
                            @Html.HiddenFor(m => m.Bommaterialid)
                            @Html.HiddenFor(m => m.subassemblyid)
                            <label class="font-14" for="produzct">Product</label>
                                        @Html.DropDownListFor(m => m.Productid, MMS.Web.ExtensionMethod.HtmlHelper.ProductName(), new { @class = "select-style text-field " })
                                    </div>
                                </div>
                            <div class="edit-merchant-inner-section" id="a1">
                                <div class="input-part">
                                    <label class="font-14" for="MaterialCategoryMasterId">Material Catogory</label>
                                    @Html.DropDownListFor(m => m.MaterialCategoryid, MMS.Web.ExtensionMethod.HtmlHelper.MaterialCategoryName(), new { @class = "select-style text-field" })
                                </div>
                            </div>
                            <div class="edit-merchant-inner-section" id="a2">
                                <div class="input-part">
                                    <label class="font-14" for="MaterialGroupMasterId">Material  Group</label>
                                    @Html.DropDownListFor(m => m.MaterialGroupid, MMS.Web.ExtensionMethod.HtmlHelper.MaterialGroupName(), new { @class = "select-style text-field " })
                                </div>
                            </div>
                            <div class="edit-merchant-inner-section" id="a3">
                                <div class="input-part">
                                    <label class="font-14" for="MaterialName">Material Name</label>
                                    @Html.DropDownListFor(m => m.MaterialMasterid, MMS.Web.ExtensionMethod.HtmlHelper.MaterialMasterName(), new { @class = "select-style text-field " })

                                </div>
                            </div>

                            <div class="edit-merchant-inner-section" id="a4">
                                <div class="input-part">
                                    <label class="font-14" for="WastageQtyUOM">UOM</label>
                                    @Html.DropDownListFor(
       m => m.Uomid,
       MMS.Web.ExtensionMethod.HtmlHelper.Uom(),
       new
{
           @class = "select-style text-field read-only-dropdown",
           style = "background-color: #eee !important;"
       }
   )
                                </div>
                            </div>
                            <div class="edit-merchant-inner-section">
                                <div class="input-part">
                                    <label class="font-14" for="requiredqty">Required Qty</label>
                                    @Html.TextBoxFor(m => m.Requiredqty, new { @class = "form-control text-field", placeholder = "Enter Qty" })
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="botton-section" id="mat">
                                <button type="button" class="button" value="AddMaterial" id="add-Material" onclick="Save()">Add Material</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="botton-section" id="sub">
                                <button type="button" class="button" value="AddMaterial" id="Sub_Assembly" onclick="addsubass()">Add Sub_Assembly</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="" id="MaterialListGrid">
                        @{Html.RenderPartial("~/Views/Stock/BillOfMaterial/PartialView/_MaterialGrid.cshtml", Model);}
                    </div>
                    @*<div class="subassemblyGrid" id="subassemblyGrid">
                            @{Html.RenderPartial("~/Views/Stock/BillOfMaterial/PartialView/subassembly.cshtml", Model);}
                        </div>*@
                </div>
        </section>
    </div>

    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/dropdown.js"></script>
    <link href="~/Content/css1/sweetalert.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#BOM").attr('checked', true);

        });
    </script>
    <script>
        function initializeTomSelect(selectors, options) {
            selectors.forEach(selector => {
                new TomSelect(selector, options);
            });
        }

        initializeTomSelect([
            "#Productid"
        ], {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            }
        });
        function Save() {
            var Bomid = $("#Bomid").val();
            var Bomno = $("#Bomno").val();
            var Description = $("#Description").val();
            var date = $("#Date").val();
            var Lastbom = $("#Lastbom").val();
            var Productid = $("#Productid").val();
            var MaterialCategoryid = $("#MaterialCategoryid").val();
            var MaterialGroupid = $("#MaterialGroupid").val();
            var MaterialMasterid = $("#MaterialMasterid").val();
            var Uomid = $("#Uomid").val();
            var Bommaterialid = $("#Bommaterialid").val();
            var Requiredqty = $("#Requiredqty").val();
            var formdata = new FormData();
            formdata.append("Bomno", Bomno);
            formdata.append("Bomid", Bomid);
            formdata.append("Description", Description);
            formdata.append("Bommaterialid", Bommaterialid);
            formdata.append("Date", date);
            formdata.append("Lastbom", Lastbom);
            formdata.append("Productid", Productid);
            formdata.append("MaterialCategoryid", MaterialCategoryid);
            formdata.append("MaterialGroupid", MaterialGroupid);
            formdata.append("MaterialMasterid", MaterialMasterid);
            formdata.append("Uomid", Uomid);
            formdata.append("Requiredqty", Requiredqty);
            if (Bommaterialid == "") {
                if (Bomno != "" && MaterialCategoryid != "" && MaterialMasterid != "" && Requiredqty != "") {
                    if (Bomid == "0") {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/BillOfMaterialDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Saved Successfully") {
                                    alert("Saved Successfully.");
                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.bomids;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }
                                else {
                                    alert('Save process Failed.');
                                }

                            }

                        });
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/BillOfMaterialDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Updated Successfully") {
                                    alert("Saved Successfully.");

                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.update;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }

                            }

                        });
                    }
                }
                else {
                    alert("Please select All field");
                }
            }
            else {
                if (Bomno != "" && MaterialCategoryid != "" && MaterialMasterid != "" && Requiredqty != "") {
                    if (Bomid == "0") {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/BillOfMaterialDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Saved Successfully") {
                                    alert("Updated Successfully.");
                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.bomids;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }
                                else {
                                    alert('Save process Failed.');
                                }

                            }

                        });
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/BillOfMaterialDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Updated Successfully") {
                                    alert("Updated Successfully.");

                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.update;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }

                            }

                        });
                    }
                }
                else {
                    alert("Please select All field");
                }
            }

        }
        function addsubass() {
            var Bomid = $("#Bomid").val();
            var Bomno = $("#Bomno").val();
            var Description = $("#Description").val();
            var date = $("#Date").val();
            var subassemblyid = $("#subassemblyid").val();
            var Lastbom = $("#Lastbom").val();
            var Productid = $("#Productid").val();
            var Requiredqty = $("#Requiredqty").val();
            var formdata = new FormData();
            formdata.append("Bomno", Bomno);
            formdata.append("Bomid", Bomid);
            formdata.append("subassemblyid", subassemblyid);
            formdata.append("Description", Description);
            formdata.append("Date", date);
            formdata.append("Lastbom", Lastbom);
            formdata.append("Productid", Productid);
            formdata.append("Requiredqty", Requiredqty);
            if (subassemblyid == "") {
                if (Bomno != "" && Requiredqty != "") {
                    if (Bomid == "0") {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/SubAssemblyDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Saved Successfully") {
                                    alert("Updated Successfully.");
                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.bomids;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }
                                else {
                                    alert('Save process Failed.');
                                }

                            }

                        });
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/SubAssemblyDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Updated Successfully") {
                                    alert("Updated Successfully.");
                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.update;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }

                            }

                        });
                    }
                }
                else {
                    alert("Please select All field");
                }
            }
            else {
                if (Bomno != "" && Requiredqty != "") {
                    if (Bomid == "0") {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/SubAssemblyDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Saved Successfully") {
                                    alert("Saved Successfully.");
                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.bomids;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }
                                else {
                                    alert('Save process Failed.');
                                }

                            }

                        });
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: '/BillOfMaterial/SubAssemblyDetails',
                            contentType: false,
                            processData: false,
                            dataType: 'html',
                            data: formdata,
                            success: function (values) {
                                var data = JSON.parse(values);
                                if (data.AlertMessage === "Updated Successfully") {
                                    alert("Updated Successfully.");
                                    window.location.href = "/BillOfMaterial/EditBOMDetails?BOMID=" + data.update;
                                }
                                else if (data == "Already Existed") {
                                    alert("BOM no Already  Existed");
                                    return false;
                                }

                            }

                        });
                    }
                }
                else {
                    alert("Please select All field");
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".read-only-dropdown").attr("disabled", "disabled");
            $("#sub").hide();
            $("#product").hide();
            $("#add1").on("click", function () {
                $("#mat").hide();
                $("#sub").show();
                $("#product").show();
                $("#a1").hide();
                $("#a2").hide();
                $("#a3").hide();
                $("#a4").hide();
            });
            $("#add").on("click", function () {
                $("#product").hide();
                $("#mat").show();
                $("#sub").hide();
                $("#a1").show();
                $("#a2").show();
                $("#a3").show();
                $("#a4").show();
            });
        });
    </script>
    <script>

 $(document).ready(function () {
     $("#MaterialCategoryid").change(function () {
                var MaterialCategoryMasterId_ = $('#MaterialCategoryid').val();
        $.ajax({
            url: '@Url.Action("FillCateogoryid", "MaterialMaster")',
            type: "GET",
            dataType: "JSON",
            data: { MaterialCategoryMasterId: MaterialCategoryMasterId_ },
            success: function (cities) {
                var $materialGroup = $("#MaterialGroupid");
                $materialGroup.empty();
                $materialGroup.append(
                    $('<option></option>').val('').html("please select")
                );
                $.each(cities, function (i, city) {
                    $("#MaterialGroupid").append(
                            $('<option></option>').val(city.MaterialGroupMasterId).html(city.GroupName)
                        );
                    });
            }

        });
    });
     $("#MaterialMasterid").change(function () {
                var Materialmasterid = $('#MaterialMasterid').val();
        $.ajax({
            url: '@Url.Action("FillUOMBasedonMaterialName", "MaterialMaster")',
            type: "GET",
            dataType: "JSON",
            data: { MaterialNameID: Materialmasterid },
            success: function (cities) {
                var $materialGroup = $("#Uomid");
                $materialGroup.empty();
                $.each(cities, function (i, city) {
                    $("#Uomid").append(
                        $('<option></option>').val(city.uomid).html(city.UomName)
                    );
                });
            }

        });
     });
$("#MaterialGroupid").change(function () {
                var MaterialGroupMasterId_ = $('#MaterialGroupid').val();
    $.ajax({
        url: '@Url.Action("FillMaterialName", "MaterialMaster")',
        type: "GET",
        dataType: "JSON",
        data: { MaterialGroupMasterId: MaterialGroupMasterId_ },
        success: function (cities) {
            var $materialGroup = $("#MaterialMasterid");
            //if ($materialGroup[0].tomselect) {
            //    $materialGroup[0].tomselect.destroy();
            //}
            $materialGroup.empty();
            $.each(cities, function (i, city) {
                $materialGroup.append(
                    $('<option></option>').val(city.Value).html(city.Text)
                );
            });
            //new TomSelect("#MaterialName", {
            //    create: false,
            //    sortField: {
            //        field: "text",
            //        direction: "asc"
            //    }
            //});
        },
        error: function (xhr, status, error) {
            console.error("AJAX error:", status, error);
        }
    });
});

 $("#Bomno").blur(function () {
 if ($('#Bomno').val() != null && $('#Bomno').val() != "") {
       var style = $('#Bomno').val();
       var letterNumber = /^[a-zA-Z-,]+(\s{0,1}[a-zA-Z-, ])*$/;
      if ((style.match(letterNumber))) {
             $('#Description').val(style);
         }
         else {
             $.ajax({
                 type: 'GET',
                 url: ' @Url.Action("CheckBomNo", "BillOfMaterial")',
                 data: { BomNo: style },
                 success: function (data) {
                     if (data.Message == "Already Existed") {
                         $('#Description').val(style);
                         $("#add-Material").hide();
                         $("#BtnSave").hide();
                         alert("Already Existed please try another BOM.");
                         $('#Bomno').val('');
                         return false;
                     }
                     else {
                         $('#Description').val(style);
                         $("#add-Material").show();
                     }

                 },
             });

         }
     }
     else {
         alert("Please enter the BOM.");
         return false;
     }
 });
});

    </script>
</body>

</html>
