@model IEnumerable<MMS.Web.Models.Salesorders>
@using MMS.Repository.Managers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }

        .manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
            padding: 6px;
        }
        #reports_search4_container button, #transaction_reports_search4_container button, #static_report_search4_container button {
            padding: 12px 29px;
            color: #FFFFFF;
        }
    </style>
</head>
<body>

    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <nav class="reports_customers_head d-flex justify-content-between" aria-label="breadcrumb">
                <div>
                    <ol class="breadcrumb font-20">
                        <li class="breadcrumb-item " aria-current="page">Sales Order</li>
                    </ol>
                </div>
                <div class="checkbox-wrapper-10">
                    <input class="tgl tgl-flip" id="cb5" type="checkbox" checked />
                    <label class="tgl-btn" data-tg-off="Pro Details" data-tg-on="Summary" for="cb5"></label>
                </div>

            </nav>

            <div class="table-responsive reports_table_responsive">
                <ol class="breadcrumb font-20 d-flex justify-content-center">
                    <li class="breadcrumb-item " aria-current="page" style="font-size: 112%;">SalesOrder Product Details</li>
                </ol>
                <div class="d-flex justify-content-evenly mt-4">
                    <div class="form-floating">
                        <select id="buyerid" class="form-select">
                            @foreach (var item in MMS.Web.ExtensionMethod.HtmlHelper.BuyerName())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <label for="floatingSelectGrid">Customer Name</label>
                    </div>

                    <div class="form-floating">
                        <select id="salesorderno" class="form-select">
                            @foreach (var item in MMS.Web.ExtensionMethod.HtmlHelper.salesorderno())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <label for="floatingSelectGrid">SO Number</label>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="InvDate" />
                        <label for="InvDate">From Date</label>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="InvDueDate" />
                        <label for="InvDueDate">To Date</label>
                    </div>

                    <div id="transaction_reports_search4_container" class="reports_search_container_btn">
                        <button type="button" class="manage_customers_btn font-15" id="Search">
                            FILTER
                        </button>
                    </div>

                    <div id="transaction_reports_search4_container" class="reports_search_container_btn">
                        <a href="/SalesOrder/SalesOrderDetails">
                            <button class="button-71" role="button">ADD</button>
                        </a>
                    </div>
                </div>
                <div class="manage_customers_table_in_responsive mt-3" id="form">
                    <table class="table table-striped text-center">
                        <thead>
                            <tr class="font-16">
                                <th scope="col">
                                    <span id="add">Si.No</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Order No</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Order Date</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Customer Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>

                                <th scope="col">
                                    <span>Product Name</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Product Code</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Qty/UOM</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Discount</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Sub Total</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>

                                <th scope="col">
                                    <span>Tax Amount</span>
                                    <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Total Price</span>  <span>
                                        <img src="~/Content/assets/images/sort-arrows-couple-pointing-up-and-down.png" />
                                    </span>
                                </th>
                                <th scope="col">
                                    <span>Stock/Qty</span>
                                </th>
                            </tr>
                        </thead>
                        @if (Model != null && Model.Count() > 0)
                        {
                            int count = 1;
                            <tbody>
                                @foreach (var i in Model)
                                {

                                    <tr class="font-14">
                                        <td class="veh1-5">@count</td>
                                        <td class="veh1-5" style="width: 3%; text-align:center;">@i.SalesorderId</td>
                                        <td class="veh1-5" style="width: 2%; text-align:center;">@i.salesorderdate.ToString("dd/MM/yyyy")</td>
                                        <td class="veh1-5" style="width: 12%; text-align:left;">@i.BuyerNames</td>
                                        <td class="veh1-5" style="width: 24%; text-align: left;">@i.ProductName</td>
                                        <td class="veh1-5" style="width: 12%; text-align: left;">@i.ProductCode</td>
                                        <td class="veh1-5" style="width: 12%; text-align:center;">@string.Format("{0:0.00}", i.quantity) / @i.Uomname</td>
                                        @if (@i.discountvalue != null)
                                        {
                                            <td class="veh1-5" style="width: 12%; text-align: right;">@string.Format("{0:0.00}", i.discountvalue)</td>
                                        }
                                        else
                                        {
                                            <td class="veh1-5" style="width: 12%; text-align: right;">0.00</td>
                                        }
                                        <td class="veh1-5" style="width: 12%; text-align: right;">@string.Format("{0:0.00}", i.Subtotal)</td>
                                        <td class="veh1-5" style="width: 12%; text-align: right;">@string.Format("{0:0.00}", i.TaxValue)</td>
                                        <td class="veh1-5" style="width: 12%; text-align: right;">@string.Format("{0:0.00}", i.Grandtotal)</td>
                                        <td class="veh1-5" style="width: 12%;" onclick="Check('@i.SalesorderId_DT')"> <button class="btn btn-secondary" id="Check">Check</button></td>

                                    </tr>
                                    count++;
                                }

                            </tbody>

                        }
                    </table>
                </div>

                <div class="row manage_customer_show">
                    <div class="font-14 manage_customer_show_I col-xl-6">
                        <span>Showing </span>
                        <select class="form-select font-16" name="manage_customer_show_content" id="manage_customer_show_no" aria-label="select example">
                            <option value="15" @(ViewBag.PageSize == 15 ? "selected" : "")>15</option>
                            <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30</option>
                            <option value="45" @(ViewBag.PageSize == 45 ? "selected" : "")>45</option>
                            <option value="60" @(ViewBag.PageSize == 60 ? "selected" : "")>60</option>
                        </select>
                    </div>

                    <div class="col-xl-6 manage_customer_show_II">
                        <nav class="float-xl-end">
                            <ul class="pagination font-14">
                                <li class="page-item">
                                    <a href="##" id="previousPage" class="page-link">Previous</a>
                                </li>
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a href="@Url.Action("SalesOrderMaster", "SalesOrder", new { page = i })" class="page-link">@i</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a class="page-link" id="nextPage" href="##">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='details' class="myModalContent"></div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/custom.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {


    $('#manage_customer_show_no').change(function() {
        var pageSize = parseInt($(this).val());
        window.location.href = "@Url.Action("SalesOrderMaster", "SalesOrder")?pageSize=" + pageSize;
    });

    $('#previousPage').click(function(e) {
        e.preventDefault();
        var currentPage = parseInt('@ViewBag.CurrentPage');
        if (currentPage > 1) {
            var previousPage = currentPage - 1;
            window.location.href = "@Url.Action("SalesOrderMaster", "SalesOrder")?page=" + previousPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
        }
    });

    $('#nextPage').click(function(e) {
        e.preventDefault();
        var currentPage = parseInt('@ViewBag.CurrentPage');
        var totalPages = parseInt('@ViewBag.TotalPages');
        if (currentPage < totalPages) {
            var nextPage = currentPage + 1;
            window.location.href = "@Url.Action("SalesOrderMaster", "SalesOrder")?page=" + nextPage + "&pageSize=" + parseInt('@ViewBag.PageSize');
        }
    });

});

        document.querySelector('.tgl-btn').addEventListener('click', function () {
            var toggleState = this.getAttribute('data-tg-on');
            if (toggleState === "Summary") {
                getsummery();
                this.setAttribute('data-tg-on', 'Pro Details');
            } else {
                getproductdetails();
                this.setAttribute('data-tg-on', 'Summary');
                this.setAttribute('data-tg-off', 'Pro Details');
            }
        });
        function getsummery() {
            $(".table-responsive").hide();
            $.ajax({
                type: 'GET',
                url: '/SalesOrder/salesorderheader',
                contentType: 'application/json',
                success: function (data) {
                    $(".table-responsive").html(data).show();
                }
            });
        }
        function getproductdetails() {
            window.location.href = "/SalesOrder/SalesOrderMaster";
        }
            function Check(arg) {
                $('#myModal').hide();
                $.ajax({
                    type: 'GET',
                    url: '/SalesOrder/SalesOrderQtycheck',
                    data: { id: arg },
                    success: function (values) {
                        $('#details').html(values);

                        var options = {
                            backdrop: 'static',
                            keyboard: false
                        };

                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    }
                });
            }
    </script>

    <script>

        $("#buyerid").change(function () {
            var buyerid = $('#buyerid').val();
            $.ajax({
                url: '/SalesOrder/Getbuyerorderno',
                type: "GET",
                dataType: "JSON",
                data: { id: buyerid },
                success: function (values) {
                    $("#salesorderno").html("");
                    $("#salesorderno").append(
                        $('<option></option>').val(0).html("Please Select")
                    );
                    $.each(values, function (i, order) {
                        $("#salesorderno").append(
                            $('<option></option>').val(order.salesorderid_hd).html(order.salesorderid_hd)
                        );
                    });
                }
            });
        });
        $(document).on("click", "#Search", function () {
            var buyerid = $("#buyerid").val();
            var salesorderno = $("#salesorderno").val();
            $.ajax({
                type: 'GET',
                url: '/SalesOrder/searchs',
                data: { customerid: buyerid, SOid: salesorderno },
                contentType: 'application/json',
                success: function (data) {
                    $("tbody").empty();
                    var count = 1;

                    $.each(data, function (i, item) {
                        var date = new Date(item.salesorderdate);
                        const formattedDate = convertToReadableDate(item.salesorderdate);
                        var formattedQuantity = (item.quantity).toFixed(2);
                        var formattedDiscountValue = (item.discountvalue).toFixed(2);
                        var formattedSubtotal = (item.Subtotal).toFixed(2);
                        var formattedTaxValue = (item.TaxValue).toFixed(2);
                        var formattedGrandtotal = (item.Grandtotal).toFixed(2);

                        $("tbody").append(`
                                <tr class="font-14">
                                    <td class="veh1-5">${count}</td>
                                    <td class="veh1-5" style="width: 3%;text-align:center;">${item.SalesorderId}</td>
                                    <td class="veh1-5" style="width: 2%;text-align:center;">${formattedDate}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:left;">${item.BuyerNames}</td>
                                    <td class="veh1-5" style="width: 24%;text-align:left;">${item.ProductName}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:left;">${item.ProductCode}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:center;">${formattedQuantity} / ${item.Uomname}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:right;">${formattedDiscountValue}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:right;">${formattedSubtotal}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:right;">${formattedTaxValue}</td>
                                    <td class="veh1-5" style="width: 12%;text-align:right;">${formattedGrandtotal}</td>
                                    <td class="veh1-5" style="width: 12%;" onclick="Check('${item.SalesorderId_DT}')">
                                        <button class="btn btn-secondary" id="Check">Check</button>
                                    </td>
                                </tr>
                            `);
                        count++;
                    });
                }

            });
        });
        function convertToReadableDate(dateString) {
            const match = dateString.match(/\d+/);
            if (match) {
                const timestamp = parseInt(match[0], 10);
                const date = new Date(timestamp);
                const day = date.getDate().toString().padStart(2, '0');
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            }
            return "Invalid Date";
        }
    </script>
    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#order").attr('checked', true);
        });
    </script>


</body>
</html>
