@model MMS.Web.Models.Salesorders
@using MMS.Repository.Managers
@using Newtonsoft.Json

@{
    var bomlist = JsonConvert.SerializeObject(Model.bOMMaterialListModels);
    int a = 0;
    int b = 0;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        .modal-content {
            position: relative;
            display: flex;
            margin-left: -70%;
            flex-direction: column;
            width: 257%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: .3rem;
            outline: 0;
        }

        table, th, td {
            padding: 1%;
        }

        #table-wrapper {
            position: relative;
        }

        #table-scroll {
            height: 400px;
            overflow: auto;
        }

        #table-wrapper table {
            width: 100%;
        }

        table td {
            text-align: center;
            color: #000;
        }
    </style>

</head>

<body>

    <div class="edit-section">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h1 class="modal-title fs-5" id="exampleModalLabel">View Order Details</h1>
        <div>
            <table style="width: 100%; border: 1px solid white; border-collapse: collapse; text-align: center; color: #969696;" class=" list1 mt-4">
                <tr>
                    <th>Order No</th>
                    <th>Buyer Name</th>
                    <th>SO Item</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Product Price</th>
                    <th>Order Date</th>
                    <th>Order Time</th>
                    <th>BOM No</th>
                </tr>
                <tr>
                    <td>@Model.SalesorderId</td>
                    <td>@Model.BuyerNames</td>
                    <td>@string.Format("{0:0.00}", Model.quantity)</td>
                    <td>@Model.ProductName</td>
                    <td>@Model.ProductCode</td>
                    <td>@string.Format("{0:0.00}", Model.Total_Price)</td>
                    <td>@Model.salesorderdate.ToString("dd/MM/yyyy")</td>
                    <td>@Model.salesorderdate.ToString("hh:mm tt")</td>
                    <td>@Model.Bomno</td>
                </tr>
            </table>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <p class="modal-title fs-4" id="list2">Material List</p>
            </div>
            <div class="d-flex justify-content-end">
                <img src="~/Content/assets/images/right arrow.png" width="6%" />
                <div class="checkbox-wrapper-8">
                    <input class="tgl tgl-skewed" id="cb3-8" type="checkbox" onclick="Filter()" style="display: none; " />
                    <label class="tgl-btn" data-tg-off="Show Details" data-tg-on="All Material" for="cb3-8" id="toggleBtn"></label>
                </div>
            </div>

        </div>
        <div id="table-wrapper" class="mt-4">
            <div id="table-scroll">
                <table class="table table-bordered table-fixed" style="text-align: center; width: 100%;">
                    <thead>
                        <tr style="position: -webkit-sticky; position: sticky; top: 0; background-color: gray; color: #fff;">
                            <th><span class="text">S.No</span></th>
                            <th><span class="text">Material Item</span></th>
                            <th><span class="text">Type</span></th>
                            <th><span class="text">Avail ST</span></th>
                            <th><span class="text">Avail Unit</span></th>
                            <th><span class="text">Consume</span></th>
                            <th><span class="text">Shortage</span></th>
                            <th><span class="text">Consume Unit</span></th>
                            <th><span class="text">Stage</span></th>
                            <th><span class="text">ETA</span></th>
                            <th><span class="text">Status</span></th>
                        </tr>
                    </thead>
                    <tbody id="sales">


                        @if (Model.bOMMaterialListModels != null)
                        {
                            int count = 1;
                            int counts = 1;
                            foreach (var i in Model.bOMMaterialListModels)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td style="text-align:left;">@i.MaterialNames</td>
                                    <td>@i.productype</td>`
                                    @if (i.availablestock != null && i.availablestock != 0)
                                    {
                                        <td style="text-align:right;">@string.Format("{0:0.00}", i.availablestock) </td>
                                    }
                                    else
                                    {
                                        <td style="text-align:right;">Not Added</td>
                                    }
                                    <td style="text-align:left;">@i.UOMName</td>
                                    @if (i.availablestock >= (i.Requiredqty * Model.quantity))
                                    {
                                        <td style="text-align:right;">@string.Format("{0:0.00}", (i.Requiredqty * Model.quantity))</td>
                                    }
                                    else
                                    {
                                        if (i.productype == "MAT")
                                        {
                                            <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (i.Requiredqty * Model.quantity))</u></td>
                                            a++;

                                        }
                                        else if (i.productype == "SUB")
                                        {
                                            <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (i.Requiredqty * Model.quantity))</u></td>
                                            b++;
                                        }

                                    }
                                    @if (i.availablestock < (i.Requiredqty * Model.quantity))
                                    {

                                        <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (i.Requiredqty * Model.quantity) - (i.availablestock))</u></td>

                                    }
                                    else
                                    {
                                        if (i.availablestock != null)
                                        {
                                            <td style="color: #b9b1b1; text-align: right;">0</td>
                                        }
                                        else
                                        {
                                            <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (i.Requiredqty * Model.quantity))</u></td>
                                        }

                                    }

                                    <td style="text-align:left;">@i.UOMName </td>
                                    <td style="color: #b9b1b1">Null</td>
                                    <td style="color: #b9b1b1">Null</td>
                                    <td class="productid" style="display: none;">@i.MaterialMasterid</td>
                                    @if ((i.availablestock >= (i.Requiredqty * Model.quantity)) && (i.productype == "SUB"))
                                    {
                                        <td style="color: #b9b1b1">Null</td>
                                    }
                                    else if ((i.availablestock >= (i.Requiredqty * Model.quantity)) && (i.productype == "MAT"))
                                    {
                                        <td style="color: #b9b1b1">Null</td>
                                    }
                                    else if (i.mrp_Material_Lists.Count() != 0)
                                    {

                                        <td>
                                            <button class="button-77 " id="Raiseindent" role="button">Raise Indent</button>
                                        </td>
                                    @*<tr id="subtable">
                                        <th><span class="text">S.No</span></th>
                                        <th><span class="text">Material Item</span></th>
                                        <th><span class="text">Type</span></th>
                                        <th><span class="text">Avail ST</span></th>
                                        <th><span class="text">Avail Unit</span></th>
                                        <th><span class="text">Consume</span></th>
                                        <th><span class="text">Shortage</span></th>
                                        <th><span class="text">Consume Unit</span></th>
                                    </tr>
                                    <tr>
                                        @foreach (var h in i.mrp_Material_Lists)
                                        {
                                            <td>@counts</td>
                                            <td>@h.MaterialNames</td>
                                            <td>@h.producttype</td>
                                            if (h.AvailableStock != null && h.AvailableStock != 0)
                                            {
                                                <td style="text-align:right;">@string.Format("{0:0.00}", h.AvailableStock) </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:right;">Not Added</td>
                                            }
                                            <td style="text-align:left;">@i.UOMName</td>
                                            if (h.AvailableStock >= (h.RequiredQty * i.Requiredqty))
                                            {
                                                <td style="text-align:right;">@string.Format("{0:0.00}", (h.RequiredQty * i.Requiredqty))</td>
                                            }
                                            else
                                            {
                                                if (h.producttype == "MAT")
                                                {
                                                    <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (h.RequiredQty * i.Requiredqty))</u></td>
                                                    a++;

                                                }
                                                else if (h.producttype == "SUB")
                                                {
                                                    <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (h.RequiredQty * i.Requiredqty))</u></td>
                                                    b++;
                                                }

                                            }
                                            if (i.availablestock < (h.RequiredQty * i.Requiredqty))
                                            {

                                                <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (h.RequiredQty * i.Requiredqty) - (h.AvailableStock))</u></td>

                                            }
                                            else
                                            {
                                                if (h.AvailableStock != null)
                                                {
                                                    <td style="color: #b9b1b1; text-align: right;">0</td>
                                                }
                                                else
                                                {
                                                    <td style="color: red; text-align: right;"><u>@string.Format("{0:0.00}", (h.RequiredQty * i.Requiredqty))</u></td>
                                                }

                                            }

                                            <td style="text-align:left;">@i.UOMName </td>
                                            counts++;

                                        }
                                    </tr>*@
                                }
                                else if ((i.availablestock <= (i.Requiredqty * Model.quantity)) && (i.productype == "SUB"))
                                {
                                <td>
                                    <button class="button-70 " id="moveprod" role="button">Move Prod</button>
                                </td>
                            }

                            else
                            {
                                <td style="color: #b9b1b1">Null</td>
                            }
                                    </tr>
                                    count++;

                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            @if (a != 0)
            {
                <div class="d-flex justify-content-center mt-1">
                    <button class="btn btn-danger" id="makepayment" onclick="RaiseIndent()">Raise Indent</button>

                </div>
            }
            else if (b != 0)
            {

                <div class="d-flex justify-content-center mt-1">
                    <td style="color: red; text-align: right;"><u style="color: red;">Move the Sub Assembly material list to Sub Assembly Production Side If material Available</u></td>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center mt-1">

                    <button class="button-82-pushable" role="button" onclick="RaiseProduction()">
                        <span class="button-82-shadow"></span>
                        <span class="button-82-edge"></span>
                        <span class="button-82-front text">
                            Move to Production
                        </span>
                    </button>
                </div>
            }

        </div>


        <script src="~/Content/js/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="~/Content/js/bootstrap.bundle.min.js"></script>
        <script>
        $(document).ready(function () {
            $(document).on("click", "#moveprod", function () {
                var row = $(this).closest('tr');
                var ProductNameId = row.find('.productid').text();
                 var salesorderid = @Model.SalesorderId_DT;
                $.ajax({
                    type: 'POST',
                    url: '/SalesOrder/TempProductionSubassembly',
                    data: JSON.stringify({ proid: ProductNameId, SOid: salesorderid }),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data == 'Success') {
                            Swal.fire({
                                title: 'Success!!',
                                text: 'Move to Prod Queue !',
                                icon: 'success',
                                timer: 3000,
                                timerProgressBar: true,
                                showConfirmButton: false
                            });
                            setTimeout(function () {
                                location.href = "/SalesOrder/SalesOrderMaster";
                                return false;
                            }, 3000);


                        }
                        else {
                            Swal.fire("Alert", "Already This Material Moved to Prod Queue!", "error");
                        }
                    }
                });
            });
            $(document).on("click", "#Raiseindent", function () {
       var row = $(this).closest('tr');
       var ProductNameId = row.find('.productid').text();
        var salesorderid = @Model.SalesorderId_DT;
       $.ajax({
           type: 'POST',
           url: '/SalesOrder/Tempsalesorder_Subassemblymaterial',
           data: JSON.stringify({ proid: ProductNameId, SOid: salesorderid }),
           contentType: 'application/json',
           success: function (data) {
               if (data == 'Success') {
                   Swal.fire({
                       title: 'Success!!',
                       text: 'Successfully Raised the Indent!',
                       icon: 'success',
                       timer: 3000,
                       timerProgressBar: true,
                       showConfirmButton: false
                   });
                   setTimeout(function () {
                       location.href = "/SalesOrder/SalesOrderMaster";
                       return false;
                   }, 3000);


               }
               else {
                   Swal.fire("Alert", "Already This Material Moved to Indent!", "error");
               }
           }
       });
   });
        });
        </script>

        <script>
       var bomMaterialList = JSON.parse('@Html.Raw(bomlist)');

        function onFilterClick() {

    $("#sales").empty();
    var count = 1;
    bomMaterialList.forEach(function (item) {
        if (item != null) {
            var consume = (item.Requiredqty * @Model.quantity).toFixed(2);
            var shortage = ((item.Requiredqty * @Model.quantity) - item.availablestock).toFixed(2);
            if (item.availablestock < (item.Requiredqty * @Model.quantity)) {
                var moveProdButton = '';
                if (item.availablestock <= (item.Requiredqty * @Model.quantity) && item.productype == "SUB") {
                    moveProdButton = `<button class="button-70" role="button"  id="moveprod">Move Prod</button>`;
                } else {
                    moveProdButton = 'Null';
                }

                $("#sales").append(`
                    <tr>
                        <td class="veh1-5">${count}</td>
                        <td class="veh1-5" style="text-align:left;">${item.MaterialNames}</td>
                        <td class="veh1-5">${item.productype}</td>
                        <td class="veh1-5"style="text-align:right;">${item.availablestock != null && item.availablestock != 0 ? item.availablestock : 'Not Added'}</td>
                        <td class="veh1-5"style="text-align:left;">${item.UOMName}</td>
                        <td class="veh1-5" style="color:red;text-align:right;"><u>${consume}</u></td>
                        <td class="veh1-5" style="color:red;text-align:right;"><u>${shortage}</u></td>
                        <td class="veh1-5" style="text-align:left;">${item.UOMName}</td>
                        <td class="veh1-5" style="color: #b9b1b1">Null</td>
                        <td class="veh1-5" style="color: #b9b1b1">Null</td>
                        <td class="productid" style="display: none;">${item.MaterialMasterid}</td>
                        <td style="color: #b9b1b1">${moveProdButton}</td>
                    </tr>
                `);
                count++;
            }
        }
    });
}


        function data() {
            $("#sales").empty();
            var count = 1;
            bomMaterialList.forEach(function (item) {
                if (item != null) {
                    var consume = (item.Requiredqty * @Model.quantity).toFixed(2);
                    var shortage;

                    if (item.availablestock <= consume) {
                        shortage = (consume - item.availablestock).toFixed(2);
                    } else {
                        shortage = 0;
                    }
                    if (item.availablestock >= (item.Requiredqty * @Model.quantity) && item.productype == "SUB") {
                             moveProdButton = 'Null';
                         } else if (item.availablestock >= (item.Requiredqty * @Model.quantity) && item.productype == "MAT") {
                             moveProdButton = 'Null';
                         }else if (item.availablestock <= (item.Requiredqty * @Model.quantity) && item.productype == "MAT") {
                             moveProdButton = 'Null';
                         }
                         else {
                        moveProdButton = `<button class="button-70" role="button"  id="moveprod">Move Prod</button>`;
                         }
                    var rowHtml = `
                <tr>
                    <td class="veh1-5">${count}</td>
                    <td class="veh1-5"style="text-align:left;">${item.MaterialNames}</td>
                    <td class="veh1-5">${item.productype}</td>
                        <td class="veh1-5" style="text-align:right;">${item.availablestock != null && item.availablestock != 0 ? item.availablestock : 'Not Added'}</td>
                    <td class="veh1-5"style="text-align:left;">${item.UOMName}</td>`;

                    if (item.availablestock < consume) {
                        rowHtml += `
                    <td class="veh1-5" style="color:red;text-align:right;"><u>${consume}</u></td>
                    <td class="veh1-5" style="color:red;text-align:right;"><u>${shortage}</u></td>`;
                    } else {
                        rowHtml += `
                    <td class="veh1-5"style="text-align:right;">${consume}</td>
                    <td class="veh1-5"style="text-align:right;">${shortage}</td>`;
                    }

                    rowHtml += `
                    <td class="veh1-5"style="text-align:left;">${item.UOMName}</td>
                    <td class="veh1-5" style="color: #b9b1b1">Null</td>
                    <td class="veh1-5" style="color: #b9b1b1">Null</td>
                    <td class="productid" style="display: none;">${item.MaterialMasterid}</td>
                    <td  style="color: #b9b1b1">${moveProdButton}</td>
                </tr>`;

                    $("#sales").append(rowHtml);
                    count++;
                }
            });
        }



    document.getElementById('toggleBtn').addEventListener('click', function() {
        var toggleState = this.getAttribute('data-tg-off');
        if (toggleState === "Show Details") {
            onFilterClick();
            this.setAttribute('data-tg-off', 'All Material');

        } else {
            this.setAttribute('data-tg-on', 'All Material');
            this.setAttribute('data-tg-off', 'Show Details');
            data();
        }
    });




        function RaiseIndent() {
            var salesorderid = @Model.SalesorderId;
             var salesorderiddt = @Model.SalesorderId_DT;

            $.ajax({
                type: 'POST',
                url: '/SalesOrder/Tempsalesorder',
                data: { id: salesorderid , sodt: salesorderiddt },
                success: function (data) {
                    if (data == 'Success') {
                        Swal.fire({
                            title: 'Success!!',
                            text: 'Successfully Raised the Indent!',
                            icon: 'success',
                            timer: 3000,
                            timerProgressBar: true,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            location.href = "/SalesOrder/SalesOrderMaster";
                            return false;
                        }, 3000);


                    }
                    else {
                        Swal.fire("Alert", "Already This Material Moved to Indent!", "error");
                    }

                }
            });

        }
function RaiseProduction() {
    var salesorderid = @Model.SalesorderId;
    var salesorderiddt = @Model.SalesorderId_DT;
    var ProductNameId = @Model.ProductID;
    $.ajax({
        type: 'POST',
        url: '/SalesOrder/TempProductionstock',
        data: { id: salesorderid, sodt: salesorderiddt, proid: ProductNameId },
        success: function (data) {
            if (data == 'Success') {
                Swal.fire({
                    title: 'Success!!',
                    text: 'Move to Prod Queue !',
                    icon: 'success',
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false
                });
                setTimeout(function () {
                    location.href = "/SalesOrder/SalesOrderMaster";
                    return false;
                }, 3000);


            }
            else {
                Swal.fire("Alert", "Already This Material Moved to Prod Queue!", "error");
            }

        }
    });

}
        </script>

    </body>

</html>
